<%=render :partial => "layouts/notificaciones_acciones"%>


<div class="container">
  <div class="formee">
    <table align="center" class="subprincipal" width="80%" cellspacing="5" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <% if @tramite %>
          <tr style="font-size: 15px;">
            <td align="center" >
              NÚMERO DE EXPEDIENTE: <%=@tramite.numero_expediente%>
            </td>
          </tr>
      <%end%>

      <tr class="tdiagnostico">
        <td align="center" >
          <label>
              DETALLE&nbsp;DE&nbsp;ARCHIVOS&nbsp;ADJUNTOS&nbsp;DEL&nbsp;CONVENIO:
          </label>
        </td>
      </tr>
    </table>
    <br />
    <fieldset>
      <div class="grid-12-12 clear">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
          <tr class="d0">
            <td style="vertical-align: middle;">NP</td>
            <td style="vertical-align: middle;">Descripción</td>
            <td style="vertical-align: middle;">Fecha/hora&nbsp;carga</td>
            <td style="vertical-align: middle;">Cargado&nbsp;por:</td>
            <td style="vertical-align: middle;">&nbsp;</td>
            <td style="vertical-align: middle;">&nbsp;</td>
          </tr>

          <%contador=1%>
          <%@adjuntos.each do |a|%>
            <% if a.activo%>
              <tr>
                <td style="vertical-align: middle;"><%=contador%></td>
                <td style="vertical-align: middle;"><%=h (a.descripcion) ? a.descripcion : "---"%></td>
                <td style="vertical-align: middle;"><%=h a.created_at.strftime("%d/%m/%Y - %H:%M:%S %p")%></td>
                <td style="vertical-align: middle;"><%=h (a.user)? a.user.nombre_completo : ''%></td>
                <td style="vertical-align: middle;"><%= button_to 'Visualizar', {:action => "download", :id => a}, :method => :get, :class => 'boton', :style => "background: green; font-size: 11px;", :formtarget => "_blank" %></td>
                <%if a.user == current_user%>
                    <td style="vertical-align: middle;"><%= button_to 'Eliminar', {:action => "destroy_convenio", :id => a}, :confirm => '¿Esta seguro que desea eliminar el archivo?', :method => :post, :class => 'boton', :style => "background: red; font-size: 11px;" %></td>
                <%end%>
              </tr>
            <%end%>
            <%contador+=1%>
          <%end%>

        </table>
      </div>

    <div class="grid-12-12 clear"></div>



    <!-- Cargar otra evidencia -->
    <% form_for :uploaded_file, @uploaded_file, :url => { :action => "new_convenio", :controller => "upload", :id => @convenio} do -%>
      <div class="grid-center">
        <p id="pdf_link"><input type="submit" title="CARGAR OTRO ARCHIVO" value="+ AGREGAR MÁS ARCHIVOS" style="font-size: 14px;" /></p>
      </div>
    <%end%>






    </fieldset>
  </div>
</div>

