<h1>Cargar nuevo documento</h1>

<%@identificador = (@tramite)? @tramite : @formacion%>
<%@token = (@tramite)? "tramite" : "formacion"%>

<% form_for(@uploaded_file, :url => {:action => "create", :id => @identificador, :token => @token }, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

<%if @tramite%>
  <p>
     Tipo:<br />
    <%= f.select :tipodoc_id, Tipodoc.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%>
  </p>
 <%end%>

  <p>
    Archivo:<br />
    <%= f.file_field :inputfile %>
  </p>
  <p>
    <%= f.submit 'Cargar' %>
  </p>
<% end %>

 <%@url = (@tramite)? {:action => "index", :id => @tramite} : {:action => "docs_formacion", :id => @formacion}%>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) ,  @url%><br />