<h1>Nuevo documento</h1>

<% form_for(@uploaded_file, :url => {:action => "create", :id => @tramite}, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%=f.label "Tipo:"%><br />
    <%= f.select :tipodoc_id, Tipodoc.all.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%>
  </p>

  <p>
    <%= f.label "Archivo:" %><br />
    <%= f.file_field :inputfile %>
  </p>
  <p>
    <%= f.submit 'Cargar' %>
  </p>
<% end %>

<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) ,  :action => "index", :id => @tramite%><br />