<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>

<%if current_user.has_role?(:admin)%>
    <%=h link_to 'ADMINISTRACION', {:controller => "admin"}, :class => "boton"%> >>
<%end%>
  <%if @sala%>
      <%=h link_to "SALAS DE SESIONES",{:action => "show_salas"}, :class => "boton" %> >>
      <%=h link_to @sala.descripcion,{:action => "show_horarios_sesiones_by_sala", :id => @sala}, :class => "boton" %>
  <%else%>
      <%=h link_to "HORARIOS DE SESIONES",{:action => "show_horarios_sesiones"}, :class => "boton" %>
 <%end%>

<div class="titulocalendario">
  <p align="center">HORARIOS DE SESIONES</p>
</div>

<table class="tablakolaval" style="margin: auto; width: 80%;">
    
      <tr>
          <td scope="col" abbr="Starter">SALA</td>
          <td scope="col" abbr="Medium">HORARIO</td>
          <td scope="col" abbr="Medium">¿ACTIVO?</td>
          <td scope="col" abbr="Medium">FECHA DE INICIO</td>
          <td scope="col" abbr="Medium">FECHA DE EXPIRACIÓN</td>
          <td colspan="2">&nbsp;</td>
      </tr>
    
      <%@horarios.each do |horario|%>
        <tr>
            <td><%=horario.sala.descripcion%></td>
            <td><%=horario.hora_completa%></td>
            <td><%=(horario.activo) ? 'SI' : 'NO'%></td>
            <td><%=(horario.fecha_inicio) ? horario.fecha_inicio.strftime("%d DE %B DE %Y").upcase : '-'%></td>
            <td><%=(horario.fecha_expiracion) ? horario.fecha_expiracion.strftime("%d DE %B DE %Y").upcase : '-'%></td>
            <td scope="row">
              <%= (horario.activo) ?  (link_to 'Bloquear horario', { :action => "change_horario_estatus", :controller => "admin", :id => horario, :t => @token}, {:title => "Bloquear horario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post)  : (link_to 'Desbloquear horario', { :action => "change_horario_estatus", :controller => "admin", :id => horario, :t => @token}, {:title => "Desbloquear horario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post) %>
            </td>
            <td><%=link_to "Editar", {:action => "new_or_edit_horario_sesion", :id => horario}, :class => "boton"%></td>
        </tr>
      <%end%>
    
</table><br />

  <table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @horarios %>
          </div>
          <%= will_paginate @horarios %>
        </div>
      </td>
    </tr>
</table>



<!-- Nuevo -->
<p>
  <%=h (link_to "Nuevo", {:controller => "admin", :action => "new_or_edit_horario_sesion"}, :class => 'boton') %>
</p>


