<%= error_messages_for :movimiento %>

<% form_for :movimiento, @movimiento, :url => { :action => "save_permission"} do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" ><%=link_to @user.nombre_completo, {:action => "permissions_user", :id => @user.id}, :style =>"color: yellow; font-size:14px; font-weight:bold;"%> >> NUEVO REGISTRO DE AUSENCIA</td>
    </tr>
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Estatus actual</td>
          <td align="center">Nuevo Estatus</td>
          <td align="center">Fecha/hora inicio</td>
          <td align="center">Fecha/hora fin</td>
        </tr>
        <tr>
          <td align="center"><%=h (@user.situacion) ? @user.situacion.descripcion : "---"%></td>
          <td align="center"><%= f.select :situacion_id, @situaciones.collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%></td>
          <td align="center"><%= f.text_field :fecha_inicio,  :required => true%></td>
          <td align="center"><%= f.text_field :fecha_fin,  :required => true%></td>
        </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
      <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" ></td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Observaciones</td>
        </tr>
        <tr>
          <td align="center"><%=f.text_area :observaciones, :size => "100x2"%></td>
          <td align="center"><%=f.hidden_field :user_id, :value =>  @user.id%></td>
        </tr>
      </table></td>
     </tr>

    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "admin", :action => "show_users"-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>




