<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "permissions_user", :id => @user, :t => generate_token}, :title => "Recargar"%>
</p>

<p><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "admin", :action => "show_users"%></p>


<div class="titulocalendario">
  <p>Ausencias del empleado</p>
  <p><%=@user.nombre_completo%></p>
</div>


<div id="divlista">
    <!-- Historico de movimientos -->
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr>
          <td style="vertical-align: middle;">Tipo</td>
          <td style="vertical-align: middle;">Fecha/hora inicio</td>
          <td style="vertical-align: middle;">Fecha/hora fin</td>
          <td style="vertical-align: middle;">Registró</td>
          <td style="vertical-align: middle;" colspan="3">&nbsp;</td>
      </tr>
      <%@movimientos.each do |m|%>
        <tr>
          <td style="vertical-align: middle;"><b><%=h (m.situacion) ? (m.situacion.descripcion) : "----"%></b></td>
          <td style="vertical-align: middle;"><b><%=m.fecha_inicio.strftime("%Y-%m-%d / %H:%M:%S")%></b></td>
          <td style="vertical-align: middle;"><b><%=m.fecha_fin.strftime("%Y-%m-%d / %H:%M:%S")%></b></td>
          <td style="vertical-align: middle;"><b><%=h (m.autorizo) ? User.find(m.autorizo).nombre_completo : "---"%></b></td>
          <td style="vertical-align: middle;"><%=link_to "Detalle", {:action => "detail_permission", :id => m}, :class => 'boton', :title => "Detalle del Registro"-%></td>
          <%if m.fecha_inicio >= Time.now || Time.now <= (m.fecha_inicio + 3600) || (current_user.has_role?("admin")) || current_user.has_role?("admindireccion")%> <!-- 60 minutos -->
            <td style="vertical-align: middle;"><%=link_to "Cancelar", {:action => "cancel_permission", :id => m, :user => @user}, :confirm => "¿Esta seguro que desea cancelar el registro?", :method => :delete, :class => 'boton', :title => "Cancelar Registro"-%></td>
            <td style="vertical-align: middle;"><%=link_to "Reprogramar", {:action => "redit_permission", :id => m, :user => @user}, :confirm => "¿Esta seguro que desea reprogramar el registro?", :method => :delete, :class => 'boton', :title => "Reprogramar Registro"-%></td>
          <%else%>
             <td style="vertical-align: middle;">&nbsp;</td>
             <td style="vertical-align: middle;">&nbsp;</td>
          <%end%>
        </tr>
        <%clase = invert_class(clase)%>
      <%end%>
    </table><br /><br />



    <table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @movimientos%>
          </div>
          <%= will_paginate @movimientos %>
        </div>
      </td>
    </tr>
    </table>



    <!-- Historico de movimientos -->
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr>
       <%if @user.has_role?("especialistas")%>
          <th colspan="2" align="center">
            <%=link_to "REGISTRAR NUEVA SESION PARA ESPECIALISTA", {:action => "daily_show", :controller => "agenda", :day => Time.now.day, :month=>Time.now.month, :year => Time.now.year, :origin => "agenda"}, :class => 'boton', :title => "Capturar nueva sesión"%>
          </th>
       <%end%>
       <th colspan="2" align="center">
          <%=link_to "REGISTRAR NUEVA AUSENCIA", {:action => "add_permission_user", :controller => "admin", :id => @user, :t => generate_token}, :class => 'boton', :title => "Capturar nuevo registro"%>
       </th>
     </tr>
    </table>
</div>

<br />
  <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "admin", :action => "show_users"%><br />