<div class="titulocalendario">
  <%=link_to 'Listado de Usuarios Activos',{:action => 'show_users'}, :class=> "boton"%> | <%=link_to 'Listado de todos los usuarios', {:action => 'show_users', :token => 'all'},  :class=>"boton"%>
</div>


<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "show_users"}, :title => "Recargar"%>
</p>


<p><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%></p>

<!-- contenido -->

<div id="divlista">
    <table class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; margin: auto; width: 95%;">
      <tr>
        <td style="vertical-align: middle;">&nbsp;</td>
        <td style="vertical-align: middle;">Login</td>
        <td style="vertical-align: middle;">Nombre</td>
        <td style="vertical-align: middle;">Estatus actual</td>
        <td style="vertical-align: middle;">Última conexión</td>

        <%if current_user.has_role?(:admin)%>
          <td style="vertical-align: middle;">IP</td>
        <%end%>

        <td style="vertical-align: center;" colspan="4">Acciones</td>
      </tr>
    <%clase=0%>
    <%@usuarios.each do |user|%>
    <tr class="d<%=invert_class(clase)%>">
      <td style="vertical-align: middle;">
        
      <%=case user.estatus_actual
        when "INCAPACIDAD"
            h(image_tag("iconos/incapacidad.png", :border =>0))
        when "LICENCIA"
            h(image_tag("iconos/licencia2.png", :border =>0))
        when "PERMISO"
            h(image_tag("iconos/permiso2.png", :border =>0))
        when "EN SESION"
           h(image_tag("iconos/ensesion.png", :border =>0))
        when "GUARDIA"
            h(image_tag("iconos/guardia.png", :border =>0))
        when "BAJA"
            h(image_tag("iconos/baja.png", :border =>0))
        else
            h(image_tag("iconos/disponible2.png", :border =>0))
        end%>
      </td>
      <%@baja = (user.situacion == Situacion.find_by_descripcion("BAJA"))? true : false%>

      <td style="vertical-align: middle;"><%=h(user.login)%></td>
      <td style="vertical-align: middle;"><%=h(user.nombre_completo)%></td>
      <td style="vertical-align: middle;"><%=h (user.estatus_actual) ? user.estatus_actual : "----"%></td>
      <td style="vertical-align: middle;"><%=h (user.last_login) ? user.last_login.strftime("%d de %B de %Y - %H:%M:%S") : "Sin conexión"%></td>

      <%if current_user.has_role?(:admin)%>
          <td  style="vertical-align: middle;"><%=h user.last_ip%></td>
          <td  style="vertical-align: middle;">
              <%= (user.activo) ?  (link_to 'Bloquear usuario', { :action => "change_user_estatus", :controller => "admin", :id => user, :t => @token, :back => "show_users"}, {:title => "Bloquear usuario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post)  : (link_to 'Reactivar usuario', { :action => "change_user_estatus", :controller => "admin", :id => user, :t => @token, :back => "show_users"}, {:title => "Reactivar usuario", :class => 'boton'}, :confirm => '¿Esta seguro?', :method => :post) %>
          </td>
      <%end%>

       <%unless @baja%>
            <%if current_user.has_role?("admindireccion")%>
              <td style="vertical-align: middle;"><%=link_to "Editar", {:action => "edit_user", :controller => "admin", :id => user, :t => generate_token}, :class => 'boton'%></td>
                  <%if user.has_role?("especialistas")%>
                      <td style="vertical-align: middle;"><%=link_to "Histórico de Sesiones", {:action => "list_by_user", :controller => "sesiones", :id => user}, :class => 'boton'%></td>
                  <%else%>
                      <td style="vertical-align: middle;">&nbsp;</td>
                  <%end%>
            <%end%>
            <%unless user.has_role?("admin") || user.has_role?("direccion")%>
                  <td style="vertical-align: middle;"><%=link_to "Histórico de Ausencias", {:action => "permissions_user", :controller => "admin", :id => user, :t => generate_token}, :class => 'boton'%></td>
            <%else%>
                  <td style="vertical-align: middle;">&nbsp;</td>
            <%end%>

        <%else%>
                  <!-- Si esta bloqueado no mostramos nada -->
                  <td style="vertical-align: middle;" colspan="3">&nbsp;</td>

       <%end%>
          <%clase = invert_class(clase)%>
    </tr>
    <%end%>
  </table>
</div>


<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @usuarios %>
          </div>
          <%= will_paginate @usuarios %>
        </div>
      </td>
    </tr>
</table>




<%if current_user.has_role?("admin")%>
  <br /><%=link_to "Crear usuario", {:action => "new_from_admin", :controller => "users", :id => @token}, :class => 'boton'  -%>
<%end%>
<br /><br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />