<div class="titulocalendario">
  TRÁMITES INICIADOS POR ESCRITO
</div>

<!-- Nuevo -->
<p>
  <%=h (link_to "Nuevo", {:controller => "atencion", :action => "por_escrito_new_or_edit"}, :class => 'boton') %>
</p>

<!-- contenido -->
<div id="divlista">
    <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <td style="vertical-align: middle;" align="center">Num Exp</td>
          <td style="vertical-align: middle;" align="center">Solicitante</td>
          <td style="vertical-align: middle;" align="center">Participantes</td>
          <td style="vertical-align: middle;" align="center">Fecha/Hora inicial</td>
          <td style="vertical-align: middle;" align="center"><%=h "Estatus actual"%></td>
          <td style="vertical-align: middle;" colspan="3" align="center">Acciones</td>
      </tr>
    
    <%tramite_iniciado_por_escrito=Estatu.find_by_clave("tram-escr")%>
    <%@tramites_por_escrito.each do |e|%>
    <tr>
      <td style="vertical-align: middle;"><b><%=h (e.numero_expediente) ? e.numero_expediente : "----"%></b></td>
      <td style="vertical-align: middle;"><%=h (Orientacion.find_by_tramite_id(e.id)) ? Orientacion.find_by_tramite_id(e.id).solicitante : "----"%></td>
      <%comparecencia = Comparecencia.find(:first, :conditions => ["tramite_id = ?", e.id])%>
      <%if comparecencia%>
          <td style="vertical-align: middle;">
              <%participantes=[]%>
              <%comparecencia.participantes.each do |p|%>
                    <%if p.perfil != "SOLICITANTE"%>
                            <%participantes << "#{p.nombre_completo} (#{p.perfil})"%>
                     <%end%>
              <%end%>
              <%=participantes.join(", ")%>
          </td>
      <%else%>
          <td style="vertical-align: middle;">&nbsp;</td>
      <%end%>

       <td style="vertical-align: middle;"><%=h (e.fechahora) ? e.fechahora.strftime('%d de %B de %Y - %H:%M:%S') : "---"%></td>
       <td style="vertical-align: middle;"><%=h (e.estatus) ? e.estatus : "---"%></td>
       
        <!-- Edicion -->
        <%if ( e.user_id == current_user.id)%>
          <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "atencion", :action => "por_escrito_new_or_edit", :id => e.id}, :class => 'boton') %></td>
        <%end%>

         <!-- Comparecencia -->
        <%if (Comparecencia.find_by_tramite_id(e.id))%>
          <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => e.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Eliminar si es inicio de tramite-->
        <%if (current_user.has_role?("jefeatencionpublico") || e.estatu_id == tramite_iniciado_por_escrito.id)%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:controller => "atencion", :action => "destroy_tramite", :id => e.id}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton', :style => "background-color: red; text-color: white;" -%></td>
        <%end%>

        <!-- resumen general -->
        <td style="vertical-align: middle;"><%=link_to "Resumen", {:controller => "tramites", :action => "show", :id => e.id}, :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div><br />



<div>
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @tramites_por_escrito %>
          </div>
          <%= will_paginate @tramites_por_escrito %>
        </div>
      </td>
    </tr>
</table>
</div>

<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />

