<div class="titulocalendario">
  <p>ADMISIÓN DE ASUNTO</p>
</div>


<!-- ficha -->
<%= render :partial => "ficha"%>
<br /><br />



<!-- historial -->
<%= render :partial => "historial"%>

<!-- Si es procedente -->
<%if @tramite.procedente%>
<script type="text/javascript">
  window.onload = function() {
    document.getElementById("tramite_procedente_si").checked = true;
    document.getElementById("pregunta3").style.display= "inline";
    document.getElementById("pregunta4").style.display= "inline";
    document.getElementById("pregunta5").style.display= "inline";
    document.getElementById("pregunta6").style.display= "inline";
  }
</script>
<%end%>

<!-- Si es no procedente -->
<%if @tramite.noprocedente_id%>
<script type="text/javascript">
  window.onload = function() {
    document.getElementById("tramite_procedente_no").checked = true;
    document.getElementById("pregunta2").style.display= "inline";
  }
</script>
<%end%>

<div class="container">
   <div class="formee-msg-info">
    <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul><li>&nbsp;</li></ul>
  </div>

  
<% form_for :tramite, @tramite, :url => { :action => "update_estatus", :id => @tramite, :type => "admitir" }, :html => {:id => "admision_tramite"} do |f| -%>
  <table class="subprincipal" width="100%" border="0" cellpadding="4" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
      <tr id="pregunta1">
        <td width="100%" align="justify" style=" vertical-align:top;" >
            <div class="grid-12-12">
              <label class="uper"><b>1.- ¿El trámite es procedente?.</b><em class="formee-req"> *</em></label>
          </div>

         <!-- Línea campo -->
            <div class="grid-12-12">
                  <span id="ct_escuela_establecimiento" class="InputGroup">
                   <label class="uper">SI <%= f.radio_button :procedente, "SI", :onclick => "enaPreguntasAsignacionMateria('tramite_procedente', 'tramite_noprocedente_id');" %></label>&nbsp;&nbsp;
                   <label class="uper">NO <%= f.radio_button :procedente, "NO", :onclick => "enaPreguntasAsignacionMateria('tramite_procedente', 'tramite_noprocedente_id');" %></label>
                  </span>
            </div>
        </td>
      </tr>

      <tr id="pregunta2" style="display: none;">
                <!-- Línea Pregunta -->
                <td width="100%" align="justify" style=" vertical-align:top;" >
                <div class="grid-12-12">
                  <label class="uper"><b>2.- Seleccione el motivo por el cual no es procedente.</b><em class="formee-req"> *</em></label>
                </div>
                <!-- Línea campo -->
                <div class="grid-12-12">
                  <span id="motivos_no_procedentes" class="InputGroup">
                    <label class="uper"><%= f. collection_select("noprocedente_id", Noprocedente.all, :id, :descripcion, :include_blank => true)%></label>&nbsp;&nbsp;
                  </span>
                </div>
                <div class="grid-12-12 clean"></div>
                </td><!-- pregunta 2 -->
         </tr>

          <tr id="pregunta3" style="display: none;">
                <!-- Línea Pregunta -->
                <td width="100%" align="justify" style=" vertical-align:top;" >
                <div class="grid-12-12">
                  <label class="uper"><b>2.-Objeto de la solicitud.</b><em class="formee-req"> *</em></label>
                </div>
                <!-- Línea campo -->
                <div class="grid-12-12">
                  <span id="objeto_solicitud">
                    <label class="uper"> <%= f.text_area "objeto_solicitud", :size => "132x3"%></label>&nbsp;&nbsp;
                  </span>
                </div>
                
                </td><!-- pregunta 2 -->
          </tr>

            <tr id="pregunta4" style="display: none;">
                <!-- Línea Pregunta -->
                <td width="100%" align="justify" style=" vertical-align:top;" >
                <div class="grid-12-12">
                  <label class="uper"><b>3.-Observaciones generales.</b></label>
                </div>
                <!-- Línea campo -->
                <div class="grid-12-12">
                  <span id="observaciones_generales">
                    <label class="uper">   <%= f.text_area "observaciones_generales", :size => "132x3"%></label>&nbsp;&nbsp;
                  </span>
                </div>
                
                </td><!-- pregunta 2 -->
          </tr>

          <tr id="pregunta5" style="display: none;">
                <!-- Línea Pregunta -->
                <td width="100%" align="justify" style=" vertical-align:top;" >
                <div class="grid-12-12">
                  <label class="uper"><b>4.-Documentación anexa.</b></label>
                </div>
                <!-- Línea campo -->
                <div class="grid-12-12">
                  <span id="documentacion_anexa">
                    <label class="uper"> <%= f.text_area "documentacion_anexa", :size => "132x3"%></label>&nbsp;&nbsp;
                  </span>
                </div>
                
                </td><!-- pregunta 2 -->
          </tr>

          <tr id="pregunta6" style="display: none;">
                <!-- Línea Pregunta -->
                <td width="100%" align="justify" style=" vertical-align:top;" >
                <div class="grid-12-12">
                  <label class="uper"><b>5.-Seleccione la materia.</b><em class="formee-req"> *</em></label>
                </div>
                <!-- Línea campo -->
                <div class="grid-12-12">
                  <span id="materia" class="InputGroup" style="text-align: center;">
                     <%= f. collection_select("materia_id", Materia.all, :id, :descripcion, :include_blank => true)%>&nbsp;&nbsp;
                  </span>
                </div>
                <div class="grid-12-12 clean"></div>
                </td><!-- pregunta 2 -->
          </tr>


           <tr>
            <td align="right">
                <table>
                  <tr>
                      <td>
                      <input id="button4" class="buttonText" type="submit" title="ADMITIR TRAMITE" value="ADMITIR TRAMITE" />
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                <tr>
                <td colspan="2" >&nbsp;</td>
                </tr>
              </table>
            </td>
            </tr>

  </table>

<% end %>
</div>

<script type="text/javascript">
    jQuery(function(){
      jQuery("#tramite_objeto_solicitud").validate({ expression: "if   ( isNoEmpty(SelfID) || ElementIsChecked('tramite_procedente_no')) return true; else return false;", message: "No puede estar en blanco" });
      jQuery("#tramite_noprocedente_id").validate({ expression: "if   ( isSelectedC(SelfID) || ElementIsChecked('tramite_procedente_si')) return true; else return false;", message: "Seleccione una opción" });
      jQuery("#tramite_materia_id").validate({ expression: "if   ( isSelectedC(SelfID) || ElementIsChecked('tramite_procedente_no')) return true; else return false;", message: "Seleccione una opción" });
    });
</script>

<script type="text/javascript">
  var observaciones = new LiveValidation( 'tramite_observaciones_generales' );
  var documentacion_anexa = new LiveValidation( 'tramite_documentacion_anexa' );
  objeto_solicitud.add( Validate.Length, { maximum: 140 } );
  observaciones.add( Validate.Length, { maximum: 750 } );
  documentacion_anexa.add( Validate.Length, { maximum: 750 } );
</script>


<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "admin", :action => "index"%><br />


