<h3>Asignación de fecha y hora de sesión</h3>

<div id="scroll">
      <table class="sample" width="70%" border="0" cellspacing="2" cellpadding="0" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
                <tr align="center" class="d0">
                  <td width="20%" bgcolor="#E8E8E8">Folio</td>
                  <td width="40%" bgcolor="#E8E8E8">Solicitante</td>
                  <td width="20%" bgcolor="#E8E8E8">Subdirección</td>
                  <td width="20%" bgcolor="#E8E8E8">Materia</td>
                </tr>
                <!-- Registros -->
                <tr align="center" class="d1">
                  <td  bgcolor="#f3f3f3">
                      <%=link_to "#{@tramite.folio_integrado}", {:action => "show", :id => @tramite}%>
                  </td>
                  <td  bgcolor="#f3f3f3">
                    <%if @tramite.orientacion%>
                      <%=@tramite.orientacion.solicitante%>
                    <%else%>
                      ------
                    <%end%>
                  </td>
                  <td bgcolor="#f3f3f3">
                      <%=@tramite.subdireccion.descripcion%>
                  </td>
                  <td bgcolor="#f3f3f3">
                    <div id="materia">
                      <%=@tramite.materia.descripcion%>
                    </div>
                  </td>
                </tr>
        </table>
</div><br /><br /><br />


<div id="scroll">
<% form_tag :action => 'update_estatus', :id =>@tramite do -%>
<table class="sample" width="50%" border="0" cellspacing="2" cellpadding="0" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
          <th colspan="2">
              Fecha/Hora de inicio de sesión
          </th>
          <td>
            <%= collection_select("fechahora", "mediador_id", @users, :id, :nombre_completo, :prompt => '>> Seleccione una opción')%>
          </td>
      </tr>

       
      <tr>
        <th>
          <th class="boton"><%= submit_tag "Guardar", :onclick => "return comprobar();" %></th>
        </th>
      </tr>
  </table>
<% end %>
</div>



<img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" />
<%= observe_field 'sesion_mediador_id',
    :on => "change",
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :url => {:controller => 'tramites',
    :action => 'get_comediador'},
    :update => 'sesion_comediador_id',
    :with => "sesion_mediador_id"%>



<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "tramites", :action => "list"%><br />