<div class="titulocalendario">
  <p>Asignación de especialista y comediador</p>
</div>

<!-- ficha -->
<%= render :partial => "ficha"%>
<br /><br />


<div id="scroll">
<% form_tag :action => 'update_estatus', :id =>@tramite do -%>
<table class="sample" width="50%" border="0" cellspacing="2" cellpadding="0" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
          <th colspan="2">
              Especialista
          </th>
          <td>
            <%= collection_select("sesion", "mediador_id", @users, :id, :nombre_completo, :prompt => '>> Seleccione una opción')%>
          </td>
      </tr>

       <tr style="background-color:gray; color:white">
          <th colspan="2">
              Comediador
          </th>
          <td>
            <%= collection_select("sesion", "comediador_id", @users, :id, :nombre_completo, :prompt => '>> Seleccione una opción')%>
          </td>
      </tr>

       <tr style="background-color:gray; color:white">
          <th colspan="2">
              Tipo de sesión
          </th>
          <td>
            <%= collection_select("sesion", "tiposesion_id", @tipos_sesiones, :id, :descripcion, :prompt => '>> Seleccione una opción')%>
          </td>
      </tr>

      <tr>
        <th>
          <th class="boton"><%= submit_tag "Agregar", :onclick => "return comprobar();" %></th>
        </th>
      </tr>
  </table>
<% end %>
</div>



<img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" />
<%= observe_field 'sesion_mediador_id',
    :on => "change",
    :before => "Element.show('spinner')",
    :success => "Element.hide('spinner')",
    :url => {:controller => 'tramites',
    :action => 'get_comediador'},
    :update => 'sesion_comediador_id',
    :with => "sesion_mediador_id"%>



<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "tramites", :action => "list"%><br />