<div class="titulocalendario">
  <p>TRAMITES</p>
</div>


<table class="tablakolaval" style="width: 90%; margin: auto;">
<% form_tag :action => "filtrar_tramites" do -%>

  

  <tr>
    <th rowspan="5" align="center">
      <%=image_tag 'iconos/busqueda_tramites.png', :title => "Búsqueda de trámites"%>
    </th>
  </tr>


  <tr>
    <th class="LabelBusquedaTramite">Carpeta de Atención/Expediente: </th>
    <th><%= text_field_tag  "carpeta_atencion", @carpeta_atencion, :placeholder => "Ejemplo: 0036/2014", :class => "SelectBusquedaTramite"%></th>
  </tr>
  
  <tr>
    <th class="LabelBusquedaTramite">Nombre o apellidos del participante/involucrado: </th>
    <th><%= text_field_tag  "participante", @participante, :placeholder => "Ejemplo: Rebeca Esquinca Robles / Esquinca Robles ", :size => "40", :class => "SelectBusquedaTramite" %></th>
  </tr>
  

  <tr>
    <th class="LabelBusquedaTramite">Razón Social:</th>
    <th><%= text_field_tag  "razon_social", @razon_social, :placeholder => "Ejemplo: Constructora ABC", :size => "40", :class => "SelectBusquedaTramite" %></th>
  </tr>
  

   <tr>
     
    <th class="LabelBusquedaTramite">Estatus: <br /></th>

    <%ids = []%>
       <%current_user.roles.each do |role| ids << role.id end%>
       <%@estatuses = Estatu.find(:all, :conditions => ["id in (?)",  ids])%>
       
       <th><%=select("busqueda", "estatu_id", @estatuses.collect {|mt| [ mt.descripcion, mt.id ] }, {:include_blank => 'Selecciona el estatus'})%></th>
   
  </tr>

  
    <tr>
      <th  align="center" rowspan="2" colspan="4"><%= submit_tag 'BUSCAR REGISTROS' %></th>
    </tr>
    
<% end -%>
</table>
<br />
