<div class="titulocalendario">
  <p>TRAMITES</p>
</div>


<table class="tablakolaval" style="width: 84%; margin: auto;">
<% form_tag :action => "filtrar_tramites" do -%>

  

  <tr>
    <th rowspan="5" align="center" style="background-color: white;">
      <%=image_tag 'iconos/busqueda_tramites.png', :title => "Búsqueda de trámites"%>
    </th>
  </tr>


  <tr>
    <th class="LabelBusquedaTramite">Número de Expediente: </th>
    <th><%= text_field_tag  "carpeta_atencion", @carpeta_atencion, :placeholder => "Ejemplo: 0036/2014   ", :class => "SelectBusquedaTramite"%></th>
  </tr>
  
  <tr>
    <th class="LabelBusquedaTramite">Nombre o apellidos <br />de solicitante o involucrado: </th>
    <th><%= text_field_tag  "participante", @participante, :placeholder => "Ejemplo: Rebeca Esquinca Robles / Esquinca Robles    ", :size => "60", :class => "SelectBusquedaTramite" %></th>
  </tr>
  
  <tr>
    <th class="LabelBusquedaTramite">Razón Social:</th>
    <th><%= text_field_tag  "razon_social", @razon_social, :placeholder => "Ejemplo: Constructora ABC    ", :size => "60", :class => "SelectBusquedaTramite" %></th>
  </tr>
  

   <tr>
    <th class="LabelBusquedaTramite">Estatus del trámite: <br /></th>
    
      <%

         @estatuses = Estatu.find(:all, :group => "estatus.clave",  :select => "estatus.*",
           :joins => "estatus, estatus_roles er, roles r, roles_users ru, users u",
           :conditions => ["estatus.id=er.estatu_id AND er.role_id=r.id AND
                                    r.id=ru.role_id AND ru.user_id = u.id AND
                                    u.id = ?", current_user.id], :order => "estatus.id")
        %>

       <th><%=select("busqueda", "estatu_id", @estatuses.collect {|mt| [ mt.descripcion, mt.id ] }, {:include_blank => 'Selecciona una opción'})%></th>
  </tr>

   
  
    <tr>
      <th  align="center" rowspan="2" colspan="4" style=" padding: 8px;"><%= submit_tag 'BUSCAR REGISTROS' %></th>
    </tr>

    <tr>
      <th>&nbsp;</th>
    </tr>
    
<% end -%>
</table>
<br />
