<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>

<%if current_user.has_role?("asignahorario")%>
<p align="center">
    <%=link_to "CAPTURAR EXPEDIENTE HISTORICO", {:action => "new_or_edit", :controller => "tramites"}, :title => "Captura de expedientes historicos", :class => "boton"%>
</p>
<%end%>

<!-- contenido -->
<div id="divlista">

  <p align="center">
    Total de registros encontrados: <%=@tramites.size%>
  </p>

    <table width="93%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; font-size:13px;">
      <tr>
        <%if current_user.has_role?("admin")%>
          <td style="vertical-align: middle;" align="center">&nbsp;</td>
        <%end%>
         <td style="vertical-align: middle;" align="center">&nbsp;</td>
          <td style="vertical-align: middle;" align="center">&nbsp;</td>
         <td style="vertical-align: middle;" align="left">Trámite</td>
         <td style="vertical-align: middle;" align="left">Número de Expediente</td>
         <%if (current_user.has_role?(:convenios) || current_user.has_role?(:jefeconvenios) || current_user.has_role?(:subdireccion) || current_user.has_role?(:direccion) ) %>
              <td style="vertical-align: middle;" align="left">Materia</td>
         <%end%>
         <td style="vertical-align: middle;" align="center">Nombre del Solicitante</td>
         <td style="vertical-align: middle;" align="center"><%=h "Estatus"%></td>
         <td style="vertical-align: middle;" colspan="7" align="center">Acciones</td>
      </tr>
    <%clase=1%>
    <%tramite_iniciado_estatus = Estatu.find_by_clave("tram-inic")%>
    <%solo_orientacion = Estatu.find_by_clave("no-compar")%>
    <%comparecencia_concluida = Estatu.find_by_clave("comp-conc")%>
    <%tramite_reasignado = Estatu.find_by_clave("tram-reas")%>
    <%materia_asignada = Estatu.find_by_clave("mate-asig")%>
    <%orientacion_confirmada = Estatu.find_by_clave("orie-conf")%>
    <%tramite_extraordinario = Estatu.find_by_clave("tram-extr")%>
    <%tramite_no_admitido = Estatu.find_by_clave("tram-noad")%>
    <%tramite_en_proceso_convenio = Estatu.find_by_clave("proc-conv")%>
    <%tramite_concluido = Estatu.find_by_clave("tram-conc")%>
    <%mecanismo_alternativo = Estatu.find_by_clave("meca-asig")%>
    <%resultado_sesion_capturado = Estatu.find_by_clave("en-sesion")%>

    <%contador=1%>
    <%@tramites.each do |tramite|%>
      <%clase  = (tramite.concluido)? 'fondo_concluido' : 'inherit' %>
      <tr class="<%=h clase%>">
          <%if current_user.has_role?("admin")%>
              <td style="vertical-align: middle; text-align: 'center';" width="2%"><%=link_to "&#10754;", {:action => "destroy", :controller => "tramites", :id => tramite}, :confirm => "¿Está seguro que desea eliminar el registro?", :title => "ELIMINAR" %></td>
              <td style="vertical-align: middle; text-align: 'center';" width="2%"><%=link_to "&#9416;", {:action => "change_estatus_tramite", :controller => "admin", :id => tramite}, :confirm => "¿Está seguro que desea cambiar el estatus?", :title => "CAMBIAR ESTATUS" %></td>
          <%end%>

        <%if tramite.fechahora%>
          <td style="vertical-align: middle; text-align: 'center';" width="3%"><%=link_to image_tag("kolaval/ico-print-tramite.jpg", :border => 0), {:controller => "tramites", :action => "show", :id => tramite }, :title => tramite.fechahora.strftime('%d de %B de %Y - %H:%M:%S')-%></td>
        <%end%>

       <td style="vertical-align: middle;" width="3%" align="center">
         <!-- MENU -->
         <%if current_user.has_role?(:admin)%>
              <%=link_to (image_tag 'kolaval/ico-opciones.jpg', :size => "24x24"), {:action => "menu", :id => tramite}, :title => "MENU DE ETAPAS"%>
         <%elsif  current_user.has_role?(:direccion) || current_user.has_role?(:subdireccion)%>
              <%=link_to (image_tag 'kolaval/ico-opciones.jpg', :size => "24x24"), {:action => "menu", :id => tramite}, :title => "MENU DE ETAPAS"%>
         <%else%>
             &nbsp;
         <%end%>
       </td>
       <td><%=h "##{tramite.folio_integrado}"%></td>
       <td style="vertical-align: middle;" align="center" width="9%">
         <%if tramite.numero_expediente%>
            <!-- Si existe registro de comparecencia -->
              <%if current_user.has_role?(:admin) && Comparecencia.exists?(:tramite_id => tramite.id)%>
                  <%=h (link_to tramite.numero_expediente, {:controller => "tramites", :action => "cambiar_folio_expediente", :id => tramite}, :confirm => "¿Está seguro que desea modificar el folio de expediente?", :style=> "font-weight: bold;")%>
              <%else%>
                    <b><%=h (tramite.numero_expediente)? tramite.numero_expediente : ""%></b>
              <%end%>
          <%end%>
      </td>
       
       <!-- Materia -->
       <%if (current_user.has_role?(:convenios) || current_user.has_role?(:jefeconvenios) || current_user.has_role?(:subdireccion) || current_user.has_role?(:direccion) ) %>
          <%if tramite.materia%>
              <td style="vertical-align: middle;" width="5%"><%=h tramite.materia.descripcion%></td>
           <%else%>
              <td style="vertical-align: middle;" width="5%">&nbsp;</td>
          <%end%>
       <%end%>

        <td style="vertical-align: middle;" width="26%"><%=h tramite.solicitante_orientacion%></td>
       <td style="vertical-align: middle;" width="20%"><b><%=tramite.estatus%></b></td>

       <!-- siguiente estatus -->
       <%ids = []%>
       <%current_user.roles.each do |role| ids << role.id end%>
       <%flujos = Flujo.find(:all, :conditions => ["old_status_id = ? and role_id in (?)", tramite.estatu_id, ids])%>
       <%if flujos.size > 0%>
            <%flujos.each do |flujo|%>
                 <td style="vertical-align: middle;"><%=link_to "#{flujo.descripcion}", {:action => "update_estatus", :id => tramite, :new_st => flujo.new_status_id}, :confirm => "¿Esta seguro que desea cambiar el estatus?", :method => :delete, :class => 'boton' -%></td>
            <%end%>
       <%else%>
            <%#*<td style="vertical-align: middle;">&nbsp;</td>%>
       <%end%>

        <%clase = invert_class(clase)%>

        <!-- Liberar expediente concluido -->
        <% if Concluido.exists?(:tramite_id => tramite.id) %>
              <%if (tramite.estatu_id == tramite_concluido.id || tramite.estatu_id == mecanismo_alternativo.id || tramite.estatu_id == resultado_sesion_capturado.id) && (current_user.has_role?("admindireccion") || current_user.has_role?("direccion") ||  current_user.has_role?("subdireccion"))%>
                <td style="vertical-align: middle;"><%=h (link_to "Deshacer conclusión", {:controller => "tramites", :action => "concluir_undo", :id => tramite.id}, :confirm => "¿Está seguro que desea liberar expediente ya concluido?" , :class => "boton")%></td>
              <%end%>
        <%end%>


         <!-- Editar archivo enviado al archivo judicial -->
         <% if Archivojudicial.exists?(:tramite_id => tramite.id) %>
              <%if (aj = Archivojudicial.find(:first, :conditions => ["user_id = ?", current_user.id])) || current_user.has_role?(:jefeconvenios)%>
                    <td style="vertical-align: middle;"><%=h (link_to "Editar envío a archivo", {:controller => "tramites", :action => "edit_archivo_judicial", :id => aj.id}, :confirm => "¿Está seguro que desea editar el envío a archivo judicial?" , :class => "boton")%></td>
              <%end%>
         <%end%>

        <!-- Cancelacion de tramites -->
        <%if (tramite.estatu_id == comparecencia_concluida.id || tramite.estatu_id == tramite_extraordinario.id || tramite.estatu_id == materia_asignada.id ) && (current_user.has_role?("cancelatramite") || current_user.has_role?("direccion"))%>
             <td style="vertical-align: middle;"><%=h (link_to "Cancelar", {:controller => "tramites", :action => "cancel_form", :id => tramite.id}, :class => "fancybox fancybox.iframe boton", :confirm => "¿Está seguro que desea cancelar el registro?" )%></td>
        <%end%>

         <!-- Cambiar a solo orientacion solo admin y oficina administrativa -->
         <%if (tramite.estatu_id == comparecencia_concluida.id) && (current_user.has_role?(:admin) || current_user.has_role?(:admindireccion))%>
                <%ultimo_folio_anio = Tramite.maximum(:folio_expediente, :conditions => ["anio = ?", Time.now.year]) %>
                <%if comparecencia = Comparecencia.find(:first, :select => "id, tramite_id", :conditions => ["tramite_id = ?", tramite.id])%>
                    <%if comparecencia.tramite.anio == Time.now.year.to_s && comparecencia.tramite.folio_expediente == ultimo_folio_anio.to_i%>
                          <td style="vertical-align: middle;"><%=h (link_to "Cambiar a orientacion", {:controller => "comparecencias", :action => "change_to_orientacion", :id => comparecencia.id, :token => "partial"}, :class => "fancybox fancybox.iframe boton", :confirm => "¿Está seguro que desea cancelar el registro?" )%></td>
                    <%end%>
                <%end%>
         <%end%>

        <!-- Muestra icono de convenios si ya se subio archivo por parte de especialistas -->
        <%if current_user.has_role?("convenios") || current_user.has_role?("subdireccion") || current_user.has_role?("direccion")%>
          <%if ((tramite.estatu_id == tramite_en_proceso_convenio.id))%>
              <td style="vertical-align: middle;"><%=h (link_to "Convenios", {:controller => "convenios", :action => "list_by_tramite", :id => tramite.id}, :class => "boton", :title => "Convenios capturados por especialistas" )%></td>
          <%end%>
        <%end%>


        <!-- Reasignacion -->
        <%if current_user.has_role?("atencionpublico")%>
            <%if ((tramite.estatu_id == tramite_iniciado_estatus.id || tramite.estatu_id == tramite_reasignado.id)  && (tramite.user_id == current_user.id || current_user.has_role?("admin")))%>
              <td style="vertical-align: middle;"><%=h (link_to "Reasignar", {:controller => "orientacions", :action => "reasignar", :id => tramite.id}, :class => 'boton') %></td>
            <%else%>

             <!-- Editar orientacion si fue el usuario que capturo -->
             <%if Orientacion.find(:first, :select => "t.id", :joins => "o, tramites t", :conditions => ["o.tramite_id=t.id AND o.tramite_id = ? AND t.user_id = ?", tramite.id, current_user.id])%>
                  <td style="vertical-align: middle;"><%=h (link_to "Editar Orientación", {:controller => "orientacions", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
             <%end%>
         <%end%>
        <%end%>

        <!-- Confirmación -->
        <%if (current_user.has_role?("admin") || current_user.has_role?("direccion") || (current_user.has_role?("atencionpublico")) && ((2.days.ago..Time.now).include?(tramite.fechahora)))%>
          <%if ((tramite.estatu_id == tramite_iniciado_estatus.id || tramite.estatu_id == tramite_reasignado.id || tramite.estatu_id == orientacion_confirmada.id)  && (tramite.user_id == current_user.id || current_user.has_role?("atencionpublico") || current_user.has_role?("direccion")))%>
            <td style="vertical-align: middle;"><%=h (link_to "Confirmar", {:controller => "orientacions", :action => "confirmar", :id => tramite.id}, :title => "Confirmar orientacion", :class => "fancybox fancybox.iframe boton") %></td>
          <%end%>
        <%end%>

        <!-- Edicion -->
        <%if (tramite.estatu_id == tramite_iniciado_estatus.id && tramite.user_id == current_user.id)%>
           <!-- Levantara comparecencia si es director -->
           <%if current_user.has_role?("direccion")%>
              <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
            <%end%>
           <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "orientacions", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Si la orientacion se confirmo y director o subdirector levantará comparencias -->
        <%if (tramite.estatu_id == orientacion_confirmada.id && (current_user.has_role?("direccion") || current_user.has_role?("subdireccion")))%>
             <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Eliminar si es inicio de tramite-->
        <%if (tramite.estatu_id == tramite_iniciado_estatus.id && (current_user.has_role?("captura")))%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>

        <!-- Eliminar si es solo orientacion-->
        <%if (tramite.estatu_id == solo_orientacion.id && current_user.has_role?("admin"))%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>

        <!-- Edicion si es solo captura -->
        <!--
        <if (tramite.estatu_id ==solo_orientacion.id && tramite.user_id == current_user.id)%>
          <td style="vertical-align: middle;"><=h (link_to "Editar", {:controller => "orientacions", :action => "captura_historica", :id => tramite.id}, :class => 'boton') %></td>
        <end%>
        -->

        <!-- Mostrar o modificar número de expediente -->
        <%if (tramite.estatu_id ==comparecencia_concluida.id && (current_user.has_role?("captura") || current_user.has_role?("jefeatencionpublico")))%>
          <td style="vertical-align: middle;"><%=h (link_to "Núm Expediente", {:controller => "tramites", :action => "show_info_expediente", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Modificar asignacion de materia -->
        <%if (tramite.estatu_id == materia_asignada.id || tramite.estatu_id = tramite_no_admitido.id) && (current_user.has_role?("convenios") || current_user.has_role?("asignamateria")) && (current_user.has_role?(:jefeconvenios) || Historia.find(:first, :conditions => ["tramite_id = ? AND estatu_id  in (?) and user_id = ?", tramite.id, [materia_asignada.id, tramite_no_admitido.id], current_user.id ]))%>
             <td style="vertical-align: middle;"><%=h (link_to "Cambiar materia", {:controller => "tramites", :action => "change_materia", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- resumen general -->
        <!--
         <td style="vertical-align: middle;"><=link_to "Resumen", {:action => "show", :id => tramite}, :class => 'boton'  -%></td>
         -->
      </tr>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @tramites %>
          </div>
          <%= will_paginate @tramites, :params => { :participante => @participante, :razon_social => @razon_social, :estatus => @estatus  } %>
        </div>
      </td>
    </tr>
</table>
