<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>

<!-- contenido -->
<div id="divlista">

  <p align="center">
    Total de registros encontrados: <%=@tramites.size%>
  </p>

    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; font-size:11px;">
      <tr style="background-color:gray; color:white; height: 50px;">
        <th style="vertical-align: middle;" align="center">Resumen</th>
         <th style="vertical-align: middle;" align="center">Folio</th>
         <th style="vertical-align: middle;" align="center">Carpeta de Atención</th>
         <th style="vertical-align: middle;" align="center">Nombre del Solicitante</th>
         <th style="vertical-align: middle;" align="center"><%=h "Estatus"%></th>
         <th style="vertical-align: middle;" colspan="7" align="center">Acciones</th>
      </tr>
    <%clase=1%>
    <%tramite_iniciado_estatus = Estatu.find_by_clave("tram-inic")%>
    <%solo_orientacion = Estatu.find_by_clave("no-compar")%>
    <%comparecencia_concluida = Estatu.find_by_clave("comp-conc")%>
    <%tramite_reasignado = Estatu.find_by_clave("tram-reas")%>
    <%materia_asignada = Estatu.find_by_clave("mate-asig")%>
    <%orientacion_confirmada = Estatu.find_by_clave("orie-conf")%>
    <%tramite_extraordinario = Estatu.find_by_clave("tram-extr")%>
    <%tramite_no_admitido = Estatu.find_by_clave("tram-noad")%>

    <%contador=1%>
    <%@tramites.each do |tramite|%>
    <tr class="d<%=invert_class(clase)%>">
       <td style="vertical-align: middle;" width="4%"><%=link_to image_tag("iconos/show.png", :border => 0), {:controller => "tramites", :action => "show", :id => tramite }, :title => tramite.fechahora.strftime('%d de %B de %Y - %H:%M:%S')%></td>
       <td style="vertical-align: middle;" width="6%"><%=link_to "##{tramite.folio_integrado}", {:action => "menu", :id => tramite}%></td>
       <td style="vertical-align: middle;" width="5%"><b><%=h (tramite.numero_expediente)? tramite.numero_expediente : ""%></b></td>
       <td style="vertical-align: middle;" width="35%"><%=h (tramite.orientacion) ? tramite.orientacion.solicitante : "----"%></td>
       <!--
       <td style="vertical-align: middle;" width="4%"><=link_to image_tag("iconos/fecha.jpg", :border => 0), {:controller => "tramites", :action => "show", :id => tramite }, :title => tramite.fechahora.strftime('%d de %B de %Y - %H:%M:%S')%></td>
       -->
       <td style="vertical-align: middle;" width="20%"><%=tramite.estatus%></td>

       <!-- siguiente estatus -->
       <%ids = []%>
       <%current_user.roles.each do |role| ids << role.id end%>
       <%flujos = Flujo.find(:all, :conditions => ["old_status_id = ? and role_id in (?)", tramite.estatu_id, ids])%>
       <%if flujos.size > 0%>
            <%flujos.each do |flujo|%>
                 <td style="vertical-align: middle;"><%=link_to "#{flujo.descripcion}", {:action => "update_estatus", :id => tramite, :new_st => flujo.new_status_id}, :confirm => "¿Esta seguro que desea cambiar el estatus?", :method => :delete, :class => 'boton' -%></td>
            <%end%>
       <%else%>
            <td style="vertical-align: middle;">&nbsp;</td>
       <%end%>

        <%clase = invert_class(clase)%>

        <!-- Cancelacion de tramites -->
        <%if (tramite.estatu_id == comparecencia_concluida.id || tramite.estatu_id == tramite_extraordinario.id ) && (current_user.has_role?("cancelatramite") || current_user.has_role?("direccion"))%>
             <td style="vertical-align: middle;"><%=h (link_to "Cancelar", {:controller => "tramites", :action => "cancel_form", :id => tramite.id}, :confirm => "¿Esta seguro que desea cancelar el trámite?", :class => "fancybox fancybox.iframe") %></td>
        <%end%>


        <!-- Reasignacion -->
        <%if current_user.has_role?("atencionpublico")%>
          <%if ((tramite.estatu_id == tramite_iniciado_estatus.id || tramite.estatu_id == tramite_reasignado.id)  && (tramite.user_id == current_user.id || current_user.has_role?("admin")))%>
            <td style="vertical-align: middle;"><%=h (link_to "Reasignar", {:controller => "orientacions", :action => "reasignar", :id => tramite.id}, :class => 'boton') %></td>
          <%end%>
        <%end%>

        <!-- Confirmación -->
        <%if (current_user.has_role?("admin") || current_user.has_role?("direccion") || (current_user.has_role?("atencionpublico")) && tramite.fechahora.yday == Time.now.yday)%>
          <%if ((tramite.estatu_id == tramite_iniciado_estatus.id || tramite.estatu_id == tramite_reasignado.id)  && (tramite.user_id == current_user.id || current_user.has_role?("atencionpublico") || current_user.has_role?("direccion")))%>
            <td style="vertical-align: middle;"><%=h (link_to "Confirmar", {:controller => "orientacions", :action => "confirmar", :id => tramite.id}, :title => "Confirmar orientacion", :class => "fancybox fancybox.iframe") %></td>
          <%end%>
        <%end%>

        <!-- Edicion -->
        <%if (tramite.estatu_id == tramite_iniciado_estatus.id && tramite.user_id == current_user.id)%>
           <!-- Levantara comparecencia si es director -->
           <%if current_user.has_role?("direccion")%>
              <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
            <%end%>
           <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "orientacions", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Si la orientacion se confirmo y director o subdirector levantará comparencias -->
        <%if (tramite.estatu_id == orientacion_confirmada.id && (current_user.has_role?("direccion") || current_user.has_role?("subdireccion")))%>
             <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Eliminar si es inicio de tramite-->
        <%if (tramite.estatu_id == tramite_iniciado_estatus.id && (current_user.has_role?("captura")))%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>

        <!-- Eliminar si es solo orientacion-->
        <%if (tramite.estatu_id == solo_orientacion.id && current_user.has_role?("admin"))%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>

         <!-- Edicion si es solo captura -->
        <%if (tramite.estatu_id ==solo_orientacion.id && tramite.user_id == current_user.id)%>
          <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "orientacions", :action => "captura_historica", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Mostrar o modificar número de expediente -->
        <%if (tramite.estatu_id ==comparecencia_concluida.id && (current_user.has_role?("captura") || current_user.has_role?("jefeatencionpublico")))%>
          <td style="vertical-align: middle;"><%=h (link_to "Núm Expediente", {:controller => "tramites", :action => "show_numero_expediente", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Modificar asignacion de materia -->
        <%if (tramite.estatu_id == materia_asignada.id || tramite.estatu_id = tramite_no_admitido.id) && (current_user.has_role?("convenios") || current_user.has_role?("asignamateria")) && (Historia.find(:first, :conditions => ["tramite_id = ? AND estatu_id  in (?) and user_id = ?", tramite.id, [materia_asignada.id, tramite_no_admitido.id], current_user.id ]))%>
             <td style="vertical-align: middle;"><%=h (link_to "Cambiar materia", {:controller => "tramites", :action => "change_materia", :id => tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- resumen general -->
        <!--
         <td style="vertical-align: middle;"><=link_to "Resumen", {:action => "show", :id => tramite}, :class => 'boton'  -%></td>
         -->
      </tr>
    <%end%>
  </table>
</div>

<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @tramites %>
          </div>
          <%= will_paginate @tramites %>
        </div>
      </td>
    </tr>
</table>
