<%if @tramite.estatu.clave == "tram-canc"%>
  <div class="titulocalendario">
    <!-- Si es cancelado -->
     <div class="watermark">Trámite cancelado </div>
     <%if @tramite.motivo_cancelacion_id%>
        <p>
          <h4>Motivo: <%=h (MotivoCancelacion.find( @tramite.motivo_cancelacion_id)) ? MotivoCancelacion.find( @tramite.motivo_cancelacion_id).descripcion : "-----"%></h4>
          <h4>Observaciones: <%=h (@tramite.cancelacion_observaciones) ? @tramite.cancelacion_observaciones : "----"%></h4>
        </p>
    <%end%>
   </div>
<%end%>

<%if @tramite.concluido%>
  <div class="titulocalendario">
    <!-- Si es cancelado -->
     <div class="watermark">CONCLUIDO </div>
     <%if @tramite.concluido%>
     <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid; font-family: 'Nexa Light'; font-size: 15px;">
            <tr class="d1">
                <td style="vertical-align: middle;" colspan="2"><b><%=h @tramite.concluido.motivo_conclusion.descripcion_completa%></b></td>
            </tr>
            <tr class="d0">
              <td style="vertical-align: middle;"><b>Observaciones:</b></td>
              <td style="vertical-align: middle;"><%=h @tramite.concluido.observaciones_conclusion%></td>
            </tr>
            <tr class="d1">
              <td style="vertical-align: middle;"><b>Concluido por  /  fecha-hora:</b></td>
              <td style="vertical-align: middle;"><%=h User.find(@tramite.concluido.user_id).nombre_completo%>  /   <%=h @tramite.concluido.updated_at.strftime("%d-%m-%Y - %H:%M %p")%></td>
            </tr>
     </table>
      <%end%>
   </div>
<%end%>





<div class="titulocalendario">
  <p style="font-size: 22px;"><b>Resumen General</b></p>
  <p>Folio de trámite: <b><%=link_to @tramite.folio_integrado, {:action => "menu", :id => @tramite}, :style => "color: gray;"%></b></p>
  <p>Número de expediente: <b><%=h (@tramite.numero_expediente) ? (@tramite.numero_expediente) : "----"%></b></p>
</div>


<div id="divlista">
  
  <p align="center">
    <%= link_to image_tag("kolaval/ico-print.jpg", :border =>0) , { :action => "show_pdf", :controller => "tramites", :id => "#{@tramite.id}.pdf", :method => "post"}, :title => "Imprimir",  :html => { :target => "_blank"} %>
  </p>
  

  <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 0px solid;">

    <!-- Si es concluido -->

    <!--
    <if Concluido.find(:first, :conditions => ["tramite_id = ?", @tramite.id])%>
      <div class="watermark">Trámite concluido</div>
    <end%>
    -->



    <tr style="background-color:gray; color:white">
      <th colspan="2">
        Datos generales
      </th>
     </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Trámite iniciado por:</b></td>
       <td style="vertical-align: middle;"> <%=h(@tramite.user_id ? User.find(@tramite.user_id).nombre_completo : "No existe información")%></td>
    </tr>

   <%if @tramite.orientacion%>
   
    <tr class="d0">
       <td style="vertical-align: middle;"><b>Fecha/hora que se llevó a cabo la orientación:</b></td>
       <td style="vertical-align: middle;"> <%=h(@tramite.orientacion.fechahora ? @tramite.orientacion.fechahora.strftime("%d de %B de %Y - %H:%M:%S %p") : "No existe información")%></td>
    </tr>


      <%if User.find_by_id(@tramite.orientacion.especialista_id)%>
        <tr class="d0">
          <td style="vertical-align: middle;"><b>Especialista para orientación:</b></td>
          <td style="vertical-align: middle;"> <%=h(User.find(@tramite.orientacion.especialista_id) ? User.find(@tramite.orientacion.especialista_id).nombre_completo : "No existe información")%></td>
        </tr>
      <%end%>
   <%end%>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Solicitante:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.solicitante : "No existe información")%></td>
    </tr>

    <tr class="d0">
      <td style="vertical-align: middle;"><b>Observaciones:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.observaciones : "No existe información")%></td>
    </tr>

    
    <!-- Datos de ubicacion -->
    <tr class="d1">
       <td style="vertical-align: middle;"><b>Correo electrónico:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.correo : "---")%></td>

    </tr>
    <tr class="d0">
      <td style="vertical-align: middle;"><b>Dirección:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.direccion : "---")%></td>
    </tr>

    <%if @tramite.orientacion%>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Estado / Municipio:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion.municipio ? @tramite.orientacion.municipio.descripcion_jerarquica : "---")%></td>
    </tr>

    <tr class="d0">
       <td style="vertical-align: middle;"><b>País:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion.pais ? @tramite.orientacion.pais.descripcion : "---")%></td>
    </tr>
    <%end%>

    <tr class="d0">
       <td style="vertical-align: middle;"><b>Teléfono:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.telefono : "---")%></td>
    </tr>
  </table>
  <br />

  <!-- Calificación de asunto -->


    <%if @tramite.materia%>
      <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
        <tr style="background-color:gray; color:white">
          <th colspan="2">
            Calificación de asunto:
          </th>
        </tr>

        <tr class="d0">
           <td style="vertical-align: middle;"><b>Procedente:</b></td>
          <td style="vertical-align: middle;"><%=h (@tramite.procedente == true) ? "Procedente" : "No procedente"%></td>
        </tr>

        <%if @tramite.materia%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Materia:</b></td>
            <td style="vertical-align: middle;"><%=h  @tramite.materia.descripcion%></td>
          </tr>
        <%end%>

        <%if @tramite.noprocedente%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Motivo de no procedente:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.noprocedente.descripcion%></td>
          </tr>
        <%end%>
   
        <!--- objeto de la solicitud -->
        <%if @tramite.objeto_solicitud%>
          <tr class="d0">
            <td style="vertical-align: middle;"><b>Objeto de la solicitud:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.objeto_solicitud%></td>
          </tr>
        <%end%>

        <!--- observaciones generales -->
        <%if @tramite.observaciones_generales%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Observaciones generales:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.observaciones_generales%></td>
          </tr>
        <%end%>
        <!--- observaciones generales -->
        <%if @tramite.documentacion_anexa%>
          <tr class="d0">
            <td style="vertical-align: middle;"><b>Documentación anexa:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.documentacion_anexa%></td>
          </tr>
        <%end%>
      </table>
  <%end%>

  <br />

 <%if @comparecencia = @tramite.comparecencia%>
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="2">
          Datos de la comparecencia
        </th>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Procedencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.procedencia%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Carácter con el que compadece:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.caracter%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Datos:</b></td>
        <td style="vertical-align: middle;"><%=h (@comparecencia.datos)? @comparecencia.datos : "No existe información"%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Día/hora de preferencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.dia_preferencia%> / <%=@comparecencia.hora_preferencia%></td>
      </tr>
    </table><br />

    <!-- detalle del asunto -->
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
       <th colspan="2">
           Detalle del asunto
       </th>
     </tr>

      <tr class="d0">

        <!-- Si es concluido -->
          <!--
          <if Concluido.find(:first, :conditions => ["tramite_id = ?", @tramite.id])%>
            <div class="watermark">Trámite concluido</div>
          <end%>
           -->

        <th colspan="2" width="95%">
          <%=text_area :comparecencia, :asunto, :cols => 64, :disabled => true%>
        </th>
      </tr>
     </table>
     <br /><br />
  <%end%>

<!-- participantes -->
<%= render :partial => "participantes"%>

  
  <!-- ficha -->
<%= render :partial => "historial"%>

  
<!-- detalle de sesiones activas -->
<%= render :partial => "detalle_sesiones"%>


<!-- detalle de sesiones canceladas -->
<%= render :partial => "detalle_sesiones_canceladas"%>


<%=render :partial => "documentacion_anexa"%>


<!-- detalle de conclusion -->

<!--
<=render :partial => "detalle_conclusion"%>
-->

</div>

<br />


<%if @layout_final == "kolaval"%>
  <div>
    <p align="center">
        <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />
    </p>
  </div>
<%end%>