<!-- MENU DEL TRAMITE -->
<!DOCTYPE html>
<%=render :partial => "encabezado"%>
<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu" style="max-width: 89em;">
							
                                                        <!-- Orientacion -->
                                                        <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-orientacion.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-orientacion.jpg") , {:action => "new_or_edit", :controller => "orientacions", :id => @tramite}, :title => "Orientación"%></ul>
                                                        </li>
                                                        
                                                        <!-- Comparecencia -->
                                                        <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-comparecencia.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-comparecencia.jpg") , {:action => "new_or_edit", :controller => "comparecencias", :id => @tramite}, :title => "Comparecencia"%></ul>
                                                        </li>

                                                          <!-- Sesiones -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/sesiones.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/sesiones.jpg") , {:action => "list_by_tramite", :controller => "sesiones", :id => @tramite}, :title => "Sesiones"%></ul>
                                                          </li>

                                                          <!-- Invitaciones -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-invita.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-invita.jpg") , {:action => "list_by_tramite", :controller => "invitaciones", :id => @tramite}, :title => "Invitaciones"%></ul>
                                                          </li>

                                                          
                                                          <!-- Convenios -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-convenio.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-convenio.jpg") , {:action => "list_by_tramite", :controller => "convenios", :id => @tramite}, :title => "Convenios"%></ul>
                                                          </li>

                                                  </ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>

<br/>
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />

