<%
PDFKit.configure do |config|
  config.default_options = {
    :page_size => 'letter',
    :margin_top => '0.2in',
    :margin_right => '0.2in',
    :margin_bottom => '0.2in',
    :margin_left => '0.2in',
    :encoding => 'utf-8',
    :header_right => "FECHA DE CREACION: [date] [time]     ",
    :footer_right => "PAGINA [page] DE [toPage]     "
  }
end

%>

<style type="text/css">
  /* Estilo para las tablas */
table.sample {
	border: 6px inset #8B8378;
	-moz-border-radius: 6px;
        font-family: "Nexa Light";
        font-size: 12px;
        margin-left:auto;
        margin-right:auto;
}
table.sample td {
	border: 0px solid black;
	padding: 0.2em 2ex 0.2em 2ex;
	color: black;
}
table.sample tr.d0 td {
	background-color: #e8f4f4;
}
table.sample tr.d1 td {
	background-color: #FEFEF2;
}
table.sample td.d0 {
	background-color: #FCF6CF;
}
table.sample td.d2 {
	background-color: #FF8C00;
}
table.sample td.d3 {
	background-color: #FFE4C4;
}
table.sample td.d3 {
	background-color: #FFE4C4;
}

/* para las columnas */
table.sample td.d0 {
	background-color: #FFE4C4;
}

/* para las columnas de error */
table.sample td.d99 {
	background-color: #FF9900;
}

.watermark {
    position: absolute;
    opacity: 0.25;
    font-size: 5em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}



</style>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
   <tr><th align="center"><%=SUBDIRECCION.titleize%></th></tr>
</table>



<%if @tramite.estatu.clave == "tram-canc"%>
  <div class="titulocalendario">
    <h2>TRAMITE CANCELADO</h2>
    <%if @tramite.motivo_cancelacion_id%>
    <p>
      <h4>Motivo: <%=h (MotivoCancelacion.find( @tramite.motivo_cancelacion_id)) ? MotivoCancelacion.find( @tramite.motivo_cancelacion_id).descripcion : "-----"%></h4>
      <h4>Observaciones: <%=h (@tramite.cancelacion_observaciones) ? @tramite.cancelacion_observaciones : "----"%></h4>
    </p>
    <%end%>
   </div>
<%end%>

<div class="titulocalendario">
  <p>Resumen General</p>
  <p><b>Número de expediente: <%=h (@tramite.numero_expediente) ? (@tramite.numero_expediente) : "----"%></b> | Folio de trámite: <%=link_to @tramite.folio_integrado, :action => "menu", :id => @tramite%></p>
</div>


<div id="divlista">
  <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">

    <!-- Si es concluido -->
    <%if Concluido.find(:first, :conditions => ["tramite_id = ?", @tramite.id])%>
      <div class="watermark">Trámite concluido</div>
    <%end%>



    <tr style="background-color:gray; color:white">
      <th colspan="2">
        Datos generales
      </th>
     </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Trámite iniciado por:</b></td>
       <td style="vertical-align: middle;"> <%=h(@tramite.user_id ? User.find(@tramite.user_id).nombre_completo : "No existe información")%></td>
    </tr>

   <%if @tramite.orientacion%>
   
    <tr class="d0">
       <td style="vertical-align: middle;"><b>Fecha/hora que se llevó a cabo la orientación:</b></td>
       <td style="vertical-align: middle;"> <%=h(@tramite.orientacion.fechahora ? @tramite.orientacion.fechahora.strftime("%d de %B de %Y - %H:%M %p") : "No existe información")%></td>
    </tr>


      <%if User.find_by_id(@tramite.orientacion.especialista_id)%>
        <tr class="d0">
          <td style="vertical-align: middle;"><b>Especialista para orientación:</b></td>
          <td style="vertical-align: middle;"> <%=h(User.find(@tramite.orientacion.especialista_id) ? User.find(@tramite.orientacion.especialista_id).nombre_completo : "No existe información")%></td>
        </tr>
      <%end%>
   <%end%>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Solicitante:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.solicitante : "No existe información")%></td>
    </tr>

    <tr class="d0">
      <td style="vertical-align: middle;"><b>Observaciones:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.observaciones : "No existe información")%></td>
    </tr>

    
    <!-- Datos de ubicacion -->
    <tr class="d1">
       <td style="vertical-align: middle;"><b>Correo electrónico:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.correo : "---")%></td>

    </tr>
    <tr class="d0">
      <td style="vertical-align: middle;"><b>Dirección:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.direccion : "---")%></td>
    </tr>

    <%if @tramite.orientacion%>
    <tr class="d1">
       <td style="vertical-align: middle;"><b>Estado / Municipio:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion.municipio ? @tramite.orientacion.municipio.descripcion : "---")%></td>
    </tr>

    <tr class="d0">
       <td style="vertical-align: middle;"><b>País:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion.pais ? @tramite.orientacion.pais.descripcion : "---")%></td>
    </tr>

    <%end%>

    <tr class="d0">
       <td style="vertical-align: middle;"><b>Teléfono:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.telefono : "---")%></td>
    </tr>
  </table>
  <br />

  <!-- Calificación de asunto -->


    <%if @tramite.materia%>
      <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
        <tr style="background-color:gray; color:white">
          <th colspan="2">
            Calificación de asunto:
          </th>
        </tr>

        <tr class="d0">
           <td style="vertical-align: middle;"><b>Procedente:</b></td>
          <td style="vertical-align: middle;"><%=h (@tramite.procedente == true) ? "Procedente" : "No procedente"%></td>
        </tr>

        <%if @tramite.materia%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Materia:</b></td>
            <td style="vertical-align: middle;"><%=h  @tramite.materia.descripcion%></td>
          </tr>
        <%end%>

        <%if @tramite.noprocedente%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Motivo de no procedente:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.noprocedente.descripcion%></td>
          </tr>
        <%end%>
   
        <!--- objeto de la solicitud -->
        <%if @tramite.objeto_solicitud%>
          <tr class="d0">
            <td style="vertical-align: middle;"><b>Objeto de la solicitud:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.objeto_solicitud%></td>
          </tr>
        <%end%>

        <!--- observaciones generales -->
        <%if @tramite.observaciones_generales%>
          <tr class="d1">
            <td style="vertical-align: middle;"><b>Observaciones generales:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.observaciones_generales%></td>
          </tr>
        <%end%>
        <!--- observaciones generales -->
        <%if @tramite.documentacion_anexa%>
          <tr class="d0">
            <td style="vertical-align: middle;"><b>Documentación anexa:</b></td>
            <td style="vertical-align: middle;"><%=h @tramite.documentacion_anexa%></td>
          </tr>
        <%end%>
      </table>
  <%end%>

  

 <%if @comparecencia = @tramite.comparecencia%>
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="2">
          Datos de la comparecencia
        </th>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Procedencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.procedencia%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Carácter con el que comparece:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.caracter%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Datos:</b></td>
        <td style="vertical-align: middle;"><%=h (@comparecencia.datos)? @comparecencia.datos : "No existe información"%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Día/hora de preferencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.dia_preferencia%> / <%=@comparecencia.hora_preferencia%></td>
      </tr>
    </table><br />

    <!-- detalle del asunto -->
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
       <th colspan="2">
           Detalle del asunto
       </th>
     </tr>

     <%tamanio = (@comparecencia.asunto) ? @comparecencia.asunto.size : 1564 %>
     <%tamanio = (tamanio / 92) + 4%>

      <tr class="d0">
        <th colspan="2"><div style="overflow:hidden"> <%=h @comparecencia.asunto%></div></th>
      </tr>
     </table>
     <br />
  <%end%>

<!-- participantes -->
<%= render :partial => "participantes"%>

<!-- ficha -->
<%= render :partial => "historial"%>

<!-- detalle de sesiones -->
<%= render :partial => "detalle_sesiones"%>

<!-- detalle de conclusion -->
<%=render :partial => "detalle_conclusion"%>

</div>
