<h4 style=" font-family:  Helvetica;">Resumen General del Trámite: <%=@tramite.id%></h4>
<h4 style=" font-family:  Helvetica;">Folio: <%=@tramite.anio%>-<%=@tramite.folio%></h4>


<div id="divlista">
  <!--
  <= link_to image_tag("iconos/descargar_pdf.png", :size => "96x96", :border =>0) , :action => "tramite_pdf", :controller => "tramites", :id => @tramite%><br />
  -->
  <%=link_to "Descargar en PDF", :action => "tramite_pdf", :controller => "tramites", :id => @tramite%><br/><br/>

  <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
      <th colspan="2">
        Datos generales
      </th>
     </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Especialista para orientación:</b></td>
       <td style="vertical-align: middle;"> <%=h(@tramite.user ? @tramite.user.nombre_completo : "---")%></td>
    </tr>

    <tr class="d0">
      <td style="vertical-align: middle;"><b>Sala:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.sala.descripcion : "---")%></td>
    </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Solicitante:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.solicitante : "---")%></td>
    </tr>

    <tr class="d0">
      <td style="vertical-align: middle;"><b>Observaciones:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.observaciones : "---")%></td>
    </tr>

    
    <!-- Datos de ubicacion -->
    <tr class="d1">
       <td style="vertical-align: middle;"><b>Correo electrónico:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.correo : "---")%></td>

    </tr>
    <tr class="d0">
      <td style="vertical-align: middle;"><b>Dirección:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.direccion : "---")%></td>
    </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Municipio:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.municipio.descripcion : "---")%></td>
    </tr>

    <tr class="d0">
       <td style="vertical-align: middle;"><b>Teléfono:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.telefono : "---")%></td>
    </tr>

    <!--- datos especificos -->
    <%if @tramite.materia%>
      <tr class="d1">
         <td style="vertical-align: middle;"><b>Materia:</b></td>
         <td style="vertical-align: middle;"><%=@tramite.materia.descripcion%></td>
      </tr>
    <%end%>

  </table>
  <br /><br />


 <%if @comparecencia = @tramite.comparecencia%>
    <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="2">
          Datos de la comparecencia
        </th>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Procedencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.procedencia%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Carácter con el que compadece:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.caracter%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Día/hora de preferencia:</b></td>
        <td style="vertical-align: middle;"><%=day_of_the_week(@comparecencia.dia_preferencia)%> / <%=@comparecencia.hora_preferencia%>:00 hrs.</td>
      </tr>
    </table><br /><br />

    <!-- detalle del asunto -->
    <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
       <th colspan="2">
           Detalle del asunto
       </th>
     </tr>

      <tr class="d0">
        <th colspan="2"><%=text_area(:comparecencia, :asunto, :size => "90x10", :disabled => 'disabled')%></th>
      </tr>
     </table>
     <br /><br />
  <%end%>

  <!-- Participantes del trámite -->
  <% if @tramite.comparecencia %>
    <%unless @tramite.comparecencia.participantes.empty?%>
      <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
        <tr style="background-color:gray; color:white">
          <th colspan="2">
            Participantes
          </th>
        </tr>

        <%clase=0%>
        <% @tramite.comparecencia.participantes.each do |participante|%>
          <tr class="d<%=invert_class(clase)%>">
            <td align="center"><%=link_to "#{participante.nombre_completo}", :action => "show", :controller => "participantes", :id => participante%></td>
          </tr>
          <%clase = invert_class(clase)%>
        <%end%>
      </table><br /><br />
    <%end%>
  <%end%>
  
  <!-- Historial de estados-->
  <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
      <th colspan="2">
        Historial
      </th>
     </tr>
     <tr class="d0">
        <td style="vertical-align: middle;"><b>Descripción</b></td>
         <td style="vertical-align: middle;"<b>Fecha hora</b></td>
     </tr>
     <%Historia.find(:all, :conditions => ["tramite_id = ?", @tramite.id], :order => "created_at").each do |row|%>
       <tr class="d1">
         <td style="vertical-align: middle;"><%=row.estatu.descripcion%></td>
         <td style="vertical-align: middle;"><%=row.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
     </tr>
     <%end%>
  </table><br /><br />


  <!-- Historial de estados-->
  <%if @tramite.sesions.size > 0%>
    <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="4">
          Detalle de sesiones
        </th>
      </tr>
      <tr class="d0">
          <td style="vertical-align: middle;"><b>Descripción</b></td>
          <td style="vertical-align: middle;"><b>Fecha/hora inicio</b></td>
          <td style="vertical-align: middle;"><b>Mediador</b></td>
          <td style="vertical-align: middle;"><b>Comediador</b></td>
      </tr>
      <%Sesion.find(:all, :conditions => ["tramite_id = ?", @tramite.id], :order => "start_at").each do |row|%>
        <tr class="d1">
          <td style="vertical-align: middle;"><%=h(row.descripcion ? row.descripcion : "---")%></td>
          <td style="vertical-align: middle;"><%=h(row.start_at ? row.start_at.strftime("%Y-%m-%d %H:%M:%S") : "---")%></td>
          <td style="vertical-align: middle;"><%=h(row.mediador ? row.mediador.nombre_completo : "---")%></td>
          <td style="vertical-align: middle;"><%=h(row.comediador ? row.comediador.nombre_completo : "---")%></td>
        </tr>
     <%end%>
  </table><br /><br />
  <%end%>



  <!-- Documentacion anexa -->
    <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
       <th colspan="2">
           Documentación Anexa
       </th>
     </tr>

      <tr class="d0">
          <td style="vertical-align: middle;"><b>Documento</b></td>
          <td style="vertical-align: middle;"<b>Fecha hora</b></td>
      </tr>
      <%clase=0%>
      <%@tramite.adjuntos.each do |a|%>
        <tr class="d<%=invert_class(clase)%>">
          <td style="vertical-align: middle;"><b><%=link_to "#{a.tipodoc.descripcion}", :controller => "upload", :action => "download", :id => a%></b></td>
          <td style="vertical-align: middle;"><%=a.created_at.strftime("%Y-%m-%d / %H:%M:%S")%></td>
        </tr>
        <%clase = invert_class(clase)%>
      <%end%>
    </table><br /><br />
</div>

<br />
  <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />