<!DOCTYPE html>

<%= render :partial => "barra_superior"%>

<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">

                                                          <li>
								 <!-- Tramites -->
                                                                 <%=link_to image_tag('kolaval/ico-tramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-tramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Trámites"%>
								<ul class="cbp-hssubmenu">
									 <%if current_user.has_role?("atencionpublico") || current_user.has_role?("jefeatencionpublico")%>
                                                                            <li><%=link_to image_tag('kolaval/ico-iniciartramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-iniciartramites.jpg") , {:action => "new_or_edit", :controller => "orientacions"}, :title => "Iniciar trámite"%></li>
                                                                         <%end%>

                                                                          <!-- por escrito de instituciones y particulares -->
                                                                         <%if current_user.has_role?("oficinasubdireccion")%>
                                                                            <li><%=link_to image_tag('kolaval/ico-tramit-otras.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-tramit-otras.jpg") , {:action => "index", :controller => "extraordinaria"}, :title => "Trámites de otras instituciones"%></li>
                                                                            <li><%=link_to image_tag('kolaval/ico-tramites-part.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-tramites-part.jpg") , {:action => "por_escrito_index", :controller => "atencion"}, :title => "Atención por escrito de particulares"%></li>
                                                                          <%end%>

                                                                          <!-- Bitacora de atencion -->
                                                                          <%if current_user.has_role?("bitacora")%>
                                                                            <li><%=link_to image_tag('kolaval/ico-bitacora-aten.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-bitacora-aten.jpg") , {:action => "select_personas_atendidas", :controller => "estadisticas"}, :title => "Bitacora de atencion"%></li>
                                                                          <%end%>

                                                                        <li><%=link_to image_tag('kolaval/ico-listadodetramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-listadodetramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Listado de trámites"%></li>
                                                                </ul>
							  </li>

                                                         <!-- Administracion de Usuarios -->
                                                         <li>
                                                            <%=link_to image_tag('kolaval/admon-usuarios.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/admon-usuarios.jpg") , {:action => "show_users", :controller => "admin"}, :title => "Control de Usuarios"%>
                                                            <ul class="cbp-hssubmenu">
                                                              <li><%=link_to image_tag('kolaval/capacitacion/ico-empleados.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/capacitacion/ico-empleados.jpg") , {:action => "show_users", :controller => "admin"}, :title => "Control de Empleados"%></li>
                                                              <li><%=link_to image_tag('kolaval/dias-inha.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/dias-inha.jpg") , {:action => "festivos", :controller => "admin"}, :title => "Control de días inhábiles"%></li>
                                                              <li><%=link_to image_tag('kolaval/ausencia-personal.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ausencia-personal.jpg") , {:action => "select_bitacora_ausencias_personal", :controller => "estadisticas"}, :title => "Reporte de ausencias de personal"%></li>
                                                            </ul>
                                                         </li>

                                                         <%if current_user.has_role?(:controlinvitaciones)%>
                                                         <li>
                                                           <ul><%=link_to image_tag('kolaval/ico-invita.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-invita.jpg") , {:action => "index", :controller => "invitaciones"}, :title => "Invitaciones"%></ul>
                                                         </li>
                                                         <%end%>

                                                          
                                                          <!-- Agenda -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-agenda.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-agenda.jpg") , {:action => "calendario", :controller => "agenda"}, :title => "Control de Agenda"%></ul>
                                                          </li>

                                                    </ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>