<%= render :partial => "barra_superior"%>


<table width="60%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">

       <!-- Tramites -->
      <td><%=link_to image_tag('kolaval/ico-tramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-tramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Trámites"%></td>

       <!-- Agenda -->
       <td><%=link_to image_tag('kolaval/ico-agenda.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-agenda.jpg") , {:action => "calendario", :controller => "agenda"}, :title => "Control de Agenda"%></td>

      <!-- Estadistica -->
      <td><%=link_to image_tag('kolaval/ico-estadistica.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-estadistica.jpg") , {:action => "index", :controller => "estadisticas"}, :title => "Estadística"%></td>

       <!-- Cuadrantes -->
      <td><%=link_to image_tag('kolaval/ico-cuadrantes.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-cuadrantes.jpg") , {:action => "index", :controller => "cuadrantes"}, :title => "Cuadrantes"%></td>

       <!-- Administración -->
      <td><%=link_to image_tag('kolaval/ico-administracion.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-administracion.jpg") , {:action => "index", :controller => "admin"}, :title => "Admin"%></td>
   </tr>
</table>




<!--


<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/tramites" title="Trámites">
          <img src="/images/iconos/tramites.png" width="128" height="128" alt="tramites" />
        </a>
      </td>

      <td>
         <a href="/agenda/calendario" title="Control de la agenda">
           <img src="/images/iconos/calendario.png" width="128" height="128" alt="apoyos" />
         </a>
       </td>

       <td>
         <a href="/cuadrantes" title="Cuadrantes">
           <img src="/images/iconos/mapa_chiapas.png" width="128" height="128" alt="apoyos" />
         </a>
       </td>

  </tr>
  <tr align="center">
    <td class="menu">Trámites</td>
    <td class="menu">Agenda</td>
    <td class="menu">Cuadrantes</td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr align="center">
        <td align="center">
         <a href="/estadisticas" title="Seguimiento de información estadística del CEJA">
           <img src="/images/iconos/estadisticas.png" width="128" height="128" alt="estadisticas" />
         </a>
        </td>
        <td align="center">
          <a href="/admin/index" title="Módulo de administración del sistema">
            <img src="/images/iconos/Crystal_Clear_action_configure.png" width="128" height="128" alt="administracion"/>
          </a>
        </td>
  </tr>
  
  <tr>
    <td class="menu" align="center">Estadísticas</td>
    <td class="menu" align="center">Administración</td>
  </tr>
</table>

-->