<!DOCTYPE html>

<%= render :partial => "barra_superior"%>

<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">

                                                         <!-- Administracion de Usuarios -->
                                                         <li>
                                                            <ul><%=link_to image_tag('kolaval/admon-usuarios.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/admon-usuarios.jpg") , {:action => "show_users", :controller => "admin"}, :title => "Control de Usuarios"%></ul>
                                                         </li>

                                                          <!-- Ausencias de personal -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ausencia-personal.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ausencia-personal.jpg") , {:action => "select_bitacora_ausencias_personal", :controller => "estadisticas"}, :title => "Reporte de ausencias de personal"%></ul>
                                                          </li>

                                                          <!-- Agenda -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-agenda.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-agenda.jpg") , {:action => "calendario", :controller => "agenda"}, :title => "Control de Agenda"%></ul>
                                                          </li>

                                                          <!-- Listado de tramites-->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-listadodetramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-listadodetramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Listado de trámites"%></ul>
                                                          </li>


                                                          <!-- Dias inhabiles-->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/dias-inha.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/dias-inha.jpg") , {:action => "festivos", :controller => "admin"}, :title => "Control de días inhábiles"%></ul>
                                                          </li>



							


						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>