<div class="titulocalendario">
  <%=h(@title)%>
</div>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <% calendar_for @sesiones, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado') %>
    <% calendar.day(:day_method => :start_at) do |date, sesiones| %>
       <%=(date.month == @date.month && (1..5).include?(date.wday)) ? (link_to date.day, {:action => "daily_show", :controller => "agenda", :year => date.year, :month=> date.month, :day => date.day, :origin => params[:controller]}, {:title => date.strftime("%d de %B de %Y"), :class => "titulocalendario"}) : date.day %>
      <ul>
        <% for sesion in sesiones %>
          <li><%= link_to "#{sesion.start_at.strftime("%H:%M")}", {:controller => "sesiones", :action => "show", :id => sesion}, {:title => "#{sesion.title}", :class => "sesionesdiarias"} %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div><br/>






<!-- version original -->
<!--
<div class="titulocalendario">
  <=h(@title)%>
</div>

<div id="calendar">
  <h2 id="month">
    <= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <=h @date.strftime("%B %Y") %>
    <= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  < calendar_for @sesiones, :year => @date.year, :month => @date.month do |calendar| %>
    <= calendar.head('Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado') %>
    < calendar.day(:day_method => :start_at) do |date, sesiones| %>
      <= date.day %>
      <ul>
        < for sesion in sesiones %>
          <li><= link_to "#{sesion.start_at.strftime("%H:%M")}", {:controller => "sesiones", :action => "show", :id => sesion}, {:title => "#{sesion.title}", :class => "sesionesdiarias"} %></li>
        < end %>
      </ul>
    < end %>
  < end %>
</div><br/>
-->