<!DOCTYPE html>

<%= render :partial => "barra_superior"%>

<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">

                                                          <!-- Orientaciones -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/orientaciones.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/orientaciones.jpg") , {:action => "list_by_user", :controller => "orientacions"}, :title => "Orientaciones"%></ul>
                                                          </li>
                                                          
                                                          <!-- Monitor -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/Ico-monitor-especia.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/Ico-monitor-especia.jpg") , {:action => "show_siguientes_especialistas", :controller => "orientacions"}, :title => "Monitor de actividad de orientaciones y/o comparecencias"%></ul>
                                                          </li>

                                                          <!-- Comparecencias -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/comparecencias.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/comparecencias.jpg") , {:action => "list_by_user", :controller => "comparecencias"}, :title => "Comparecencias"%></ul>
                                                          </li>

                                                          <!-- Mis expedientes -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-mis-expedientes.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-mis-expedientes.jpg") , {:action => "mis_expedientes", :controller => "customs"}, :title => "Expedientes donde intervengo"-%></ul>
                                                          </li>

                                                          <!-- Mis convenios -->
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-convenio.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-convenio.jpg") , {:action => "list_by_user", :controller => "convenios"}, :title => "Mis convenios"-%></ul>
                                                          </li>

                                                          
                                                        <!-- Agenda -->
                                                        <%if current_user.has_role?("lecturaagenda")%>
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/miagenda.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/miagenda.jpg") , {:action => "show_calendario", :controller => "customs"}, :title => "Mi calendario de sesiones"%></ul>
                                                          </li>
                                                        <%end%>

                                                </ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>