<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<li>
								 <!-- Tramites -->
                                                                 <%=link_to image_tag('kolaval/ico-tramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-tramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Trámites"%>
								<ul class="cbp-hssubmenu">
									<li><%=link_to image_tag('kolaval/ico-iniciartramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-iniciartramites.jpg") , {:action => "new_or_edit", :controller => "orientacions"}, :title => "Iniciar trámite"%></li>
                                                                         <li><%=link_to image_tag('kolaval/ico-listadodetramites.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-listadodetramites.jpg") , {:action => "list", :controller => "tramites"}, :title => "Listado de trámites"%></li>
                                                                </ul>
							</li>
							
                                                        <!-- Agenda -->
                                                        <%if current_user.has_role?("lecturaagenda")%>
                                                          <li>
                                                            <ul><%=link_to image_tag('kolaval/ico-agenda.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-agenda.jpg") , {:action => "calendario", :controller => "agenda"}, :title => "Control de Agenda"%></ul>
                                                          </li>
                                                        <%end%>

                                                          <!-- Control de invitaciones -->
                                                          <%if current_user.has_role?("controlinvitaciones")%>
                                                            <li>
                                                              <ul><%=link_to image_tag('kolaval/ico-control-invitaciones.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-control-invitaciones.jpg") , {:action => "show_all", :controller => "invitaciones"}, :title => "Control de Invitaciones"%></ul>
                                                            </li>
                                                          <%end%>


						</ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>