<%= render :partial => "barra_superior"%>


<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
            <%= stylesheet_link_tag "menu_desplegable/default.css"%>
            <%= stylesheet_link_tag "menu_desplegable/component.css"%>
            <%= javascript_include_tag 'menu_desplegable/modernizr.custom.js'%>
        </head>
	<body>
		<div class="container">
                        <div class="main">
				<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
					<div class="cbp-hsinner">
						<ul class="cbp-hsmenu">
							<!-- Libro de control 
              <li>
                <ul><%=link_to image_tag('kolaval/ico-libro-control.jpg', :size => "128x128", :size => "128x128", :mouseover => "kolaval/ico-libro-control.jpg") , {:action => "index", :controller => "libro"}, :title => "Libro de control"%></ul>
              </li> -->
              <li> 
                <!-- Visitaduria -->
                <%=link_to image_tag('iconos/busqueda_general.png', :size => "128x128", :size => "128x128", :mouseover => "iconos/busqueda_general.png") , {:action => "index", :controller => "visita"}, :title => "Visitaduria"%>                
                <ul class="cbp-hssubmenu">                  
                  <li><%=link_to image_tag('iconos/calendario.png', :size => "128x128", :size => "128x128", :mouseover => "iconos/calendario.png") , {:action => "index", :controller => "visita"}, :title => "Iniciar Visita"%></li>
                  <li><%=link_to image_tag('iconos/comparecencias.png', :size => "128x128", :size => "128x128", :mouseover => "iconos/comparecencias.png") , {:action => "list", :controller => "visita"}, :title => "Listado de visitas"%></li>
                </ul>
              </li>
            </ul>
					</div>
				</nav>
			</div>
		</div>
		<script src="/javascripts/menu_desplegable/cbpHorizontalSlideOutMenu.min.js"></script>
		<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>
	</body>
</html>