<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "activity"}, :title => "Recargar"%>
</p>

<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>



<div class="titulocalendario">
  <p>
    <%=@usuario.nombre_completo%>
  </p>
</div>



<div id="divlista">
  <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; width: 85%; margin: auto;">
     <tr>
      <td colspan="2">
        Mi actividad
      </td>
     </tr>

     <tr>
       <td><b>Estatus actual:</b></td>
       <td><%=h @usuario.estatus_actual%></td>
     </tr>

     <%if current_user.has_role?("atencionpublico")%>
      <tr>
         <td style="vertical-align: middle;"><b>Trámites iniciados:</b></td>
        <td style="vertical-align: middle;"><%=h Tramite.count(:id, :conditions => ["user_id = ?", @usuario.id])%></td>
      </tr>
    <%end%>

    <%if current_user.has_role?("especialistas")%>
    <tr>
       <td style="vertical-align: middle;"><b>Orientaciones y/o comparecencias que he dado en el transcurso de la semana:</b></td>
       <td style="vertical-align: middle;"><%=h @usuario.puntuacion_semana_actual%></td>
    </tr>

    <tr>
       <td style="vertical-align: middle;"><b>Orientaciones y/o comparecencias que he dado en transcurso del mes de <%=h Time.now.strftime("%B del año %Y")%></b></td>
       <td style="vertical-align: middle;"><%=h @usuario.puntuacion_mes_actual%></td>
    </tr>

    <tr>
       <td style="vertical-align: middle;"><b>Orientaciones y/o comparecencias que he dado en transcurso del año <%=h Time.now.strftime("%Y")%></b></td>
       <td style="vertical-align: middle;"><%=h @usuario.puntuacion_anio_actual%></td>
    </tr>
    <%end%>

    <tr>
       <td style="vertical-align: middle;"><b>Última conexión:</b></td>
       <td style="vertical-align: middle;"><%=h (@usuario.last_login) ? @usuario.last_login.strftime("%d de %B de %Y / %H:%M") : 'Sin conexión'%></td>
    </tr>
</table>
</div>


    <%if current_user.has_role?(:subdireccion) || current_user.has_role?(:direccion) || current_user.has_role?(:adminusuarios)%>
      <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; width: 85%; margin: auto;">
          <tr>
              <td>Especialista</td>
              <td> Expedientes activos</td>
          </tr>
          <%sumatoria=0%>
          <%@especialistas.each do |e|%>
            <tr>
                <td><%=h e.nombre_completo%></td>
                <td><%=h (e.expedientes_sin_concluir)? (link_to "#{e.expedientes_sin_concluir.size}", {:action => "detalle_expedientes", :id => e.id}, :class => "fancybox fancybox.iframe") : ''%></td>
                <%sumatoria = (e.expedientes_sin_concluir) ? sumatoria+=e.expedientes_sin_concluir.size : nil%>
            </tr>
          <%end%>

            <tr>
                <td>TOTAL:</td>
                <td><%=h sumatoria%></td>
            </tr>
       </table>
    <%end%>


<!-- Mis ausencias futuras -->

<%unless @actividades.empty?%>
    <br /><br />

    <div class="titulocalendario">
      <p>Actividades y/o ausencias programadas</p>
    </div>
    
    <div id="divlista">
        <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; width: 85%; margin: auto;">
            <tr>
              <td>Tipo</td>
              <td>Fecha inicio</td>
              <td>Fecha fin</td>
            </tr>
            <%@actividades.each do |a|%>
            <tr>
                <td style="vertical-align: middle;"><%=h a.situacion.descripcion%></td>
                <td style="vertical-align: middle;"><%=h a.fecha_inicio.strftime("%d de %B de %Y / %H:%M %P")%></td>
                <td style="vertical-align: middle;"><%=h a.fecha_fin.strftime("%d de %B de %Y / %H:%M %P")%></td>
            </tr>
            <%end%>
        </table>
     </div>
  <%end%>

<br /><br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />