<%= render :partial => "agenda/calendario"%>
<br />

<div class="titulocalendario">
  <p>
    Seleccione un horario
  </p>
</div>

<table class="table1">
    <thead>
         <!-- Nombre de las salas -->
         <tr>
            <%@salas.each do |sala|%>
                <th scope="col" abbr="Starter"><%=sala.descripcion%></th>
            <%end%>
         </tr>
    </thead>

    <tbody>


           <!-- Recorremos los horarios -->
   <% form_tag :action => 'new_sesion', :controller => 'agenda', :fecha => @fecha, :origin => 'customs' do -%>

                <% @horarios_disponibles.each do |horario| %>
                              <tr>

                                <%@salas.each do |sala|%>
                                    <%if h = Horario.find(:first, :conditions => ["sala_id = ? and hora=? and minutos=? and activo=1", sala.id, horario.hora, horario.minutos])%>
                                      <td align="center">
                                        <%=  radio_button_tag("horario", h.id)%><%= h.hora_completa %>
                                      </td>
                                    <%else%>
                                      <th scope="row"> </th>
                                    <%end%>
                                <%end%>
                              </tr>
                <%end%>
           
                              <!-- boton final -->
           <tr align="center">
             <th><%= submit_tag "Seleccionar"%></th>
           </tr>
           <%end%>
   </tbody>
</table>
