<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr>
       <td style="vertical-align: middle; width: 5%;" align="center">&nbsp;</td>
       <td style="vertical-align: middle; width: 10%;" align="center">Número de Expediente</td>
       <td style="vertical-align: middle; width: 10%;" align="center">Materia</td>
        <td style="vertical-align: middle; width: 10%;" align="center">Fecha/Hora&nbsp;de&nbsp;Captura</td>
        <td style="vertical-align: middle; width: 40%;" align="center">Participante(s)</td>
        <td style="vertical-align: middle; width: 25%;" colspan="3" align="center">Acciones</td>
    </tr>
    

    <%@comparecencias.each do |comparecencia|%>
     <tr>
       <td style="vertical-align: middle; width: 5%;"><%=link_to image_tag("kolaval/ico-print-tramite.jpg", :border => 0), {:controller => "tramites", :action => "show", :id => comparecencia.tramite }, :target => "_blank", :title => "Resumen"-%></td>
        
        <td style="vertical-align: middle; width: 10%;"><b><%=h (comparecencia.tramite) ? comparecencia.tramite.numero_expediente : "--"%></b></td>
        <td style="vertical-align: middle; width: 10%;"><b><%=h (comparecencia.tramite && comparecencia.tramite.materia) ? comparecencia.tramite.materia.descripcion : ''%></b></td>
        <td style="vertical-align: middle; width: 10%;"><%=h (comparecencia.fechahora) ? comparecencia.fechahora.strftime('%d de %B de %Y   -  %H:%M:%S %p') : "No existe información"%></td>

        <td style="vertical-align: middle; width: 40%;">
          <%participantes=[]%>
          <%comparecencia.participantes.each do |p|%>
              <%participantes << "#{p.nombre_completo} (#{p.perfil})"%>
          <%end%>
          <%=participantes.join(", ")%>
        </td>

        <%materia_asignada = Estatu.find_by_clave("mate-asig")%>
        <%if comparecencia.tramite%>
          <% if comparecencia.tramite.estatu_id == materia_asignada.id%>
              <td style="vertical-align: middle; width: 10%;"><%=link_to "Editar comparecencia",{:controller => "comparecencias", :action => "new_or_edit", :id => comparecencia.tramite}, :class => 'boton'%></td>
          <%else%>

            <!-- Convertir si aún no hay más expedientes -->
            <%ultimo_folio_anio = Tramite.maximum(:folio_expediente, :conditions => ["anio = ?", Time.now.year]) %>
            <%if comparecencia.tramite.anio == Time.now.year.to_s && comparecencia.tramite.folio_expediente == ultimo_folio_anio.to_i%>
                <td style="vertical-align: middle; width: 10%;"><%=link_to "Cambiar a orientación", {:controller => "comparecencias", :action => "change_to_orientacion", :id => comparecencia}, :class => 'boton', :confirm => "¿Está seguro(a) que desea cambiar a orientación?, se borrará lo que haya capturado"%></td>
            <%end%>
            <td style="vertical-align: middle; width: 10%;"><%=link_to "Editar comparecencia",{:controller => "comparecencias", :action => "new_or_edit", :id => comparecencia.tramite}, :class => 'boton'%></td>
            
            <%if Concluido.find_by_tramite_id(comparecencia.tramite.id)%>
                 <td style="vertical-align: middle; width: 5%;">Exp. Concluido</td>
            <%else%>
                <td style="vertical-align: middle; width: 5%;">&nbsp;</td>
            <%end%>

          <%end%>
        <%end%>

      </tr>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @comparecencias %>
          </div>
          <%= will_paginate @comparecencias %>
        </div>
      </td>
    </tr>
</table>


