<div class="titulocalendario">
  <p>
    Lista de Participantes
  </p>
</div>


<%unless @comparecencia.participantes.empty?%>
  <table class="tablakolaval">
    
         <!-- Nombre de los integrantes -->
         <tr>
             <td scope="col" abbr="Starter">NP</td>
             <td scope="col" abbr="Starter">Rol</td>
             <td scope="col" abbr="Starter">Nombre completo o Razón Social</td>
             <td scope="col" abbr="Starter" colspan="4">Acciones</td>
         </tr>
    
    
          <%contador=1%>
          <% @comparecencia.participantes.each do |participante| %>
                              <tr>
                                <td><%=h contador%></td>
                                <td> <%=h (participante.perfil) ? participante.perfil : "---"%></td>
                                <%if participante.tipopersona%>
                                  <td><%=h (participante.tipopersona.descripcion == 'MORAL') ? participante.razon_social : participante.nombre_completo%></td>
                                  <td> <%=link_to 'Ver información', {:action => "new_or_edit_persona_#{participante.tipopersona.descripcion.downcase}", :controller => "participantes", :id => @comparecencia, :participante => participante}, :class => 'boton'%></td>
                                <%else%>
                                  <td><%=h "-----"%></td>
                                <%end%>



                                <%if participante.perfil=="SOLICITANTE"%>
                                   <td> <%=link_to 'Imprimir acta', {:action => "generar_pdf_acta_comparecencia", :controller => "comparecencias", :id => @comparecencia, :participante => participante}, :class => 'boton'%></td>

                                    <%sin_involucrados = Participante.count(:id, :conditions => ["comparecencia_id = ? AND perfil='INVOLUCRADO'", @comparecencia.id])%>
                                    <%if ((participante.observaciones) ? (participante.observaciones.size > 4 && sin_involucrados == 0) : nil )%>
                                        <td> <%=link_to 'Imprimir Observaciones', {:action => "generar_pdf_observaciones", :controller => "comparecencias", :id => @comparecencia, :participante => participante}, :class => 'boton'%></td>
                                    <%end%>

                                 <%else%>
                                   <td> <%=link_to 'Imprimir', {:action => "generar_pdf_involucrado", :controller => "comparecencias", :id => @comparecencia, :participante => participante}, :class => 'boton'%></td>
                                <%end%>
                                <td> <%=link_to 'Eliminar', {:action => "delete", :controller => "participantes", :id => participante}, :confirm => '¿Seguro que desea eliminarlo?', :class => 'boton'%></td>
                              </tr>
            <%contador+=1%>
            <%end%>
     
  </table>
<%end%>

<br />
<%if Comparecencia.exists?(@comparecencia.id)%>
<br />
<table class="table1">
  <thead>
    <tr>
       <td align="center"><%= link_to image_tag("botones/agregar_persona_fisica.png", :width => 250, :height=>"40", :border =>0 ) , :action => "new_or_edit_persona_fisica", :controller => "participantes", :id => @comparecencia, :token => @comparecencia-%></td>
       <td align="center"><%= link_to image_tag("botones/agregar_persona_moral.png", :width => 250, :height=>"40", :border =>0 ) , :action => "new_or_edit_persona_moral", :controller => "participantes", :id => @comparecencia, :token => @comparecencia-%></td>
    </tr>
  </thead>
</table>

<%else%>

<div class="titulocalendario">
  <p align="center">Es necesario guardar primero la información general</p>
</div>
          
<%end%>