<div id="divlista">
  <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
        <th style="vertical-align: middle;" align="center">NP</th>
        <th style="vertical-align: middle;" align="center">Número de Expediente</th>
        <th style="vertical-align: middle;" align="center">Fecha/Hora&nbsp;de&nbsp;Captura</th>
        <th style="vertical-align: middle;" align="center">Participante(s)</th>
        <!--
        <th style="vertical-align: middle;" align="center">Carácter con el que comparece</th>
        <th style="vertical-align: middle;" align="center"><%=h "Estatus"%></th>
        -->
        <th style="vertical-align: middle;" colspan="4" align="center">Acciones</th>
    </tr>
     <%clase=0%>
     <%counter=1%>
    <%@comparecencias.each do |comparecencia|%>
     <tr class="d<%=invert_class(clase)%>">
        <td style="vertical-align: middle;"><%=h counter%></td>
        <td style="vertical-align: middle;"><%=h (comparecencia.tramite) ? comparecencia.tramite.numero_expediente : "--"%></td>
        <td style="vertical-align: middle;"><%=comparecencia.fechahora.strftime('%d de %B de %Y - %H:%M:%S')%></td>
        <!--
        <td style="vertical-align: middle;"><=comparecencia.tramite.orientacion.solicitante%></td>
        -->
        <td style="vertical-align: middle;">
          <%participantes=[]%>
          <%comparecencia.participantes.each do |p|%>
              <%participantes << "#{p.nombre_completo} (#{p.perfil})"%>
          <%end%>
          <%=participantes.join(", ")%>
        </td>

        <!--
        <td style="vertical-align: middle;"><=comparecencia.caracter%></td>
        <td style="vertical-align: middle;"><=comparecencia.tramite.estatu.descripcion%></td>
        -->

        <!-- Convertir en orientacion -->
        <%@margen =  (10080 * 60.0) # 7 Dias%>
        <%if (Time.now < (comparecencia.created_at + @margen)) || (Time.now < (comparecencia.updated_at + @margen))%>
          <td style="vertical-align: middle;"><%=link_to "Cambiar a orientación", {:controller => "comparecencias", :action => "change_to_orientacion", :id => comparecencia}, :class => 'boton'%></td>
        <%end%>

        <td style="vertical-align: middle;"><%=link_to "Trámite", {:controller => "tramites", :action => "menu", :id => comparecencia.tramite}, :class => 'boton'%></td>
        <td style="vertical-align: middle;"><%=link_to "Editar",{:controller => "comparecencias", :action => "new_or_edit", :id => comparecencia.tramite}, :class => 'boton'%></td>
        <td style="vertical-align: middle;"><%=link_to "Resumen", {:action => "show", :controller => "tramites", :id => comparecencia.tramite}, :class => 'boton'%></td>
      </tr>
       <%clase = invert_class(clase)%>
       <%counter+=1%>
    <%end%>
  </table>
</div>


