<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr>
        <td style="vertical-align: middle;" align="center">NP</td>
        <td style="vertical-align: middle;" align="center">Número de Expediente</td>
        <td style="vertical-align: middle;" align="center">Fecha/Hora&nbsp;de&nbsp;Captura</td>
        <td style="vertical-align: middle;" align="center">Participante(s)</td>
        <td style="vertical-align: middle;" colspan="4" align="center">Acciones</td>
    </tr>
     <%clase=0%>
     <%counter=1%>
    <%@comparecencias.each do |comparecencia|%>
     <tr class="d<%=invert_class(clase)%>">
        <td style="vertical-align: middle;"><%=h counter%></td>
        <td style="vertical-align: middle;"><b><%=h (comparecencia.tramite) ? comparecencia.tramite.numero_expediente : "--"%></b></td>
        <td style="vertical-align: middle;"><%=comparecencia.fechahora.strftime('%d de %B de %Y - %H:%M:%S')%></td>
        <td style="vertical-align: middle;">
          <%participantes=[]%>
          <%comparecencia.participantes.each do |p|%>
              <%participantes << "#{p.nombre_completo} (#{p.perfil})"%>
          <%end%>
          <%=participantes.join(", ")%>
        </td>

        

        <%materia_asignada = Estatu.find_by_clave("mate-asig")%>
        <%if comparecencia.tramite%>
          <% if comparecencia.tramite.estatu_id == materia_asignada.id%>
            <td style="vertical-align: middle;">&nbsp;</td>
            <td style="vertical-align: middle;">MATERIA ASIGNADA</td>
            <td style="vertical-align: middle;"><%=link_to "Editar",{:controller => "comparecencias", :action => "new_or_edit", :id => comparecencia.tramite}, :class => 'boton'%></td>
            <td style="vertical-align: middle;"><%=link_to "Resumen", {:action => "show", :controller => "tramites", :id => comparecencia.tramite}, :class => 'boton'%></td>
          <%else%>

            <!-- Convertir si aún no hay más expedientes -->
            <%ultimo_folio_anio = Tramite.maximum(:folio_expediente, :conditions => ["anio = ?", Time.now.year]) %>
            <%if comparecencia.tramite.anio == Time.now.year.to_s && comparecencia.tramite.folio_expediente == ultimo_folio_anio.to_i%>
                <td style="vertical-align: middle;"><%=link_to "Cambiar a orientación", {:controller => "comparecencias", :action => "change_to_orientacion", :id => comparecencia}, :class => 'boton', :confirm => "¿Esá seguro que desea cambiar a orientación, no podrá deshacer la acción?"%></td>
            <%end%>
            <td style="vertical-align: middle;"><%=link_to "Trámite", {:controller => "tramites", :action => "menu", :id => comparecencia.tramite}, :class => 'boton'%></td>
            <td style="vertical-align: middle;"><%=link_to "Editar",{:controller => "comparecencias", :action => "new_or_edit", :id => comparecencia.tramite}, :class => 'boton'%></td>
            <td style="vertical-align: middle;"><%=link_to "Resumen", {:action => "show", :controller => "tramites", :id => comparecencia.tramite}, :class => 'boton'%></td>
          <%end%>
        <%end%>

      </tr>
       <%clase = invert_class(clase)%>
       <%counter+=1%>
    <%end%>
  </table>
</div>

<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @comparecencias %>
          </div>
          <%= will_paginate @comparecencias %>
        </div>
      </td>
    </tr>
</table>


