<% form_for :comparecencia, @comparecencia, :url => { :action => "save", :tramite => @comparecencia.tramite } do |f| -%>

  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >COMPARECENCIA</td>
    </tr>
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Fecha/hora</td>
          <td align="center">Procedencia</td>
          <td align="center">Carácter con el que comparece</td>
          <td align="center">Hora(s) de preferencia</td>
        </tr>
        <tr>
          <td align="center"><%=f.datetime_select :fechahora, :start_year => 2011, :ampm => true%></td>
          <td align="center"><%= f.text_field :procedencia, :class => "text"%></td>
          <td align="center"><%= f.text_field :caracter, :class => "text"%></td>
          <td align="center"><%= f.text_field :hora_preferencia, :class => "text", :placeholder=> "Ej. 13-15"%></td>
          <!--
          <td align="center"><= f.select(:hora_preferencia, 1..24, :prompt => 'Seleccione una opción')%></td>
          -->
         </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
      <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" ></td>
        </tr>
        <tr align=" justify" class="pregunta">
           <td align="center">Día(s) de preferencia</td>
          <td align="center">¿Es del conocimiento de alguna autoridad?</td>
        </tr>
        <tr>
          <!--
            <td align="center"><= f.select :dia_preferencia, DIAS_ATENCION.map{|dia| [dia[1], dia[0]]}, :prompt => 'Seleccione una opción' %> </td>
          -->
          <td align="center"><%= f.text_field :dia_preferencia, :class => "text", :placeholder => "Ej. Lunes, Martes"%></td>
          <td align="center"><%=f.check_box :conocimiento%></td>
          
          <!--
          <td align="center"><= f.text_field :observaciones, :class => "text"%></td>
          -->
        </tr>
      </table></td>
     </tr>
     <!-- barra inferior -->
       <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" >Detalle de Datos y Asunto</td>
        </tr>
        <tr align=" justify" class="pregunta">
           <td align="center">Datos</td>
          <td align="center">Anote la descripción del asunto</td>
       </tr>
        <tr>
          <td align="center"><%= f.text_area :datos, :class => "text"%></td>
          <td align="center"><%= f.text_area :asunto,  :required => true%></td>
        </tr>
      </table></td>
     </tr>



    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "tramites", :action => "menu", :id => @comparecencia.tramite -%>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    

<% end %>

</table>