<div class="titulocalendario">
  <p>INSTITUCIONES QUE EL CEJA ATIENDE</p>
</div>


<%=h (link_to "Regresar", {:controller => "extraordinaria"}, :class => "boton")%> | <%= link_to 'Registrar nueva institución', new_procedencia_path, :class => "boton"%>
<p>&nbsp;</p>

<table class="tablakolaval" style="text-align: center; margin: auto;">
  <tr>
    <td>Descripción</td>
    <td colspan="2">Acciones</td>
  </tr>

<% @procedencias.each do |procedencia| %>
  <tr>
    <td><%=h procedencia.descripcion %></td>
    <td><%= link_to 'Editar', edit_procedencia_path(procedencia), :class => "boton" %></td>
    <td><%= link_to 'Eliminar', procedencia, :confirm => '¿Está seguro(a) que desea eliminar el registro?', :method => :delete, :class => "boton" %></td>
  </tr>
<% end %>
</table>

<br />


<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @procedencias %>
          </div>
          <%= will_paginate @procedencias %>
        </div>
      </td>
    </tr>
</table>