
<div>
   <%=image_tag 'kolaval/capacitacion/ico-lista-empeleados.jpg', :style=> "width:auto; height:auto;vertical-align: middle;"%>
   <span class="titulo_lista_empleados">&nbsp; <%=@subdireccion.descripcion%> - Listado de Empleados.</span>
</div>

<br />


<table width="75%">
  <% @empleados.each do |empleado| %>
  <tr>
    <td align="left"><%=h empleado.nombre_completo%></td>
    <td><%= link_to 'Mostrar', empleado, :class => "boton" %></td>
    <td><%= link_to 'Editar', edit_empleado_path(empleado), :class => "boton" %></td>
    <td><%= link_to 'Formacion academica', {:action => "formacion", :id => empleado}, :class => "boton" %></td>
    <td><%= link_to 'Eliminar', empleado, :confirm => '¿Esta seguro que desea eliminarlo?', :method => :delete, :class => "boton" %></td>
  </tr>
<% end %>
</table>

