<div class="titulocalendario">
  <%=h(@title)%>
</div>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", {:month => (@date.beginning_of_month-1).strftime("%Y-%m")}, :class => "flecha_calendario" -%>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", {:month => (@date.end_of_month+1).strftime("%Y-%m")}, :class => "flecha_calendario" -%>
  </h2>
  <% calendar_for @sesiones, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado') %>
    <% calendar.day(:day_method => :start_at) do |date, sesiones| %>
       <%=(date.month == @date.month && !inhabil?(date)) ? (link_to date.day, {:action => "daily_show", :controller => "agenda", :year => date.year, :month=> date.month, :day => date.day, :origin => params[:controller]}, {:title => date.strftime("%d de %B de %Y"), :class => "titulocalendario"}) : date.day %>
         <ul>
            <!-- sesiones por dia -->
            <%if sesiones.size > 0%>
                <li><%=  sesiones.size%> sesiones</li>
            <%end%>
        </ul>
     
    <% end %>
  <% end %>
</div><br/>
