<div class="titulocalendario">
  <p>
    AGENDA DIARIA DE SESIONES
  </p>
  <p>
    <%=link_to "<", :action => "daily_show", :day => @before.day, :month => @before.month, :year => @before.year, :origin => @origin%>&nbsp;
    <%=(@fecha.strftime("%d de %B de %Y")).upcase%>&nbsp;
    <%=link_to ">", :action => "daily_show", :day => @after.day, :month => @after.month, :year => @after.year, :origin => @origin%>
  </p>
</div>

<table class="table1" border=1 width=90% style='table-layout:fixed'>
    <thead>
        <tr>
            <th>Hora</th>
            <%@salas.each do |sala|%>
                <th scope="col" abbr="Starter"><%=sala.descripcion%></th>
            <%end%>
         </tr>
    </thead>

    <tbody>
      <!-- horarios -->
      <%@horarios.each do |horario|%>
      <tr>
          <th scope="row"><%=h (horario.hora_completa) ? (horario.hora_completa) : "--"%></th>
              <%@salas.each do |sala|%>
                 <%sesion = Sesion.find(:first, :conditions => ["fecha = ? AND hora = ? AND minutos = ? AND sala_id = ? ", @fecha, horario.hora, horario.minutos, sala.id])%>
                 <!--
                 <td><=h (sesion) ? (link_to sesion.resume, :action => 'show', :controller => 'sesiones', :id => sesion) : " "%></td>
                 -->
              <%if sesion%>
                 <td>
                    <%=link_to sesion.resume, :action => 'show', :controller => 'sesiones', :id => sesion%>
                 </td>
                 <%elsif h = Horario.find(:first, :conditions => ["hora = ? AND minutos = ? AND sala_id = ? AND activo=true", horario.hora, horario.minutos, sala.id])%>
                    <td style="background-color: #D7F2FF;">
                        <%=  link_to "Disponible", {:action => "new_with_date", :controller => "sesiones", :date => @fecha, :horario => h, :origin => @origin}, :title => 'Capturar nueva sesion'%>
                    </td>
                 <%else%>
                    <td></td>
                 <%end%>
              <%end%>
       </tr>
      <%end%>
   </tbody>
</table>

<br />


<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => @origin, :action => "management", :month => @fecha.strftime("%Y-%m")%><br />