<div id="divlista">
  <!-- mediador -->
  <table width="80%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
      <th colspan="6">
        Asignado como mediador
      </th>
     </tr>

    <tr class="d0">
       <td style="vertical-align: middle;">Fecha/Hora</td>
        <td style="vertical-align: middle;">Tipo</td>
        <td style="vertical-align: middle;">Mediador</td>
        <td style="vertical-align: middle;">Comediador</td>
        <td style="vertical-align: middle;">Detalle</td>
    </tr>
    <%@sesiones_mediador.each do |sesion|%>
    <tr>
       <td style="vertical-align: middle;"><%=h(sesion.start_at ? sesion.start_at.strftime("%Y-%m-%d %H:%M:%S") : "---")%></td>
       <td style="vertical-align: middle;"><%=h (sesion.tiposesion) ? sesion.tiposesion.descripcion : "---"%></td>
       <td style="vertical-align: middle;"><b><%=h (sesion.mediador) ? sesion.mediador.nombre_completo : "---"%></b></td>
       <td style="vertical-align: middle;"><%=h (sesion.comediador) ? sesion.comediador.nombre_completo : "---"%></td>
       <td style="vertical-align: middle;"><%=link_to "Bitácora", {:action => "bitacora", :id => sesion}, :class => 'boton'%></td>
    </tr>
    <%end%>
  </table><br /><br />

  <!-- comediador -->
  <!-- mediador -->
  <table width="80%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
      <th colspan="6">
        Asignado como comediador
      </th>
     </tr>

    <tr class="d0">
       <td style="vertical-align: middle;">Fecha/Hora</td>
        <td style="vertical-align: middle;">Descripción</td>
        <td style="vertical-align: middle;">Mediador</td>
        <td style="vertical-align: middle;">Comediador</td>
         <td style="vertical-align: middle;">Detalle</td>
    </tr>
    <%@sesiones_comediador.each do |sesion|%>
    <tr>
       <td style="vertical-align: middle;"><%=h(sesion.start_at ? sesion.start_at.strftime("%Y-%m-%d %H:%M:%S") : "---")%></td>
       <td style="vertical-align: middle;"><%=h (sesion.tiposesion) ? sesion.tiposesion.descripcion : "---"%></td>
       <td style="vertical-align: middle;"><%=h (sesion.mediador) ? sesion.mediador.nombre_completo : "---"%></td>
       <td style="vertical-align: middle;"><b><%=h (sesion.comediador) ? sesion.comediador.nombre_completo : "---"%></b></td>
       <td style="vertical-align: middle;"><%=link_to "Bitácora", {:action => "bitacora", :id => sesion}, :class => 'boton'%></td>
    </tr>
    <%end%>
  </table><br /><br />
</div>
