<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr class="d0">
       <td style="vertical-align: middle;">Fecha/Hora</td>
        <td style="vertical-align: middle;">Descripci贸n</td>
        <td style="vertical-align: middle;">Mediador</td>
        <td style="vertical-align: middle;">Comediador</td>
        <td style="vertical-align: middle;"><%=h "Estatus"%></td>
        <td style="vertical-align: middle;" colspan="2">Acciones</td>
    </tr>

    <%clase=1%>
    <%@sesiones.each do |sesion|%>
    <tr class="d<%=h clase%>">
       <td style="vertical-align: middle;"> <%=h(sesion.start_at ? sesion.start_at.strftime("%Y-%m-%d %H:%M") : "---")%></td>
       <td style="vertical-align: middle;"> <%=h(sesion.tiposesion ? sesion.tiposesion.descripcion : "---")%></td>
       <td style="vertical-align: middle;"> <%=h(sesion.mediador ? sesion.mediador.nombre_completo : "---")%></td>
       <td style="vertical-align: middle;"> <%=h(sesion.comediador ? sesion.comediador.nombre_completo : "---")%></td>
       <td style="vertical-align: middle;"> <%=h(sesion.estatus_sesion ? sesion.estatus_sesion.descripcion : "---")%></td>
       <%if sesion.mediador_id && sesion.comediador_id%>
        <td style="vertical-align: middle;"><%=link_to "Cambiar fecha", {:action => "asignar_horario", :id => sesion, :mediador_id => sesion.mediador_id, :comediador_id => sesion.comediador_id}, :class => 'boton', :title => "Reprogramar horario de sesi贸n"%></td>
       <%end%>
       <td style="vertical-align: middle;"><%=link_to "Cancelar sesi贸n", {:action => "cancel", :id => sesion}, :class => 'boton', :title => "Cancelar sesi贸n"%></td>
    </tr>
    <%clase = invert_class(clase)%>
    <%end%>
  </table>
</div>
