<%=render :partial => "layouts/notificaciones_acciones"%>


<div align="center" style="margin: auto;">
<table style="margin: auto;" border="0" cellspacing="0" cellpadding="0" width="99%">
  <!-- Cancelar -->
  <tr align="center">
   <td>
      <%= link_to "Detalle de Expediente" , {:controller => "tramites", :action => "show", :id => @sesion.tramite, :token => "show_sesion"}, :title => "Detalle del trámite", :method => :post, :class => "boton" %><br />
   </td>

   <%if current_user.has_role?("asignahorario") || current_user.has_role?("controlagenda") || current_user.has_role?("admindireccion")%>
       <td>
          <%= link_to "Cancelar sesión" , {:controller => "sesiones", :action => "cancel", :id => @sesion, :t => @token}, :title => "Cancelar sesión", :confirm => '¿Esta seguro que quiere cancelar la sesión?', :method => :post, :class => "boton" %><br />
       </td>
    <%end%>

    <!-- Eliminar -->
    <%if current_user.has_role?("asignahorario")%>
          
            <td>
              <%= link_to "Editar sesión" , {:controller => "sesiones", :action => "edit_jquery", :id => @sesion, :t => @token}, :title => "Editar sesión", :confirm => '¿Esta seguro que quiere editar la sesión?', :method => :post, :class => "boton" %><br />
          </td>

          <td>
              <%= link_to "Eliminar sesión" , {:controller => "sesiones", :action => "destroy", :id => @sesion, :t => @token}, :title => "Eliminar sesión", :confirm => '¿Esta seguro que quiere eliminar completamente la sesión?, No se podrá recuperar', :method => :post, :class => "boton" %><br />
          </td>
    <%end%>

    <!-- detalle del tramite -->
    <%if current_user.has_role?("especialistas") || current_user.has_role?(:subdireccion)%>
          

          <!-- Si es titular de la sesión o subdirector o jefe de convenios-->
          <%if current_user.id == @sesion.mediador_id || current_user.has_role?(:convenios) || current_user.has_role?(:subdireccion)%>
              <td>
                  <%= link_to "Concluir Expediente" , {:controller => "tramites", :action => "opciones_conclusion", :id => @sesion, :token => "apply_conclusion"}, :title => "Concluir Expediente", :method => :post, :class => "boton" %><br />
              </td>

              <td>
                  <%= link_to "Mecanismo alternativo" , {:controller => "tramites", :action => "select_mecanismo_alternativo", :id => @sesion, :token => "select_mecanismo_alternativo"}, :title => "Mecanismo alternativo", :method => :post, :class => "boton" %><br />
              </td>

          <%end%>

          <!-- Captura de resultados -->
          <%if current_user.id == @sesion.mediador_id || current_user.id == @sesion.comediador_id || current_user.has_role?("subdireccion")%>
              <td>
                  <%= link_to "Resultado de sesión" , {:controller => "sesiones", :action => "add_result", :id => @sesion, :token => "show_sesion"}, :title => "Resultado de la sesion", :method => :post, :class => "boton" %><br />
              </td>
          <%end%>
    <%end%>

   <br />

  </tr>
</table>
</div>

<!-- Mostramos icono de bitácora si es mediador o comediador -->
<!--
<if @sesion.invitacion%>
  < if @sesion.invitacion.entregada == true && (@sesion.mediador_id == current_user.id || @sesion.comediador_id == current_user.id )%>
    <table width="70%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td>
          <a href="/sesiones/bitacora/<=h @sesion.id%>/?t=<=h @token%>" title=Bitácora">
            <img src="/images/iconos/bitacora.png" width="64" height="64" alt="bitácora" />
          </a>
        </td>
      </tr>
    </table><br />
  <end%>
<end%>
-->

<br /><br />

<!-- Detalle de sesion -->
  <table class="tablakolaval" style="width: 98%; margin: auto;">

    <tr>
      <td colspan="2">DETALLE DE SESIÓN <%=h (@sesion.clave) ? @sesion.clave : ''%></td>
    </tr>


    <%if @sesion.tramite%>
          <!-- Si se concluyo -->
          <%if @sesion.tramite.concluido%>
              <tr>
                  <td style="vertical-align: middle; width: 100%; text-align: center;" colspan="2" ><b>NÚMERO DE EXPEDIENTE <%=@sesion.tramite.numero_expediente%> CONCLUIDO:</b></td>
              </tr>
              <tr>
                <td style="vertical-align: middle; width: 100%;" colspan="2">
                    <b class="descripcion_detalle_sesion"><%=h @sesion.tramite.concluido.motivo_conclusion.descripcion_completa%></b>
                </td>
              </tr>
              <tr>
                <td style="vertical-align: middle; width: 30%;"><b>Concluido por  /  fecha-hora:</b></td>
                <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h User.find(@sesion.tramite.concluido.user_id).nombre_completo%>  /   <%=h @sesion.tramite.concluido.created_at.strftime("%d-%m-%Y - %H:%M %p")%></b></td>
              </tr>
          <%else%>
              <tr>
                <td style="vertical-align: middle; width: 30%;"><b>NÚMERO DE EXPEDIENTE: </b></td>
                <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.tramite.numero_expediente%></b></td>
              </tr>

                <%if @sesion.start_at%>
                    <tr>
                        <td style="vertical-align: middle; width: 30%;"><b>Hora de inicio de la sesión:</b></td>
                        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.start_at.strftime("%d de %B de %Y   -   %H:%M  %p")%></b></td>
                    </tr>
                <%end%>
          <%end%>

          <%if @sesion.tramite.mecanismo_alternativo%>
               <tr>
                 <td style="vertical-align: middle; width: 30%;">MECANISMO ALTERNATIVO: </td>
                 <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.tramite.mecanismo_alternativo.descripcion%></b></td>
              </tr>
          <%end%>

           <%if @sesion.tramite.comparecencia%>
               <tr>
                 <td style="vertical-align: middle; width: 30%;">DESCRIPCIÓN DEL ASUNTO: </td>
                 <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.tramite.comparecencia.asunto%></b></td>
              </tr>
           <%end%>


    <%end%>

    
  <%if @sesion.cancel == 1%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Cancelada por:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=User.find(@sesion.cancel_user).nombre_completo%></b></td>
     </tr>
     <%end%>

     

     <%if @sesion.tramite%>
     
     <!-- Mostramos los participantes si encontramos registro -->
     <%if comparecencia = Comparecencia.find(:first, :conditions => ["tramite_id = ?", @sesion.tramite.id])%>
        <% if comparecencia.solicitantes %>
          <tr>
              <td style="vertical-align: middle; width: 30%;"><b>Solicitante(s):</b></td>
              <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h comparecencia.solicitantes%></b></td>
          </tr>
        <%end%>
        <% if comparecencia.involucrados %>
          <tr>
            <td style="vertical-align: middle; width: 30%;"><b>Involucrado(s):</b></td>
            <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h comparecencia.involucrados%></b></td>
          </tr>
        <%end%>
     <%end%>
   <%end%>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Descripción:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h (@sesion.tiposesion) ? @sesion.tiposesion.descripcion : "---"%></b></td>
     </tr>

   

     <%if @sesion.mediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Especialista:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.mediador.nombre_completo%></b></td>
     </tr>
     <%end%>

     <%if @sesion.comediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Comediador:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.comediador.nombre_completo%></b></td>
     </tr>
     <%end%>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Numero de invitación:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h (@sesion.num_invitacion)?  @sesion.num_invitacion : "No existe informacion"%></b></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Observaciones:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.observaciones%></b></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Resultado de la sesión:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=@sesion.resultado%></b></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Capturada inicialmente por:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h (@sesion.user_id)?  User.find(@sesion.user_id).nombre_completo : "No existe informacion"%></b></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Ultima modificación:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b class="descripcion_detalle_sesion"><%=h (@sesion.updated_at)?  @sesion.updated_at.strftime("%d de %B de %Y / %H:%M %p") : "No existe informacion"%></b></td>
     </tr>

   </table>
<br />