  <!-- Detalle de sesion -->
  <table class="table1" width="70%">
    <thead style="background-color:gray; color:white">
      <th colspan="2">
        Detalle de sesión
      </th>
     </thead>

     <%if @sesion.tramite%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Número de expediente:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.tramite.folio_integrado%></td>
     </tr>
     <%end%>


     <%if @sesion.clave%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Identificador de sesión:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.clave%></td>
     </tr>
     <%end%>


     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Descripción:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.tiposesion) ? @sesion.tiposesion.descripcion : "---"%></td>
     </tr>

     <%if @sesion.start_at%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Hora de inicio:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.start_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
     </tr>
     <%end%>

     <%if @sesion.mediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Especialista:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.mediador.nombre_completo%></td>
     </tr>
     <%end%>

     <%if @sesion.comediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Comediador:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.comediador.nombre_completo%></td>
     </tr>
     <%end%>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Observaciones:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.observaciones%></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Resultado:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.resultado%></td>
     </tr>

   </table><br />