<table width="60%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
    <!-- Cancelacion -->
    <%if current_user.has_role?("asignahorario") || current_user.has_role?("controlagenda") || current_user.has_role?("admindireccion")%>
       <td>
          <%= link_to image_tag("iconos/cancel.png", :border =>0, :size => "64x64") , {:controller => "sesiones", :action => "cancel", :id => @sesion, :t => @token}, :title => "Cancelar", :confirm => '¿Esta seguro que quiere cancelar la sesión?', :method => :post %><br />
       </td>
    <%end%>

    <%#*<!-- Reprogramar -->%>
    <%#if current_user.has_role?("asignahorario") || current_user.has_role?("subdireccion")%>
        <%#*<td>%>
          <%#= link_to image_tag("iconos/edit.png", :border =>0, :size => "64x64") , {:controller => "sesiones", :action => "edit", :id => @sesion, :t => @token}, :title => "Cancelar", :confirm => '¿Esta seguro que quiere cancelar la sesión?', :method => :post %><br />
        <%#*</td>%>
    <%#end%>
  </tr>
</table>

<!-- Mostramos icono de bitácora si es mediador o comediador -->

<%if @sesion.invitacion%>
  <% if @sesion.invitacion.entregada == true && (@sesion.mediador_id == current_user.id || @sesion.comediador_id == current_user.id )%>
  <!-- Acciones -->
    <table width="70%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td>
          <a href="/sesiones/bitacora/<%=h @sesion.id%>/?t=<%=h @token%>" title=Bitácora">
            <img src="/images/iconos/bitacora.png" width="64" height="64" alt="bitácora" />
          </a>
        </td>
      </tr>
    </table><br />
  <%end%>
<%end%>



<!-- Detalle de sesion -->
  <table class="table1" width="70%">
    <thead style="background-color:gray; color:white">
      <th colspan="2">
        Detalle de sesión
      </th>
     </thead>

     <%if @sesion.tramite%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Número de expediente:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.tramite.numero_expediente%></td>
     </tr>
     <%end%>


     <%if @sesion.clave%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Identificador de sesión:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.clave%></td>
     </tr>
     <%end%>


     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Descripción:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.tiposesion) ? @sesion.tiposesion.descripcion : "---"%></td>
     </tr>

     <%if @sesion.start_at%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Hora de inicio:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.start_at.strftime("%d de %B de %Y / %H:%M")%></td>
     </tr>
     <%end%>

     <%if @sesion.mediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Especialista:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.mediador.nombre_completo%></td>
     </tr>
     <%end%>

     <%if @sesion.comediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Comediador:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.comediador.nombre_completo%></td>
     </tr>
     <%end%>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Observaciones:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.observaciones%></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Resultado:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.resultado%></td>
     </tr>

   </table>
<br />