<div align="center" style="margin: auto;">
<table style="margin: auto;" border="0" cellspacing="0" cellpadding="0">
  <!-- Cancelar -->
  <tr align="center">
    <%if current_user.has_role?("asignahorario") || current_user.has_role?("controlagenda") || current_user.has_role?("admindireccion")%>
       <td>
          <%= link_to "Cancelar" , {:controller => "sesiones", :action => "cancel", :id => @sesion, :t => @token}, :title => "Cancelar sesión", :confirm => '¿Esta seguro que quiere cancelar la sesión?', :method => :post, :class => "boton" %><br />
       </td>
    <%end%>

    <!-- Eliminar -->
    <%if current_user.has_role?("asignahorario")%>
          <td>
              <%= link_to "Editar" , {:controller => "sesiones", :action => "edit_jquery", :id => @sesion, :t => @token}, :title => "Editar sesión", :confirm => '¿Esta seguro que quiere editar la sesión?', :method => :post, :class => "boton" %><br />
          </td>

          <td>
              <%= link_to "Eliminar" , {:controller => "sesiones", :action => "destroy", :id => @sesion, :t => @token}, :title => "Eliminar sesión", :confirm => '¿Esta seguro que quiere eliminar completamente la sesión?, No se podrá recuperar', :method => :post, :class => "boton" %><br />
          </td>
    <%end%>

    <!-- detalle del tramite -->
    <%if current_user.has_role?("especialistas")%>
          <td>
              <%= link_to "Detalle del expediente" , {:controller => "tramites", :action => "show", :id => @sesion.tramite, :token => "show_sesion"}, :title => "Detalle del trámite", :method => :post, :class => "boton" %><br />
          </td>

          <!-- Si es titular de la sesión o subdirector o jefe de convenios-->
          <%if current_user.id == @sesion.mediador_id || current_user.has_role?("convenios") || current_user.has_role?("subdireccion")%>
               <td>
                  <%= link_to "Concluir Expediente" , {:controller => "tramites", :action => "opciones_conclusion", :id => @sesion, :token => "apply_conclusion"}, :title => "Concluir Expediente", :method => :post, :class => "boton" %><br />
              </td>
          <%end%>

          <!-- Captura de resultados -->
          <%if current_user.id == @sesion.mediador_id || current_user.id == @sesion.comediador_id%>
              <td>
                  <%= link_to "Capturar Resultado" , {:controller => "sesiones", :action => "add_result", :id => @sesion, :token => "show_sesion"}, :title => "Resultado de la sesion", :method => :post, :class => "boton" %><br />
              </td>
          <%end%>
    <%end%>

   <br />

  </tr>
</table>
</div>

<!-- Mostramos icono de bitácora si es mediador o comediador -->
<!--
<if @sesion.invitacion%>
  < if @sesion.invitacion.entregada == true && (@sesion.mediador_id == current_user.id || @sesion.comediador_id == current_user.id )%>
    <table width="70%" border="0" cellspacing="0" cellpadding="0">
      <tr align="center">
        <td>
          <a href="/sesiones/bitacora/<=h @sesion.id%>/?t=<=h @token%>" title=Bitácora">
            <img src="/images/iconos/bitacora.png" width="64" height="64" alt="bitácora" />
          </a>
        </td>
      </tr>
    </table><br />
  <end%>
<end%>
-->

<br /><br />

<!-- Detalle de sesion -->
  <table class="tablakolaval" style="width: 92%; margin: auto;">

    <tr>
      <td colspan="2">DETALLE DE SESIÓN</td>
    </tr>


    <%if @sesion.tramite%>
          <!-- Si se concluyo -->
          <%if @sesion.tramite.concluido%>
              <tr>
                  <td style="vertical-align: middle; width: 100%; text-align: center;" colspan="2" ><b>NÚMERO DE EXPEDIENTE <%=@sesion.tramite.numero_expediente%> CONCLUIDO:</b></td>
              </tr>
              <tr>
                <td style="vertical-align: middle; width: 100%;" colspan="2"><%=h @sesion.tramite.concluido.motivo_conclusion.descripcion_completa%></td>
              </tr>
              <tr>
                <td style="vertical-align: middle; width: 30%;"><b>Concluido por  /  fecha-hora:</b></td>
                <td style="vertical-align: middle; width: 70%;"><%=h User.find(@sesion.tramite.concluido.user_id).nombre_completo%>  /   <%=h @sesion.tramite.concluido.updated_at.strftime("%d-%m-%Y - %H:%M %p")%></td>
              </tr>
          <%else%>
              <tr>
                <td style="vertical-align: middle; width: 100%; text-align: center;" colspan="2"><b>NÚMERO DE EXPEDIENTE:<%=@sesion.tramite.numero_expediente%></b></td>
              </tr>
         <%end%>
              <tr>
                <td style="vertical-align: middle; width: 100%; text-align: center;" colspan="2"><hr /></td>
              </tr>
      <%end%>

    
  <%if @sesion.cancel == 1%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Cancelada por:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=User.find(@sesion.cancel_user).nombre_completo%></td>
     </tr>
     <%end%>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Capturada inicialmente por:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.user_id)?  User.find(@sesion.user_id).nombre_completo : "No existe informacion"%></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Ultima modificación:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.updated_at)?  @sesion.updated_at.strftime("%d de %B de %Y / %H:%M %p") : "No existe informacion"%></td>
     </tr>

     <%if @sesion.tramite%>
     
     <!-- Mostramos los participantes si encontramos registro -->
     <%if comparecencia = Comparecencia.find(:first, :conditions => ["tramite_id = ?", @sesion.tramite.id])%>
        <% if comparecencia.solicitantes %>
          <tr>
              <td style="vertical-align: middle; width: 30%;"><b>Solicitante(s):</b></td>
              <td style="vertical-align: middle; width: 70%;"><%=h comparecencia.solicitantes%></td>
          </tr>
        <%end%>
        <% if comparecencia.involucrados %>
          <tr>
            <td style="vertical-align: middle; width: 30%;"><b>Involucrado(s):</b></td>
            <td style="vertical-align: middle; width: 70%;"><%=h comparecencia.involucrados%></td>
          </tr>
        <%end%>
     <%end%>
   <%end%>

    <%if @sesion.clave%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Identificador de sesión:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.clave%></td>
     </tr>
     <%end%>


     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Descripción:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.tiposesion) ? @sesion.tiposesion.descripcion : "---"%></td>
     </tr>

     <%if @sesion.start_at%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Hora de inicio:</b></td>
        <td style="vertical-align: middle; width: 70%;"><b><%=@sesion.start_at.strftime("%d de %B de %Y   -   %H:%M  %p")%></b></td>
     </tr>
     <%end%>

     <%if @sesion.mediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Especialista:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.mediador.nombre_completo%></td>
     </tr>
     <%end%>

     <%if @sesion.comediador%>
     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Comediador:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.comediador.nombre_completo%></td>
     </tr>
     <%end%>



     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Numero de invitacion:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=h (@sesion.num_invitacion)?  @sesion.num_invitacion : "No existe informacion"%></td>
     </tr>

    

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Observaciones:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.observaciones%></td>
     </tr>

     <tr>
        <td style="vertical-align: middle; width: 30%;"><b>Resultado:</b></td>
        <td style="vertical-align: middle; width: 70%;"><%=@sesion.resultado%></td>
     </tr>

   </table>
<br />