<%= error_messages_for :sesion %>

<form id="datos">
<table cellpadding="5" cellspacing="1">
 <tr class="subtitulo">
    <th colspan="5"><font size="4" color="navy" face="Verdana">Número de Expediente:&nbsp;&nbsp;</font><%=text_field_tag :numero_tramite, nil, :class => "form-login" %></th>
    <th colspan="5"><%=hidden_field_tag :date, @fecha, :class => "form-login" %></th>
    <th colspan="5"><%=hidden_field_tag :horario, @horario.id, :class => "form-login" %></th>
 </tr>
</table>
</form>


<img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" />
<div id="divform"></div>


<%= observe_form('datos', :update => "divform",
                          :frequency => 0.03,
                          :before => "Element.show('spinner')", 
                          :success => "Element.hide('spinner')",
                          :url => {:action => :enable_form})%>


<!--

  :loading => "Element.show('spinner')",
                          :complete => "Element.hide('spinner')",
-->