
<% if @sesion.has_permission?(current_user) %>
<!-- Acciones -->
<table width="30%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
      <td>
        <a href="/sesiones/select_schedule/<%=h @sesion.id%>/?t=<%=h @token%>" title="Reprogramar horario de sesión">
         <img src="/images/iconos/horarios.png" width="64" height="64" alt="tramites" />
        </a>
      </td>

      <td>
        <a href="/sesiones/edit/<%=h @sesion.id%>/?t=<%=h @token%>" title="Editar datos de la sesión">
         <img src="/images/iconos/edit.png" width="64" height="64" alt="tramites" />
        </a>
      </td>

      <td>
          <%= link_to image_tag("iconos/cancel.png", :border =>0, :size => "64x64") , {:controller => "sesiones", :action => "cancel", :id => @sesion, :t => @token}, :title => "Cancelar", :confirm => '¿Esta seguro que quiere cancelar la sesión?', :method => :post %><br />
      </td>
  </tr>
</table>
<%end%>




<!-- contenido -->
<br /><%= render :partial => "show"%>

<table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
<tr class="d0">
    <td style="vertical-align: middle;"><b>Observaciones</b></td>
    <td style="vertical-align: middle;"><%=@sesion.observaciones%></td>
</tr>
</table>



<!-- back -->
<div align="center">
   <br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) ,  url_for(:back), {:title => "Regresar al menú anterior"}%><br />
</div>

