<%=render :partial => "encabezado_info_sesion"%>

<% form_tag({:action => 'show_schedules', :fecha => @fecha, :sesion => @sesion}, :multipart => true, :remote => true ) do -%>

 <table class="tablakolaval" >
  <tr align="center">
    <th align="center">Fecha/hora Sugerido</th>
    <th align="center">Fecha</th>
    <%#*<th align="center">¿Notificar por correo electrónico?</th>%>
    <th align="center">Tipo de sesión</th>
  </tr>
 <tr align="center">
   <td><%=h @sesion_hora_sugerida = (@sesion.fecha_sugerida(@sesion.mediador,@sesion.comediador)) ? @sesion.start_at.strftime("%d de %B de %Y - %H:%M") : nil%><%@default_selected = (@sesion_hora_sugerida) ? true : false %>&nbsp;<%= check_box_tag 'sesion_hora_sugerida', @default_selected, @default_selected, :onchange => "enable_dates();"%></td>
       <%(@fecha ||= (@sesion.start_at)? @sesion.start_at : nil)%>
       <%(@fecha_format = (@sesion.start_at)? @sesion.start_at.strftime("%Y/%m/%d") : nil)%>
    <td><%=text_field_tag "sesion_fecha", "#{@fecha_format}"%></td>
    <!--
    <td><= check_box_tag 'sesion_notificacion', @notificacion%></td>
    -->
    <td><%=h (@sesion.tiposesion) ? (@sesion.tiposesion.descripcion) : @tiposesion.descripcion%></td>
    <td>
      <%=hidden_field_tag 'sesion_mediador_id', @mediador.id%>
      <%=hidden_field_tag 'sesion_comediador_id', @comediador.id%>
    </td>
 </tr>

 <tr align="center">
   <th align="center">Especialista</th>
   <th>Comediador</th>
 </tr>
 <tr align="center">
    <td><%= select_tag 'sesion_mediador_id', options_from_collection_for_select(@especialistas, 'id', 'nombre_completo', @mediador.id)%></td>
    <td><%= select_tag 'sesion_comediador_id', options_from_collection_for_select(@especialistas, 'id', 'nombre_completo', @comediador.id)%></td>
    <td rowspan="2"><%=submit_tag "BUSCAR HORARIOS DISPONIBLES", :disable_with => "Espere un momento ...", :class => "boton"%></td>

 </tr>
 </table>

<% end %>
<br />



<% unless @inhabil %>

<div class="titulocalendario">
  <p>
    Seleccione un horario
  </p>
  <p>
    <%=day_of_the_week(@fecha.strftime("%u").to_i)%>, <%=(@fecha.strftime("%d de %B de %Y")).upcase%>&nbsp;
  </p>
</div>


<table class="table1">
    <thead>
         <!-- Nombre de las salas -->
         <tr>
            <%@salas.each do |sala|%>
                <th scope="col" abbr="Starter"><%=sala.descripcion%></th>
            <%end%>
         </tr>
    </thead>
    <!-- Recorremos los horarios -->
    <% form_tag({:action => 'update_schedule', :fecha => @fecha, :sesion => @sesion, :mediador => @mediador, :comediador => @comediador, :notificacion => @notificacion, :token => @token}, :multipart => true, :remote => true ) do -%>
          <tbody>
              <% @horarios_disponibles.each do |horario| %>
                            <tr>
                                <%guardia = Situacion.find_by_descripcion("GUARDIA")%>
                                <%@salas.each do |sala|%>
                                    <%if h = Horario.find(:first, :conditions => ["sala_id = ? and hora=? and minutos=? and activo=1", sala.id, horario.hora, horario.minutos])%>
                                        <%sesion = Sesion.find(:first, :conditions => ["activa = 1 AND fecha = ? AND hora = ? AND minutos = ? AND ((mediador_id = ? OR comediador_id = ?) OR (mediador_id = ? OR comediador_id = ?))", @fecha, horario.hora, horario.minutos, @mediador.id, @mediador.id, @comediador.id, @comediador.id])%>
                                        <%fecha_hora = DateTime.parse("#{@fecha.year}-#{@fecha.month}-#{@fecha.day} #{horario.hora}:#{horario.minutos}")%>
                                        <%mediador_tiene_guardia=(Movimiento.count(:id, :conditions => ["user_id = ? AND situacion_id = ? AND ? between fecha_inicio AND fecha_fin", @mediador, guardia, fecha_hora]) > 0)? true : false%>
                                        <%comediador_tiene_guardia=(Movimiento.count(:id, :conditions => ["user_id = ? AND situacion_id = ? AND ? between fecha_inicio AND fecha_fin", @comediador, guardia, fecha_hora]) > 0)? true : false%>

                                        <%if sesion.nil? && sala.libre?(h.id, @fecha) && !mediador_tiene_guardia && !comediador_tiene_guardia%>
                                           <td align="center" style="background-color: #ceefef; color: black;">
                                              <%=  radio_button_tag("horario", h.id)%><%= h.hora_completa %>
                                           </td>
                                        <%else%>
                                           <%@backgrounds_colors = colors_to_days%>
                                           <%#background=(sesion)? @backgrounds_colors[sesion.tiposesion_id - 1] : "gray"%>
                                           <%#background ||=(mediador_tiene_guardia)? "#f79760" : nil%>
                                           <%#background ||=(comediador_tiene_guardia)? "#f79760" : nil%>
                                           <%#background ||="#9CACAC"%>
                                           <%#color_fuente ||=(mediador_tiene_guardia || comediador_tiene_guardia)? "white" : nil%>
                                           <%background ||="#52626d"%>
                                           <%color_fuente  ="white"%>
                                           <%decoracion= "line-through"%>
                                           <td style="background-color: <%=h background%>; color: <%=h color_fuente%>; text-decoration: <%=decoracion%>;">
                                              <%=  radio_button_tag "horario", h.id, false, :disabled => true%><%= h.hora_completa %>
                                           </td>
                                        <%end%>
                                    <%else%>
                                      <th scope="row"> </th>
                                    <%end%>
                                <%end%>
                              </tr>
                <%end%>


              <tr align="center">
                <th colspan="<%=h @salas.size%>">&nbsp;</th>
              </tr>

              <tr align="center">
                <th colspan="<%=h @salas.size%>"><%= submit_tag "GUARDAR REGISTRO"%></th>
              </tr>
            </tbody>
         <%end%>
</table>

<%else%>

<div class="titulocalendario">
  <p>
    <%=(@fecha.strftime("%d de %B de %Y")).upcase%> es un día no laborable
  </p>
</div>

<%end%>



<br />
<!-- back -->
<div align="center">
   <br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) ,  {:action => "show", :user => current_user.id, :id => @sesion}, {:title => "Regresar al menú anterior"}%><br />
</div>

