

<%if @invitaciones%>
<table class="tablakolaval" width="94%" style="text-align: center;">
    
         <!-- Titulos -->
         <tr>
            <td>&nbsp;</td>
            <td>Número de expediente</td>
            <td scope="col" abbr="Starter">Participante</td>
            <td scope="col" abbr="Starter">Fecha de sesión</td>
            <td scope="col" abbr="Starter">Perfil de participante</td>
            <td scope="col" abbr="Starter">Invitador</td>
            <td scope="col" abbr="Starter" colspan="6">Acciones</td>
         </tr>
    

    
        <%@invitaciones.each do |invitacion|%>
          <tr>
            <td><%=h (invitacion.entregada)? (image_tag "iconos/true.png", :border =>0): (image_tag "iconos/false.png", :border =>0)%></td>
            <td width=5%><%=h (invitacion.sesion.tramite) ? (link_to "#{invitacion.sesion.tramite.numero_expediente}", :action => "show", :controller => "tramites", :id => invitacion.sesion.tramite.id, :target => "_blank") : ""%></td>
            <td><%=h (invitacion.participante) ? invitacion.participante.nombre_completo : "----"%></td>
            <td><%=h (invitacion.sesion.start_at)? invitacion.sesion.start_at.strftime("%d de %B de %Y / %H:%M") : "---"%></td>
            <!-- cuadrante -->
            <%participante = invitacion.participante%>
            <!-- <td><%=h (participante && participante.cuadrante) ? (Cuadrante.find(participante.cuadrante).descripcion) : "N/A"%></td> -->
            <td width=5%><%=h (participante && participante.perfil) ? (participante.perfil) : "N/A"%></td>
            <td><%=h (invitacion.invitador_id)? invitacion.invitador.nombre_completo : "SIN ASIGNAR"%></td>
            <%sesion = invitacion.sesion%>
            <%if sesion%>
                <td><%=link_to 'Imprimir', {:action => "imprimir", :id =>sesion.id, :participante => invitacion.participante_id, :token => "h9jqwo8h7s" }, :title => "Imprimir invitaciones de trámite", :class => 'boton'%></td>
            <%unless invitacion.fecha_hora_entrega%>
                <!-- Si es director podra entregarlas personalmente -->
                <%if current_user.has_role?("direccion")%>
                    <td><%=link_to 'Se entrego personalmente',{:action => "notificar_entrega_personal", :id => invitacion, :p => invitacion.participante_id}, :title => "Notificar entrega personal", :class => 'boton'%></td>
                <%else%>
                    <td><%=link_to 'Razonar',{:action => "razonar", :id => invitacion, :p => invitacion.participante_id}, :title => "Razonar invitación", :class => 'boton'%></td>
                <%end%>
              <%end%>
                <%else%>
                    <td><%=link_to 'No se puede imprimir por falta de firma', :title => "Imprimir invitacion de trámite #{invitacion.sesion.tramite.folio_integrado}", :class => 'boton'%></td>
             <%end%>
            
            <td><%=link_to 'Detalle', {:action => "show", :id => invitacion}, :title => "Detalle de invitación", :class => 'boton'%></td>

            <%if current_user.has_role?("controlinvitaciones")%>
              <td><%=link_to "Eliminar", {:action => "destroy", :id => invitacion}, :confirm => "¿Esta seguro(a) que desea eliminar la invitación?", :title => "Eliminar invitación", :class => 'boton'%></td>
              <td><%=link_to "Asignar", {:action => "asignar_invitador", :id => invitacion}, :title => "Asignar la invitación", :class => 'boton'%></td>
              <td><%=link_to 'Editar', {:action => "list_by_sesion", :id => invitacion.sesion}, :title => "Editar invitación", :class => 'boton'%></td>
            <%end%>


          </tr>
        <%end%>
    
</table>

<br />

<%unless @invitaciones.empty?%>
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @invitaciones %>
          </div>
          <%= will_paginate @invitaciones %>
        </div>
      </td>
    </tr>
</table>
<%end%>


<%else%>
  <h3> No existe información</h3><br />
<%end%>