<%if @invitaciones%>
<table class="table1">
    <thead>
         <!-- Titulos -->
         <tr>
            <th scope="col" abbr="Starter">Fecha de sesi칩n</th>
            <th scope="col" abbr="Starter">Fecha de entrega</th>
            <th scope="col" abbr="Starter" colspan="2">Acciones</th>
         </tr>
    </thead>

    <tbody>
      
        <%@invitaciones.each do |invitacion|%>
          <tr>
            <td><%=h (invitacion.sesion.start_at)? invitacion.sesion.start_at.strftime("%Y-%m-%d %H:%M") : "---"%></td>
            <td><%=h (invitacion.fecha_hora_entrega)? (invitacion.fecha_hora_entrega.strftime("%Y-%m-%d %H:%M")) : "---"%></td>

            <%if invitacion.signed?%>
              <td>Firmada: <%=h invitacion.sesion.signed_at.strftime("%Y-%m-%d %H:%M") %></td>
              <td><%=link_to 'Imprimir', {:action => "generar", :id => invitacion}, :title => "Imprimir invitacion de tr치mite #{invitacion.sesion.tramite.folio_integrado}", :class => 'boton'%></td>
            <%else%>
              <td><%=link_to 'No se puede imprimir por falta de firma', :title => "Imprimir invitacion de tr치mite #{invitacion.sesion.tramite.folio_integrado}", :class => 'boton'%></td>
            <%end%>
          </tr>
        <%end%>
    </tbody>
</table>

<%else%>
  <h3> No existe informaci칩n</h3><br />
<%end%>