<!-- Validate Plugin -->
<%=javascript_include_tag "validations/jquery_validate.js"%>

<% form_for :invitacion, @invitacion, :url => { :action => "save", :id => @invitacion }, :html => {:id => "new_orientacion"} do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >RAZON DE INVITACIONES</td>
    </tr>
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Expediente</td>
          <td align="center">Fecha/hora de sesión</td>
          <td align="center">Sala</td>
          <td align="center">Especialista / Correo electrónico</td>
        </tr>
        <tr>
          <td align="center"><%=h  (@invitacion.sesion) ? @invitacion.sesion.tramite.folio_integrado : "---"%> </td>
          <td align="center"><%=h  ((@invitacion.sesion) ? @invitacion.sesion.start_at.strftime("%Y-%m-%d %H:%M") : "---")%> </td>
          <td align="center"><%=h (@invitacion.sesion.sala_id) ? @invitacion.sesion.sala.descripcion : "---"%></td>
          <td align="center"><%=h @invitacion.especialista.nombre_completo%> (<%=h @invitacion.especialista.email%>) </td>
        </tr>
      </table></td>
    </tr>

    <!-- Datos de entrega -->

        <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">DATOS DE ENTREGA</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Invitador</td>
          <td align="center">¿Se entregó?</td>
          <td align="center">Fecha/hora de entrega</td>
        </tr>
        <tr>
          <td align="center"><%=h  ((@invitacion.invitador_id) ? @invitacion.invitador.nombre_completo : "--") %> </td>
          <td align="center"><%=f.check_box :entregada%> </td>
          <td align="center"><%=f.datetime_select :fecha_hora_entrega, :start_year => 2011, :ampm => true%></td>
        </tr>
      </table></td>
    </tr>

    <!-- Justificacion -->
       <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">JUSTIFICACIÓN</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Descripción</td>
        </tr>
        <tr>
         <td align="center"><%= f.text_area :justificacion, :class => "text"%></td>
        </tr>
      </table></td>
    </tr>


   
    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "home"-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>

