<div class="titulocalendario">
  <p style="font-family: 'Nexa Bold'; font-size: 17px;">RESUMEN DE LA INVITACION</p>
  <p style="font-family: 'Nexa Light'; font-size: 17px;"><%=(@invitacion.sesion) ? "SESIÓN PARA EL DÍA #{@invitacion.sesion.fechahora_completa}" : ''-%></p>
  <p style="font-family: 'Nexa Light'; font-size: 15px;">NÚMERO DE EXPEDIENTE: <%=link_to @tramite.numero_expediente, {:action => "show", :id => @tramite, :controller => "tramites"}, :class=> "fancybox fancybox.iframe"%></p>
</div>


  <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="4">
          DETALLE DE LA INVITACIÓN
        </th>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Última impresión:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.printed_at) ? @invitacion.printed_at.strftime("%d de %B de %Y / %H:%M") :  "---")%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Impreso por:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.printed_at) ? "#{(@invitacion.user) ?  @invitacion.user.nombre_completo: ''}" : "---")%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Cuadrante:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.participante.cuadrante_id) ? Cuadrante.find(@invitacion.participante.cuadrante_id).descripcion : "---")%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Estatus:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.estatus))%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Justificacion:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.justificacion) ? @invitacion.justificacion : "---")%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Invitador:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.invitador) ? @invitacion.invitador.nombre_completo : "---")%></td>
      </tr>

    <%if @invitacion.entregada == true%>
      <tr class="d0">
        <td style="vertical-align: middle;"><b>Fecha de entrega:</b></td>
        <td style="vertical-align: middle;"><%=h((@invitacion.fecha_hora_entrega) ? @invitacion.fecha_hora_entrega.strftime("%d de %B de %Y / %H:%M") : "No se ha entregado")%></td>
      </tr>      
    
      <tr class="d0">
        <td style="vertical-align: middle;"><b>Justificación:</b></td>
        <td><%=text_area(:invitacion, :justificacion, :size => "90x10", :disabled => 'disabled')%></td>
      </tr>
   <%end%>
  </table>

<br />

  <!-- Detalle de la sesión-->
  <%if @invitacion.sesion%>
    <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="4">
            DETALLE DE LA SESIÓN
        </th>
      </tr>

       <tr class="d0">
         <td style="vertical-align: middle;"><b>Descripción</b></td>
         <td style="vertical-align: middle;"><%=h(@invitacion.sesion.tiposesion_id ? @invitacion.sesion.tiposesion.descripcion : "---")%></td>
       </tr>

      <tr class="d1">
          <td style="vertical-align: middle;"><b>Fecha/hora de inicio</b></td>
          <td style="vertical-align: middle;"><%=h(@invitacion.sesion.start_at ? @invitacion.sesion.start_at.strftime("%d de %B de %Y / %H:%M") : "---")%></td>
       </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Especialista</b></td>
        <td style="vertical-align: middle;"><%=h(@invitacion.sesion.mediador ? @invitacion.sesion.mediador.nombre_completo : "---")%></td>
      </tr>
      
      <tr class="d1">
        <td style="vertical-align: middle;"><b>Comediador</b></td>
        <td style="vertical-align: middle;"><%=h(@invitacion.sesion.comediador ? @invitacion.sesion.comediador.nombre_completo : "---")%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Número de invitación</b></td>
        <%invitaciones = {1 => "PRIMERA", 2=> "SEGUNDA"}%>
        <td style="vertical-align: middle;"><%=h(@invitacion.sesion.num_invitacion ? invitaciones[@invitacion.sesion.num_invitacion] : "---")%></td>
      </tr>

  </table><br /><br />
  <%end%>



<div id="divlista">
  <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
      <th colspan="2">
        DATOS GENERALES DEL SOLICITANTE
      </th>
     </tr>


    <tr class="d0">
       <td style="vertical-align: middle;"><b>Solicitante:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.solicitante : "---")%></td>
    </tr>
    
    <!-- Datos de ubicacion -->
    <tr class="d0">
      <td style="vertical-align: middle;"><b>Dirección:</b></td>
      <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.direccion : "---")%></td>
    </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Correo electrónico:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.correo : "---")%></td>
    </tr>
    
    <tr class="d0">
       <td style="vertical-align: middle;"><b>Municipio:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.municipio.descripcion : "---")%></td>
    </tr>

    <tr class="d1">
       <td style="vertical-align: middle;"><b>Teléfono:</b></td>
       <td style="vertical-align: middle;"><%=h(@tramite.orientacion ? @tramite.orientacion.telefono : "---")%></td>
    </tr>
 </table>
 <br /><br />

  <!-- Participantes del trámite -->
  <% if @tramite.comparecencia %>
    
      <table width="60%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
        <tr style="background-color:gray; color:white">
          <th colspan="2">
            DATOS DE LOS PARTICIPANTES
          </th>
        </tr>

        <%clase=0%>
        <% if participante = Participante.find(@invitacion.participante_id)%>
          <tr class="d<%=invert_class(clase)%>">
            <td align="center" width="60%">
                <%=link_to "#{participante.nombre_completo}", {:action => "show", :controller => "participantes", :id => participante}, :class => "fancybox fancybox.iframe"-%>
            </td>
            <td>
                <%=h participante.domicilio%>
            </td>
          </tr>
          <%clase = invert_class(clase)%>
        <%end%>
      </table><br /><br />
    <%end%>
</div>


<br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "invitaciones", :action => "list_by_user"%><br />