<%=render :partial => "encabezado_botones"%>


<div class="titulocalendario">
  <p style="font-family: 'Nexa Light';">MIS INVITACIONES ENTREGADAS</p>
</div>


<%if @invitaciones%>
<table class="tablakolaval" width="92%" style="text-align: center;">
    
         <!-- Titulos -->
         <tr>
            <td>Número de expediente</td>
            <td scope="col" abbr="Starter">Participante</td>
            <td scope="col" abbr="Starter">Fecha de sesión</td>
            <td scope="col" abbr="Starter">Fecha de entrega</td>
            <td scope="col" abbr="Starter">Cuadrante</td>
            <td scope="col" abbr="Starter" colspan="2">&nbsp</td>
         </tr>
    

   
        <%@invitaciones.each do |invitacion|%>
          <tr>
            
            <td><%=h (invitacion.sesion_id) ? (link_to "#{Tramite.find(invitacion.sesion.tramite.id).numero_expediente}", {:action => "show", :controller => "tramites", :id => invitacion.sesion.tramite.id}, :target => "_blank") : ""%></td>
            <td><%=h (invitacion.participante) ? invitacion.participante.nombre_completo : "----"%></td>
            <td><%=h (invitacion.sesion.start_at)? invitacion.sesion.start_at.strftime("%d de %B de %Y / %H:%M") : "---"%></td>
            <td><%=h (invitacion.fecha_hora_entrega)? (invitacion.fecha_hora_entrega.strftime("%d de %B de %Y / %H:%M")) : "---"%></td>
             <%participante = invitacion.participante%>
             <td><%=h (participante && participante.cuadrante) ? (participante.cuadrante.descripcion) : "---"%></td>
             <%sesion = invitacion.sesion%>
            <%if sesion%>
            <td><%=link_to 'Imprimir', {:action => "imprimir", :id =>sesion.id, :participante => invitacion.participante_id, :token => "h9jqwo8h7s" }, :title => "Imprimir invitaciones de trámite", :class => 'boton'%></td>
            <%end%>

            <!-- detalle -->
            <td><%=link_to 'Detalle', {:action => "show", :id => invitacion}, :title => "Detalle de invitación", :class => 'boton'%></td>
          </tr>
        <%end%>
    
</table>

<%else%>
  <h3> No existe información</h3><br />
<%end%>