<script>


  function verificar_rol(){
        b = document.getElementById("participante_perfil");
         if (b.value != "INVOLUCRADO" || b.value != "SOLICITANTE" )
        {
          alert("Primero seleccione si es involucrado o solicitante");
          b.focus();
        }
   }
</script>

<% form_for :participante, @participante, :url => { :action => "save", :id => @comparecencia, :participante_id => @participante.id } do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >PERSONA FÍSICA</td>
    </tr>

    <!-- datos personales -->
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="8">DATOS PERSONALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center"></td>
          <td align="center">Rol</td>
          <td align="center">Paterno</td>
          <td align="center">Materno</td>
          <td align="center">Nombre(s)</td>
          <td align="center">Sexo</td>
          <td align="center">Fecha de Nacimiento</td>
          <td align="center">Edad</td>

        </tr>
        <tr>
          <td align="center"><%= f.hidden_field :tipopersona_id, :value => @tipo_persona.id%></td>
          <td align="center"><%= f.select(:perfil, ["INVOLUCRADO", "SOLICITANTE"], :prompt => 'Seleccione una opción')%></td>
          <td align="center"><%= f.text_field :paterno, :onKeyPress => "return CharNum(event, 'letra');", :onchange => "verificar_rol();", :required => true%></td>
          <td align="center"><%= f.text_field :materno, :onKeyPress => "return CharNum(event, 'letra');", :onchange => "verificar_rol();"%></td>
          <td align="center"><%= f.text_field :nombre, :onKeyPress => "return CharNum(event, 'letra');", :onchange => "verificar_rol();", :required => true%></td>
          <td align="center"><%= f.select(:sexo, { "Femenino" => "F", "Masculino" => "M"}) %></td>
          <td align="center"><%=f.date_select :fecha_nac, :start_year => 1928, :end_year => Time.now.year%></td>
          <td align="center">
            <%= f.select(:anio_nac,  hash_of_years)%>
          </td>

        </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5" >DATOS DE UBICACIÓN</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Municipio</td>
          <td align="center">Domicilio</td>
          <td align="center">Referencias</td>
          <td align="center">Cuadrante</td>
        </tr>
        <tr>
          <td align="center"><%= f.select :municipio_id, Municipio.find(:all).collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%></td>
          <td align="center"><%= f.text_area :domicilio, :size => "40x10", :required => true%></td>
          <td align="center"><%= f.text_area :referencia_domiciliaria, :size => "40x10"%></td>
          <td align="center"><%= f.select :cuadrante_id, Cuadrante.find(:all).collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%></td>
        </tr>
      </table></td>
    </tr>

    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" >DATOS DE LOCALIZACION</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Teléfono Particular</td>
          <td align="center">Teléfono Celular</td>
          <td align="center">Teléfono Celular Adicional</td>
          <td align="center">Correo Electrónico</td>
        </tr>
        <tr>
          <td align="center"><%= f.text_field :telefono_particular,  :onKeyPress => "return CharNum(event, 'numero');", :size => 20%></td>
          <td align="center"><%= f.text_field :telefono_celular,  :onKeyPress => "return CharNum(event, 'numero');", :size => 20%></td>
          <td align="center"><%= f.text_field :telefono_celular_aux, :onKeyPress => "return CharNum(event, 'numero');", :size => 20, :placeholder => "Capturar solo si existe"%></td>
          <td align="center"><%= f.text_field :correo%></td>
        </tr>
      </table></td>
    </tr>

    <!-- Observaciones -->
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5" >DATOS ADICIONALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Observaciones y/o documentos que exhibe</td>
        </tr>
        <tr>
            <td align="center"><%= f.text_area :observaciones, :onkeydown => "textCounter(document.getElementById('participante_observaciones'),385);", :onkeyup => "textCounter(document.getElementById('participante_observaciones'),500);"%></td>
        </tr>
      </table></td>
    </tr>


    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "comparecencias", :action => "new_or_edit", :id => @comparecencia.tramite-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>


