<script type="text/javascript">
  function verificar_rol(){
        b = document.getElementById("participante_perfil");
        if(b.value == ""){
          alert("Seleccione si es 'SOLICITANTE' o 'INVOLUCRADO'");
          b.style.border = "thick solid red";
          b.focus();
          return false
        }
        else
          b.style.border = "";
   }
</script>


<script  type="text/javascript">
  var statSend = false;
  function checkSubmit() {
    if (!statSend) {
        statSend = true;
        return true;
    } else {
        alert("El formulario ya se esta enviando...");
        return false;
    }
}
</script>


    <div class="formee-msg-info">
    <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul><li>&nbsp;</li></ul>
  </div>

<% form_for :participante, @participante, :url => { :action => "save", :id => @comparecencia, :participante_id => @participante.id }, :html => {:id => "new_participante", :onsubmit => "return checkSubmit();"} do |f| -%>
  <table width="92%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="4" align="center" >PERSONA FÍSICA</td>
    </tr>

    <!-- datos personales -->
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">DATOS PERSONALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
            <td align="center">Rol <em class="formee-req">*</em></td>
            <td align="center">Paterno<em class="formee-req">*</em></td>
            <td align="center">Materno</td>
            <td align="center" colspan="2">Nombre(s)<em class="formee-req">*</em></td>
        </tr>
        <tr>
          <td align="center"><%= f.hidden_field :tipopersona_id, :value => @tipo_persona.id%><%= f.select(:perfil, ["INVOLUCRADO", "SOLICITANTE"], :prompt => 'Seleccione una opción')%></td>
          <td align="center"><%= f.text_field :paterno, :onBlur=>"javascript:{this.value = this.value.toUpperCase();};verificar_rol();", :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
          <td align="center"><%= f.text_field :materno, :onBlur=>"javascript:{this.value = this.value.toUpperCase();};verificar_rol();", :onKeyPress => "return CharNum(event, 'letra');"%></td>
          <td align="center"><%= f.text_field :nombre, :onBlur=>"javascript:{this.value = this.value.toUpperCase();};verificar_rol();", :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
        </tr>

        <tr align=" justify" class="pregunta">
          <td align="center">Sexo</td>
          <td align="center">&nbsp;</td>
          <td align="center" colspan="2">Fecha de Nacimiento</td>
          <td align="center">Edad</td>
        </tr>
        <tr>
          <td align="center"><%= f.select(:sexo, { "Femenino" => "F", "Masculino" => "M"}) %></td>
          <td align="center">
                <%= f.check_box(:sabe_edad, {:onclick => "ena_edad(this, 'participante_fecha_nac', 'participante_anio_nac');" }, "NO", "SI") %>&nbsp;NO  SABE O NO RESPONDIO EDAD
          </td>

          <td align="center" colspan="2"><%=f.date_select :fecha_nac, :start_year => 1918, :end_year => Time.now.year%></td>
          <td align="center"><%= f.select(:anio_nac,  hash_of_years)%></td>
        </tr>
      </table>
     </td>
    </tr>
    <!-- segunda barra inferior -->
    <tr align="center">
      <td align="center">
         <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS DE PROCEDENCIA</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">&nbsp;</td>
          <td align="center">País</td>
          <td align="center">Estado / Municipio</td>
          
        </tr>
        <tr>
              <!-- pais -->
              <%default_pais = Pais.find(:first, :conditions => ["id = ?", @participante.pais_id])%>
             <%default_pais ||=Pais.find(:first, :conditions => ["clave = ? ", 'MX'])%>
             <td align="center">
                <%= f.check_box(:sabe_procedencia, {:onclick => "ena_originario(this, 'participante_pais_id', 'participante_municipio_id');" }, "NO", "SI") %>&nbsp;NO  SABE O NO RESPONDIO PROCEDENCIA
              </td>
              <td align="center"><%= f.select :pais_id, Pais.find(:all, :order => "descripcion").collect{|a| [a.descripcion, a.id]}, {:selected =>default_pais.id}, {:onchange => "showHideListadoDeEstados('participante_pais_id', 'estados_municipios', 'participante_municipio_id', 156);"}%></td>
                  <div id="estados_municipios">
                      <%estado_default = Estado.find_by_descripcion("CHIAPAS")%>
                      <%default = Municipio.find(:first, :conditions => ["id = ?", @participante.municipio_id])%>
                      <%default ||= Municipio.find(:first, :conditions => ["estado_id = ? and descripcion like ?", estado_default.id, "%#{LUGAR}%"])%>
                      <td align="center"><%= f.select :municipio_id, Municipio.find(:all).collect{|a| [a.descripcion_jerarquica, a.id]}, :prompt => 'Seleccione una opción', :selected =>default.id%></td>
                  </div>
          
        </tr>
      </table></td>
    </tr>


        <!-- segunda barra inferior segunda parte -->
    <tr align="center">
      <td align="center">
         <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS DE UBICACIÓN</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Domicilio <em class="formee-req">*</em></td>
          <td align="center">Referencias domiciliarias<em class="formee-req">*</em></td>
          <td align="center">Cuadrante</td>
        </tr>
        <tr>
            <td align="center"><%= f.text_area :domicilio, :onBlur=>"javascript:{this.value = this.value.toUpperCase(); }", :size => "40x10", :required => true%></td>
            <td align="center"><%= f.text_area :referencia_domiciliaria, :onBlur=>"javascript:{this.value = this.value.toUpperCase(); }", :size => "40x10"%></td>
            <td align="center"><%= f.select :cuadrante_id, Cuadrante.find(:all).collect{|a| [a.descripcion, a.id]}, :prompt => 'Seleccione una opción'%></td>
        </tr>
      </table></td>
    </tr>


    <tr align="center">
      <td align="center">
         <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS DE LOCALIZACIÓN</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Teléfono Particular</td>
          <td align="center">Teléfono Celular</td>
          <td align="center">Teléfono Celular Adicional</td>
          <td align="center">Correo Electrónico</td>
        </tr>
        <tr>
          <td align="center"><%= f.text_field :telefono_particular,  :onKeyPress => "return CharNum(event, 'numero');", :size => 20%></td>
          <td align="center"><%= f.text_field :telefono_celular,  :onKeyPress => "return CharNum(event, 'numero');", :size => 20%></td>
          <td align="center"><%= f.text_field :telefono_celular_aux, :onKeyPress => "return CharNum(event, 'numero');", :size => 20, :placeholder => "Capturar solo si existe"%></td>
          <td align="center"><%= f.text_field :correo, :placeholder => "Capturar solo si tiene"%></td>
        </tr>
      </table></td>
    </tr>

    <!-- Observaciones -->
    <tr align="center">
      <td align="center">
         <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4">DATOS ADICIONALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center" colspan="4">Observaciones y/o documentos que exhibe</td>
        </tr>
        <tr>
            <td align="center" colspan="4"><%= f.text_area :observaciones, :onBlur=>"javascript:{this.value = this.value.toUpperCase(); }", :size => "100x5", :onkeydown => "textCounter(document.getElementById('participante_observaciones'),385);", :onkeyup => "textCounter(document.getElementById('participante_observaciones'),500);"%></td>
        </tr>
      </table>
      </td>
    </tr>


    <!-- espacio -->
    <tr>
      <td colspan="4"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input id="btn_guardar" title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;" onClick="return verificar_rol();"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "comparecencias", :action => "new_or_edit", :id => @comparecencia.tramite-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>





<script type="text/javascript">
  var domicilio = new LiveValidation( 'participante_domicilio' );
  domicilio.add( Validate.Presence );
  domicilio.add( Validate.Length, { maximum: 255 } );

  var referencia = new LiveValidation( 'participante_referencia_domiciliaria' );
  referencia.add( Validate.Presence );
  referencia.add( Validate.Length, { maximum: 160 } );

  var observaciones = new LiveValidation( 'participante_observaciones' );
  observaciones.add( Validate.Length, { maximum: 350 } );
</script>

<script type="text/javascript">
  ena_originario("participante_sabe_procedencia", 'participante_pais_id', 'participante_municipio_id');
  ena_edad('participante_sabe_edad', 'participante_fecha_nac', 'participante_anio_nac');
</script>


<script type="text/javascript">
    showHideListadoDeEstados('participante_pais_id', 'estados_municipios', 'participante_municipio_id', 156);
</script>