<h2 align="center">Estadísticas generales</h2>
<h3 align="center">Del período del <%=@inicio.strftime('%d de %B de %Y')%> al <%=@fin.strftime('%d de %B de %Y')%></h3>


<!-- contenido -->
<div id="divlista">
    <table width="85%" border="1" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">

    <tr style="background-color:gray; color:white">
        <th colspan="3">
          Orientaciones
        </th>
    </tr>
    <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Número de orientaciones</td>
       <td style="vertical-align: middle;"><%=h @total_orientaciones%></td>
    </tr>

    <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Hombres</td>
       <td style="vertical-align: middle;"><%=h @orientaciones_hombres%> (<%=  "%.2f" % ((@orientaciones_hombres / @total_orientaciones.to_f) * 100)%>)%</td>
    </tr>

    <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Mujeres</td>
       <td style="vertical-align: middle;"><%=h @orientaciones_mujeres%> (<%=  "%.2f" % ((@orientaciones_mujeres / @total_orientaciones.to_f) * 100)%>)%</td>
    </tr>
    
    <!-- Estraordinarias --->
    <tr style="background-color:gray; color:white">
        <th colspan="3">
          Atenciones extraordinarias
        </th>
    </tr>
    <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Número de atenciones extraordinarias</td>
       <td style="vertical-align: middle;"><%=h @atenciones_extraordinarias%></td>
    </tr>
    
    <tr style="background-color:gray; color:white">
        <th colspan="3">
          Instituciones que han sido atendidas por el Centro.
        </th>
    </tr>

    <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Institución</td>
       <td style="vertical-align: middle;">Total de atendidos</td>
    </tr>

    <%@procedencias.each do |procedencia|%>
     <tr class="d1" align="center">
       <td colspan="2"><%=h procedencia.descripcion%></td>
       <td><%=h procedencia.numero_atenciones%></td>
    </tr>
    <%end%>


    <tr style="background-color:gray; color:white">
        <th colspan="3">
          Atenciones normales
        </th>
    </tr>

     
     <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Se brindó solo orientación</td>
       <td style="vertical-align: middle;"><%=h @solo_orientacion%></td>
     </tr>

     <!--
     <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Concluidas</td>
       <td style="vertical-align: middle;">< @comparecencias_concluidas%></td>
     </tr>
     -->

     <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Con conocimiento de alguna autoridad</td>
       <td style="vertical-align: middle;"><%=h @comparecencias_conocimiento%></td>
     </tr>

        <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Sin conocimiento de alguna autoridad</td>
       <td style="vertical-align: middle;"><%=h @comparecencias_noconocimiento%></td>
     </tr>

      <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Total de comparecencias levantadas</td>
       <td style="vertical-align: middle;"><%= @comparecencias_concluidas%></td>
     </tr>

    


      <tr style="background-color:gray; color:white">
        <th colspan="3">
          Especialistas
        </th>
      </tr>

     <tr class="d1">
       <td style="vertical-align: middle;">Nombre</td>
       <td style="vertical-align: middle;">Atención normal</td>
       <td style="vertical-align: middle;">Atención extraordinaria</td>
     </tr>

     <%@especialistas.each do |e|%>
        <tr class="d0">
          <td style="vertical-align: middle;"><%=e.nombre_completo%></td>
          <td style="vertical-align: middle;"><%=e.num_orientaciones_periodo(@inicio,@fin)%></td>
          <td style="vertical-align: middle;"><%=Extraordinaria.count(:id, :conditions => ["especialista_id = ? AND fechahora between ? AND ?", e.id, @inicio, @fin])%></td>
        </tr>
     <%end%>

     
     <tr style="background-color:gray; color:white">
        <th colspan="3">
          Participantes
        </th>
     </tr>


     <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Hombres</td>
       <td style="vertical-align: middle;"><%=h @participantes_hombres%></td>
     </tr>


     <tr class="d0">
       <td style="vertical-align: middle;" colspan="2">Mujeres</td>
       <td style="vertical-align: middle;"><%=h @participantes_mujeres%></td>
     </tr>

      <tr class="d1">
       <td style="vertical-align: middle;" colspan="2">Personas morales</td>
       <td style="vertical-align: middle;"><%=h @personas_morales%></td>
     </tr>
 </table>
</div>

<FORM>
<INPUT TYPE="button" value ="Imprimir" onClick="window.print()">
</FORM>