<div class="titulocalendario">
  <p>
    ANALITICO DE INVITACIONES
  </p>
</div>

<%@action = "analitico_invitaciones"%>
<%@title = "Seleccione el rango de fechas para generar estadística de invitaciones"%>
<%=render :partial => "select_date_range", :action => "select_estadisticas_invitaciones"%>

<div class="titulocalendario">
  <%if @inicio.strftime("%d de %B de %Y") == @fin.strftime("%d de %B de %Y")%>
      <p>
       <%=@inicio.strftime("%d de %B de %Y")%>
      </p>
  <%else%>
      <p>
        PERIODO COMPRENDIDO ENTRE EL <%=@inicio.strftime("%d de %B de %Y").upcase%> Y EL DÍA <%=@fin.strftime("%d de %B de %Y").upcase%>
      </p>
      <p> Total de invitaciones: <%= @invitaciones.total_entries %> </p>
  <%end%>
</div>



    <table class="tabla_dp" >
      <tr align="center">        
        <td align="center">
          <%# <%=h (link_to "IMPRIMIR LIBRO", {:controller => "libro", :action => "imprimir", :fecha_inicio => @inicio, :fecha_fin => @fin}, :target => "_blank", :class => "fancybox fancybox.iframe boton")%>
        </td>        
      </tr>  
    </table>



<div id="divlista">
  <table width="99%" border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; font-size: 11px;">
     <tr>
       <td style="vertical-align: middle; width: 5%;" align="center">Número de expediente</td>
       <td style="vertical-align: middle; width: 5%;" align="center">Folio</td>
       <td style="vertical-align: middle; width: 10%;" align="center">Fecha de creación</td>
       <td style="vertical-align: middle; width: 12%;" align="center">Participante</td>
       <td style="vertical-align: middle; width: 8%;" align="center">Perfil</td>
       <td style="vertical-align: middle; width: 10%;" align="center">Invitador</td>
       <td style="vertical-align: middle; width: 10%;" align="center">Estatus</td>
       <td style="vertical-align: middle; width: 14%;" align="center">Justificación</td>
       <td style="vertical-align: middle; width: 12%;" align="center">Fecha de entrega</td>
       <td style="vertical-align: middle; width: 14%;" align="center">Observaciones</td>
     </tr>
     
     <%for invitacion in @invitaciones%>      
      
        <!-- listado de todos los tramites -->
        <%sesion = Sesion.find(:first, :conditions => ["id = ?", invitacion.sesion_id])%>
        <%tramite = Tramite.find(:first, :conditions => ["id = ?", sesion.tramite_id])%>
        <%comparecencia = Comparecencia.find(:first, :conditions => ["tramite_id = ?", tramite])%>
        <%participante = invitacion.participante%>

        <tr>
          <!-- numero de expediente -->
          <td style="vertical-align: middle;"><%=link_to "#{tramite.numero_expediente}", {:controller => "tramites", :action => "show", :id => tramite}, :target => "_blank"%></td>
          <td style="vertical-align: middle;"><%=link_to "#{invitacion.id}", {:controller => "invitaciones", :action => "show", :id => invitacion}, :target => "_blank"%></td>
          <td style="vertical-align: middle;"><%=h invitacion.created_at.strftime("%A %d DE %B de %Y - %H:%M %p")%></td>
          <td style="vertical-align: middle;"><%=h (invitacion.participante) ? invitacion.participante.nombre_completo : "----" %></td>
          <td style="vertical-align: middle;"><%=h (participante && participante.perfil) ? (participante.perfil) : "N/A"  %></td>
          <td style="vertical-align: middle;"><%=h (invitacion.invitador_id)? invitacion.invitador.nombre_completo : "SIN ASIGNAR"%></td>
          <td style="vertical-align: middle;"><%=h invitacion.estatus%></td>
          <td style="vertical-align: middle;"><%=h invitacion.justificacion%></td>
          <td style="vertical-align: middle;"><%=h invitacion.fecha_hora_entrega%></td>
          <td style="vertical-align: middle;"><%=h invitacion.observaciones%></td>      
        </tr>    
        
     <%end%>
  </table>
</div>


<br />
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @invitaciones %>
          </div>
          <%= will_paginate @invitaciones, :params => { :fecha_inicio => @inicio, :fecha_fin => @fin  } %>
        </div>
      </td>
    </tr>
</table>


<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home"%><br />
