<div id="cargastrabajo" style="height: 100%;width: 100%;">
  <div class="titulocalendario">
    <p>Ranking de Actividad de Especialistas </p>
    <p style="font-size: 17px;">Orientaciones y comparecencias levantadas del mes de <%=Time.now.strftime("%B de %Y")%></p>
  </div>
  

  <div class="titulocalendario">
  <p align="center">
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "show_cargas_trabajo"}, :title => "Recargar"%>
   <%= link_to image_tag("kolaval/ico-print.jpg", :border =>0) , {:action => "print_cargas_trabajo", :id => "#{current_user.id}.pdf", :alt => "Impresión", :target => "_blank"}, :title => "Imprimir"%>
  </p
  
 </div>

   



  

  <div class="ultima_conexion" style="text-align: center;">
    Ultima actualización: <%=Time.now.strftime("%H:%M:%S")%>
  </div>
  <br />


  


  <!-- contenido -->
  <div id="divlista">
      <table  border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; margin: auto; width: 95%">

      <tr>
        <td style="vertical-align: middle;" width="4%" align="center">Rank</td>
        <td style="vertical-align: middle;" width="42%">Especialista</td>
        <td style="vertical-align: middle;" width="18%" align="center">Semana actual</td>
        <td style="vertical-align: middle;" width="18%" align="center">Mes actual</td>
        <td style="vertical-align: middle;" width="18%" align="center">Estatus actual</td>
      </tr>

      <%contador=1%>
      <%@especialistas_semana.each do |e|%>
      <tr>
        <td style="vertical-align: middle;"><%=contador%></td>

        <td style="vertical-align: middle;"><%=h(e.nombre_completo)%></td>

        <!-- semana -->
        <td style="vertical-align: middle;" style="text-align: center;"><%=h(e['puntuacion_final'].to_i)%></td>

        <!-- mes -->
        <td style="vertical-align: middle;"><%=h( (e['puntuacion_final'].modulo(1) * 100).to_i)%></td>

        <!-- estatus -->
        <td style="vertical-align: middle;"><%=h e.estatus_actual%></td>
        
        <%contador+=1%>
      </tr>
    <%end%>
    </table>
</div>
</div>