<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>


<table width="65%" border="0" cellspacing="0">
  <tr align="center">
    <td align="right" width="35%"><%=image_tag("pjech/logo_rojo.png", :border => 0, :size => "118×154", :alt => "PJECH")%></td>
    <td align="left" width="65%"><%=image_tag("pjech/barra_estadistica.png", :border => 0, :alt => "PJECH")%></td>
  </tr>
</table>
<br />

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
        <td>
           <%=link_to image_tag('iconos/estadisticas/especialistas.png', :size => "128x128") , {:action => "select_grafica_sesiones_especialistas"}, :title => "gráfica de sesiones detallada por especialista", :class => "fancybox fancybox.iframe"%>
        </td>
         <td>
           <%=link_to image_tag('iconos/estadisticas/materia.png', :size => "128x128") , {:action => "grafica_materia"}, :title => "gráfica por materia", :class => "fancybox fancybox.iframe"%>
        </td>
         <td>
           <%=link_to image_tag('iconos/estadisticas/listado_atendidos.png', :size => "128x128") , {:action => "select_personas_atendidas"}, :title => "Personas atendidas"%>
        </td>

  </tr>
  <tr align="center">
    <td class="menu">Gráfica por especialistas</td>
    <td class="menu">Gráfica por materia</td>
    <td class="menu">Listado de personas atendidas</td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr align="center">
         <td>
           <%=link_to image_tag('iconos/estadisticas/gender.png', :size => "128x128") , {:action => "grafica_atencion_sexo"}, :title => "gráfica de atencion por sexo", :class => "fancybox fancybox.iframe"%>
          </td>

          <td>
           <%=link_to image_tag('iconos/estadisticas/people.png', :size => "128x128") , {:action => "grafica_atencion_rango_edad"}, :title => "gráfica de atencion por rago de edades", :class => "fancybox fancybox.iframe"%>
          </td>
  </tr>

  <tr>
    <td class="menu" align="center">Gráfica por sexo</td>
    <td class="menu" align="center">Gráfica por rango de edad</td>
  </tr>
</table>





<!--
<=link_to "Gráfica de sesiones por especialistas", {:action => "grafica_sesiones_especialistas"}, :title => "gráfica de sesiones detallada por especilista", :class => "fancybox fancybox.iframe"%>
-->

<br/><br />
<%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />
