<%=javascript_include_tag "fancybox/jquery-1.8.0.min"%>
<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>


<div>
<p class="TituloMenuIconos">ESTADÍSTICAS</p>
<p>&nbsp;</p>
</div>

<table width="75%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center">
        <td>
           <%=link_to image_tag('iconos_estadisticos/grafica_orientaciones.png', :size => "128x128", :mouseover => "iconos_estadisticos/grafica_orientaciones_2.png") , {:action => "select_grafica_sesiones_especialistas"}, :title => "gráfica de sesiones detallada por especialista", :class => "fancybox fancybox.iframe"%>
        </td>
         <td>
           <%=link_to image_tag('iconos_estadisticos/grafica_materia.png', :size => "128x128", :mouseover => "iconos_estadisticos/grafica_materia_2.png") , {:action => "select_grafica_materia"}, :title => "gráfica por materia", :class => "fancybox fancybox.iframe"%>
        </td>
         <td>
           <%=link_to image_tag('iconos_estadisticos/bitacora_atencion.png', :size => "128x128", :mouseover => "iconos_estadisticos/bitacora_atencion_2.png") , {:action => "select_personas_atendidas"}, :title => "Bitácora de atención"%>
        </td>

        <td>
           <%=link_to image_tag('iconos_estadisticos/carga_trabajo.png', :size => "128x128", :mouseover => "iconos_estadisticos/carga_trabajo_2.png") , {:action => "show_cargas_trabajo"}, :title => "Cargas de trabajo", :class => "fancybox fancybox.iframe"%>
        </td>

  </tr>
  <tr align="center">
    <td class="menu">Gráfica de Orientaciones &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "select_grafica_sesiones_especialistas"}, :title => "Imprimir" %></td>
    <td class="menu">Gráfica por materia &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "grafica_materia"}, :title => "Imprimir" %></td>
    <td class="menu">Bitácora de Atención &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "select_personas_atendidas"}, :title => "Imprimir" %></td>
    <td class="menu">Cargas de trabajo &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "show_cargas_trabajo"}, :title => "Imprimir" %></td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <tr align="center">
         <td>
           <%=link_to image_tag('iconos_estadisticos/grafica_genero.png', :size => "128x128", :mouseover => "iconos_estadisticos/grafica_genero_2.png") , {:action => "grafica_atencion_sexo"}, :title => "gráfica de atencion por sexo", :class => "fancybox fancybox.iframe"%>
          </td>

          <td>
           <%=link_to image_tag('iconos_estadisticos/grafica_edad.png', :size => "128x128", :mouseover => "iconos_estadisticos/grafica_edad_2.png") , {:action => "grafica_atencion_rango_edad"}, :title => "gráfica de atencion por rago de edades", :class => "fancybox fancybox.iframe"%>
          </td>

          <%if current_user.has_role?("direccion")%>
            <td>
              <%=link_to image_tag('iconos_estadisticos/grafica_no_atendidos.png', :size => "128x128", :mouseover => "iconos_estadisticos/grafica_no_atendidos_2.png") , {:action => "select_grafica_noatencion"}, :title => "gráfica de atencion por rago de edades", :class => "fancybox fancybox.iframe"%>
            </td>
          <%end%>

          <td>
           <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_generales"}, :title => "Estadisticas generales"%>
          </td>
  </tr>

  <tr>
    <td class="menu" align="center">Gráfica por sexo &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "grafica_atencion_sexo"} %></td>
    <td class="menu" align="center">Gráfica por Rango de Edades &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "grafica_atencion_rango_edad"} %></td>
    <%if current_user.has_role?("direccion")%>
      <td class="menu" align="center">Gráfica de no atención &nbsp;<%=link_to image_tag('iconos/print.png'), {:action => "select_grafica_noatencion"} %></td>
    <%end%>
    <td class="menu" align="center">Estadísticas Generales </td>
  </tr>

  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  
  <tr align="center">
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_concluidos"}, :title => "TRÁMITES CONCLUIDOS"%>
    </td>
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "activos_por_especialista"}, :title => "TRÁMITES ACTIVOS POR ESPECIALISTA"%>
    </td>
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_convenios"}, :title => "ANALÍTICO DE CONVENIOS"%>
    </td>
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_invitaciones"}, :title => "ANALÍTICO DE INVITACIONES"%>
    </td>
  </tr>
  <tr>
    <td class="menu" align="center">Trámites concluidos</td>
    <td class="menu" align="center">Trámites activos por especialista</td>
    <td class="menu" align="center">Analítico de convenios</td>
    <td class="menu" align="center">Analítico de invitaciones</td>
  </tr>

  
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
 
  <tr align="center">
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_sesiones"}, :title => "ANALÍTICO DE SESIONES"%>
    </td>
    <td>
      <%=link_to image_tag('iconos_estadisticos/estadisticas_generales.png', :size => "128x128", :mouseover => "iconos_estadisticos/estadisticas_generales_2.png") , {:action => "select_estadisticas_analitico_concluidos"}, :title => "ANALÍTICO DE CONCLUIDOS"%>
    </td>
  </tr>

  <tr>
    <td class="menu" align="center">Analítico de sesiones</td>
    <td class="menu" align="center">Analítico de concluidos</td>
  </tr>

</table>





<!--
<=link_to "Gráfica de sesiones por especialistas", {:action => "grafica_sesiones_especialistas"}, :title => "gráfica de sesiones detallada por especilista", :class => "fancybox fancybox.iframe"%>
-->

<br/><br />
<%if current_user.has_role?("direccion")%>
  <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />
<%end%>