<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr style="background-color:gray; color:white">
      <th style="vertical-align: middle;" align="center">NP</th>
       <th style="vertical-align: middle;" align="center">Fecha/Hora</th>
       <th style="vertical-align: middle;" align="center">Solicitante</th>
       <th style="vertical-align: middle;" align="center"><%=h "Estatus"%></th>
       <th style="vertical-align: middle;" colspan="4" align="center">Acciones</th>
    </tr>
    <%clase=0%>
    <%contador=1%>
    <%@orientaciones.each do |orientacion|%>
       <tr class="d<%=invert_class(clase)%>">
        <td style="vertical-align: middle;"><%=contador%></td>
        <td style="vertical-align: middle;"><%=orientacion.fechahora.strftime("%Y-%m-%d %H:%M")%></td>
        <td style="vertical-align: middle;"><%=orientacion.solicitante%></td>
        <% if !orientacion.tramite.only_orientacion %>
          <td style="vertical-align: middle;"><%=orientacion.tramite.estatu.descripcion%></td>
          <td style="vertical-align: middle;"><%=link_to "Levantar Comparecencia",{:controller => "comparecencias", :action => "new_or_edit", :id => orientacion.tramite},  :confirm => '¿Esta seguro que desea capturar la comparecencia?', :class => 'boton'%></td>
          <td style="vertical-align: middle;"><%=link_to "Sólo Orientación",{:controller => "tramites", :action => "only_orientacion", :id => orientacion.tramite},  :confirm => '¿Esta seguro que será una orientación únicamente?', :class => 'boton'%></td>
        <%else%>
          <td style="vertical-align: middle;"><%=h "Sólo Orientación"%></td>
        <%end%>
        <td style="vertical-align: middle;"><%=link_to "Resumen", {:action => "show", :controller => "tramites", :id => orientacion.tramite}, :class => 'boton'%></td>
      </tr>
      <%clase = invert_class(clase)%>
      <%contador+=1%>
    <%end%>
  </table>
</div>


