<div id="divlista">
  <table width="95%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr class="d0">
       <td style="vertical-align: middle;">Fecha/Hora</td>
        <td style="vertical-align: middle;">Solicitante</td>
        <td style="vertical-align: middle;">Sala</td>
        <td style="vertical-align: middle;"><%=h "Estatus"%></td>
        <td style="vertical-align: middle;" colspan="2">Acciones</td>
    </tr>
    <%@orientaciones.each do |orientacion|%>
      <tr>
        <td style="vertical-align: middle;"><%=orientacion.fechahora.strftime("%Y-%m-%d %H:%M:%S")%></td>
        <td style="vertical-align: middle;"><%=orientacion.solicitante%></td>
        <% if orientacion.sala %>
          <td style="vertical-align: middle;"><%=orientacion.sala.descripcion%></td>
        <%end%>
        <td style="vertical-align: middle;"><%=orientacion.tramite.estatu.descripcion%></td>
        <td style="vertical-align: middle;"><%=link_to "Comparecencia",{:controller => "comparecencias", :action => "new_or_edit", :id => orientacion.tramite}, :class => "boton"%></td>
        <td style="vertical-align: middle;"><%=button_to "Cambiar estatus", :action => "change_estatus", :id => orientacion, :token => "En espera", :confirm => '¿Esta seguro que desea reactivarlo?', :method => :delete%></td>
        <td style="vertical-align: middle;"></td>
      </tr>
    <%end%>
  </table>
</div>


