<!-- Validate Plugin -->
<%=javascript_include_tag "validations/jquery_validate.js"%>

<%=javascript_include_tag "fancybox/jquery-1.8.0.min"%>
<script type="text/javascript">
		$j(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$j('.fancybox').fancybox();
               });
</script>

<%#*<script type="text/javascript">%>
<%#*$j(document).ready(function() {%>
  <%#*formulario = $j("#new_orientacion");%>
  <%#*formulario.submit(function() {%>
    <%#*$j.blockUI({%>
            <%#*message: '<h1><img src="/images/busy.gif" /> Procesando, por favor espere ...</h1>'%>
          <%#*});%>

        <%#*setTimeout($.unblockUI, 2000);%>
  <%#*})%>
<%#*})%>
<%#*</script>%>



<script  type="text/javascript">
   function DisableButton(b)
   {
      b.disabled = true;
      b.value = 'ENVIANDO DATOS..';
      b.form.submit();
   }
</script>


<div class="container">

  <div class="grid-12-12">
   <p>
    <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "new_or_edit"}, :title => "Recargar"%> | <%=link_to image_tag('iconos_estadisticos/carga_trabajo.png', :size => "54x54", :mouseover => "iconos_estadisticos/carga_trabajo_2.png") , {:action => "show_cargas_trabajo"}, :title => "Cargas de trabajo", :class => "fancybox fancybox.iframe"%>
   </p>
    <p class="ultima_conexion">
     Última actualización: <%=Time.now.strftime("%H:%M:%S")%>
   </p>
 </div>

    <div class="formee-msg-info">
    <h3>Información importante</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>
    <ul><li>&nbsp;</li></ul>
  </div>




<% form_for :orientacion, @orientacion, :url => { :action => "save", :id => @orientacion }, :html => {:id => "new_orientacion"} do |f| -%>
  <table width="98%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr>
  <fieldset>
    <legend style="font-size: 16px;">CAPTURA&nbsp;DE&nbsp;NUEVA&nbsp;ORIENTACIÓN</legend>
    
     <!-- primera linea -->
     <div class="grid-4-12">
        <label style=" font-weight: bold;">Fecha/hora:</label>
         <div class="grid-12-12">
          <%=f.text_field :fechahora, :value => @fecha%>
         </div>
      </div>

     <div class="grid-8-12">
    <label style=" font-weight: bold;">Estado | Especialista  | Actividad en semana actual: <em class="formee-req">*</em></label>
         <div class="grid-12-12">
            <%if @extra%>
                <%= f.select :user_id, @especialistas.collect{|a| [a.full_description_for_especialistas, a.id]}%>
            <%else%>
                <%if @especialista%>
                      &nbsp;
                  <%else%>
                        <%= f.select :user_id, @especialistas.collect{|a| [a.full_description_for_especialistas, a.id]}, {:selected => @especialistas.first}%>
                  <%end%>
            <%end%>
         </div>
    </div>

     <div class="grid-12-12 clear"></div>
     
     

      <!-- segunda linea -->

     <div class="grid-3-12">
        <label style=" font-weight: bold;">Apellido Paterno: <em class="formee-req">*</em></label>
        <div class="grid-12-12">
          <%= f.text_field :paterno, :onKeyPress => "return CharNum(event, 'letra');", :required => true, :size => 24%>
        </div>
     </div>

      <div class="grid-3-12">
        <label style=" font-weight: bold;">Apellido Materno:</label>
         <div class="grid-12-12">
        <%= f.text_field :materno, :onKeyPress => "return CharNum(event, 'letra');", :size => 24%>
         </div>
      </div>
      
      <div class="grid-3-12">
        <label style=" font-weight: bold;">Nombre(s): <em class="formee-req">*</em></label>
         <div class="grid-12-12">
         <%= f.text_field :nombre,  :onKeyPress => "return CharNum(event, 'letra');", :required => true, :size => 32%>
         </div>
      </div>

       <div class="grid-3-12">
        <label style=" font-weight: bold;">Sexo: <em class="formee-req">*</em></label>
        <div class="grid-12-12">
            <%= f.select(:sexo, { "Femenino" => "F", "Masculino" => "M"}, :include_blank => true) %>
        </div>
      </div>

      <div class="grid-12-12 clear"></div>

     
      <!-- tercera linea -->

      <div class="grid-3-12">
        <label style=" font-weight: bold;">Dirección: <em class="formee-req">*</em></label>
         <div class="grid-12-12">
               <%= f.text_area :direccion, :class => "text", :size => "28x7", :required => true%>
         </div>
       </div>

        <div class="grid-8-12">
        <label style=" font-weight: bold;">País:</label>
         <div class="grid-12-12">
            <%default_pais =Pais.find(:first, :conditions => ["clave = ? ", 'MX'])%>
            <%= f.select :pais_id, Pais.find(:all, :order => "descripcion").collect{|a| [a.descripcion, a.id]}, {:selected =>default_pais.id}, {:onchange => "showHideListadoDeEstados('orientacion_pais_id', 'estados_municipios', 'orientacion_municipio_id', 156);"}%>
         </div>
      </div>

      <div id="estados_municipios" class="grid-8-12">
        <label style=" font-weight: bold;">Estado / Municipio:</label>
         <div class="grid-12-12">
             <%estado_default = Estado.find_by_descripcion("CHIAPAS")%>
             <%default = Municipio.find(:first, :conditions => ["estado_id = ? and descripcion like ?", estado_default.id, "%#{LUGAR}%"])%>
            <%= f.select :municipio_id, Municipio.find(:all, :order => "estado_id").collect{|a| [a.descripcion_jerarquica, a.id]}, :prompt => 'Seleccione una opción', :selected =>default.id%>
         </div>
      </div>

      <div class="grid-3-12">
        <label style=" font-weight: bold;">Teléfono:</label>
         <div class="grid-12-12">
            <%= f.text_field :telefono, :onKeyPress => "return CharNum(event, 'numero');", :class => "text", :size => 19%>
          </div>
       </div>

       <div class="grid-3-12">
        <label style=" font-weight: bold;">Correo: </label>
        <div class="grid-12-12">
            <%= f.text_field :correo, :size => 28%>
        </div>
      </div>


     <!-- cuarta linea --->
      <div class="grid-12-12">
        <label style=" font-weight: bold;">Observaciones y/o comentarios: </label>
        <div class="grid-12-12">
            <%= f.text_area :observaciones, :size => "88x4"%>
        </div>
      </div>
</fieldset>
  </tr>

    <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar"  />
          </td>
          <td>
            <a href="/home" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>

  </table>



<%end%>

  </div>



<script type="text/javascript">
  var domicilio = new LiveValidation( 'orientacion_direccion' );
  var nombre = new LiveValidation( 'orientacion_nombre' );
  var sexo = new LiveValidation( 'orientacion_sexo' );
  domicilio.add( Validate.Presence );
  nombre.add( Validate.Presence );
  sexo.add( Validate.Presence );
  domicilio.add( Validate.Length, { maximum: 160 } );
</script>


<script type="text/javascript">
  showHideListadoDeEstados('orientacion_pais_id', 'estados_municipios', 'orientacion_municipio_id', 156);
</script>