<p>
  <b>Fechahora:</b>
  <%=h @orientacion.fechahora %>
</p>

<p>
  <b>Observaciones:</b>
  <%=h @orientacion.observaciones %>
</p>

<p>
  <b>User:</b>
  <%=h @orientacion.user_id %>
</p>

<p>
  <b>Sala:</b>
  <%=h @orientacion.sala_id %>
</p>

<p>
  <b>Paterno:</b>
  <%=h @orientacion.paterno %>
</p>

<p>
  <b>Materno:</b>
  <%=h @orientacion.materno %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @orientacion.nombre %>
</p>

<p>
  <b>Sexo:</b>
  <%=h @orientacion.sexo %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @orientacion.municipio_id %>
</p>


<%= link_to 'Edit', edit_orientacion_path(@orientacion) %> |
<%= link_to 'Back', orientacions_path %>