<p>
   <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "show_especialistas_disponibles"}, :title => "Recargar"%>
</p>


  <table width="50%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
    <tr class="titulo">
      <td colspan="3" align="center" style="color: whitesmoke;" >ESPECIALISTAS DISPONIBLES (<%=Time.now.strftime("%d de %B de %Y -  %H:%M")%>)</td>
    </tr>

    <!-- TITULO -->
    <tr class="subtitulo">
      <td align="center">NP</td>
      <td align="center">
         NOMBRE COMPLETO
      </td>
      <td align="center">
         PUNTACIÓN
      </td>
    </tr>
     <%clase=0%>
    <%contador=1%>
    <%@especialistas.each do |especialista|%>
     <tr align="left" class="d<%=invert_class(clase)%>">
       <td><%=h contador%></td>
      <td align="left">
         <%=especialista.nombre_completo%>
      </td>
      <td align="left">
         <%=especialista.puntuacion%>
      </td>
    </tr>
    <%clase = invert_class(clase)%>
    <%contador+=1%>
    <%end%>
</table>


<br /><%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "home", :action => "index"%><br />


