<div class="titulocalendario">
  <p>TRÁMITES EXTRAORDINARIOS DE OTRAS INSTITUCIONES</p>
  <p><%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "index"}, :title => "Recargar"%></p>
</div>



<p>
  <!-- Nuevo registro -->
  <%=h (link_to "Nuevo trámite", {:controller => "extraordinaria", :action => "new_or_edit"}, :class => 'boton') %>

  <!-- Catalogo de instituciones -->
  <%if current_user.has_role?(:admindireccion) || current_user.has_role?(:oficinasubdireccion)%>
      | <%=h (link_to "INSTITUCIONES", {:controller => "procedencias"}, :class => "boton")%>
  <%end%>
</p>

<!-- contenido -->

    <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; width: 99%; margin: auto;">
      <tr>
        <td style="vertical-align: middle;" align="center">&nbsp;</td>
         <td style="vertical-align: middle;" align="center">Num Exp.</td>
          <td style="vertical-align: middle;" align="center">Procedencia</td>
          <td style="vertical-align: middle;" align="center">Especialista</td>
          <td style="vertical-align: middle;" align="center">Fecha/Hora inicial</td>
          <td style="vertical-align: middle;" align="center">Solicitante</td>
          <td style="vertical-align: middle;" align="center"><%=h "Estatus"%></td>
          <td style="vertical-align: middle;" colspan="3" align="center">Acciones</td>
      </tr>
    

   <%tramite_iniciado_por_escrito=Estatu.find_by_clave("tram-escr")%>
    <%@extraordinarias.each do |e|%>
    <tr>
        <%if e.fechahora%>
          <td style="vertical-align: middle; text-align: 'center';" width="4%">
              <%=link_to image_tag("kolaval/ico-print-tramite.jpg", :border => 0), {:controller => "extraordinaria", :action => "show", :id => e }, :title => e.fechahora.strftime('%d de %B de %Y - %H:%M:%S')-%>
          </td>
        <%end%>
        <td style="vertical-align: middle;"><b><%=h (e.tramite) ? e.tramite.numero_expediente : "----"%></b></td>
        <td style="vertical-align: middle;"><%=h (e.procedencia) ? e.procedencia.descripcion : "----"%></td>
        <td style="vertical-align: middle;"><%=h (e.especialista_id) ? User.find(e.especialista_id).nombre_completo : "----"%></td>
        <td style="vertical-align: middle;"><%=h (e.fechahora) ? e.fechahora.strftime('%d de %B de %Y - %H:%M:%S') : "---"%></td>
        <td style="vertical-align: middle;"><%=h (e.solicitante) ? e.solicitante : "---"%></td>
        <td style="vertical-align: middle;"><%=h (e.tramite) ? e.tramite.estatus : "---"%></td>
       
         <!-- Edicion -->
        <%if ( e.user_id == current_user.id)%>
            <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "extraordinaria", :action => "new_or_edit", :id => e.tramite.id}, :class => 'boton') %></td>
        <%else%>
            <td style="vertical-align: middle;">&nbsp;</td>
       <%end%>

        <!-- Comparecencia -->
        <td style="vertical-align: middle;"><%=h (link_to "Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => e.tramite.id}, :class => 'boton') %></td>
        
        <!-- Eliminar si es inicio de tramite-->
        <%if (current_user.has_role?("admin") || e.tramite.estatus == tramite_iniciado_por_escrito)%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => e.tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>
      </tr>
    <%end%>
  </table>

<br />
<div>
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @extraordinarias %>
          </div>
          <%= will_paginate @extraordinarias %>
        </div>
      </td>
    </tr>
</table>
</div>

