<div class="titulocalendario">
  <p>Trámites extraordinarios de otras instituciones</p>
</div>


<div class="grid-12-12">
   <p>
    <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "index"}, :title => "Recargar"%>
   </p>
</div>

<!-- Nuevo e Instituciones-->
<p>
  <%=h (link_to "Nuevo", {:controller => "extraordinaria", :action => "new_or_edit"}, :class => 'boton') %> | <%=h (link_to "INSTITUCIONES", {:controller => "procedencias"}, :class => "boton")%>
</p>

<!-- contenido -->
<div id="divlista">
    <table border="0" cellspacing="0" cellpadding="0" class="tablakolaval" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr>
         <td style="vertical-align: middle;" align="center">Num Exp.</td>
          <td style="vertical-align: middle;" align="center">Procedencia</td>
          <td style="vertical-align: middle;" align="center">Especialista</td>
          <td style="vertical-align: middle;" align="center">Fecha/Hora inicial</td>
          <td style="vertical-align: middle;" align="center"><%=h "Estatus"%></td>
          <td style="vertical-align: middle;" colspan="3" align="center">Acciones</td>
      </tr>
    

   <%tramite_iniciado_por_escrito=Estatu.find_by_clave("tram-escr")%>
    <%@extraordinarias.each do |e|%>
    <tr>
       <td style="vertical-align: middle;"><b><%=h (e.tramite) ? e.tramite.numero_expediente : "----"%></b></td>
       <td style="vertical-align: middle;"><%=h (e.procedencia) ? e.procedencia.descripcion : "----"%></td>
       <td style="vertical-align: middle;"><%=h (e.especialista_id) ? User.find(e.especialista_id).nombre_completo : "----"%></td>
       <td style="vertical-align: middle;"><%=h (e.fechahora) ? e.fechahora.strftime('%d de %B de %Y - %H:%M:%S') : "---"%></td>
       <td style="vertical-align: middle;"><%=h (e.tramite) ? e.tramite.estatus : "---"%></td>
       
         <!-- Edicion -->
        <%if ( e.user_id == current_user.id)%>
          <td style="vertical-align: middle;"><%=h (link_to "Editar", {:controller => "extraordinaria", :action => "new_or_edit", :id => e.tramite.id}, :class => 'boton') %></td>
        <%end%>

        <!-- Comparecencia -->
        <%if (Comparecencia.find_by_tramite_id(e.tramite_id))%>
          <td style="vertical-align: middle;"><%=h (link_to "Editar Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => e.tramite.id}, :class => 'boton') %></td>
        <%else%>
            <%unless e.tramite.numero_expediente%>
              <td style="vertical-align: middle;"><%=h (link_to "Levantar Comparecencia", {:controller => "comparecencias", :action => "new_or_edit", :id => e.tramite.id}, :class => 'boton') %></td>
            <%end%>
        <%end%>

        <!-- Eliminar si es inicio de tramite-->

        <%if (current_user.has_role?("admin") || e.tramite.estatus == tramite_iniciado_por_escrito)%>
              <td style="vertical-align: middle;"><%=link_to "Eliminar", {:action => "destroy", :id => e.tramite}, :confirm => "¿Esta seguro que desea eliminar el registro", :method => :delete, :class => 'boton' -%></td>
        <%end%>

        <!-- resumen general -->
        <td style="vertical-align: middle;"><%=link_to "Resumen", {:controller => "extraordinaria", :action => "show", :id => e.id}, :class => 'boton'  -%></td>
    </tr>
    <%end%>
  </table>
</div>
<br />
<div>
<table>
    <tr align="center" >
      <td colspan="5" style="padding: 0;">
        <div class="digg_pagination">
          <div class="page_info">
            <%= page_entries_info @extraordinarias %>
          </div>
          <%= will_paginate @extraordinarias %>
        </div>
      </td>
    </tr>
</table>
</div>

