<!-- Validate Plugin -->
<%=javascript_include_tag "validations/jquery_validate.js"%>

<p>
  <%= link_to image_tag("kolaval/ico-actualizar.jpg", :border =>0) , {:action => "new_or_edit"}, :title => "Recargar"%>
</p>


<% form_for :extraordinaria, @extraordinaria, :url => { :action => "save", :id => @extraordinaria }, :html => {:id => "new_extraordinaria"} do |f| -%>
  <table class="sample" width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr class="titulo">
      <td colspan="3" style="text-align: center; background: white;">ATENCION EXTRAORDINARIA</td>
    </tr>

    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Fecha/hora</td>
          <td align="center">Especialistas</td>
        </tr>
        <tr>
          <td align="center"><%=f.text_field :fechahora%></td>
          <%unless @especialista%>
              <td align="center"><%= f.select :user_id, @especialistas.collect{|a| [a.nombre_completo, a.id]}, :include_blank => true%></td>
          <%else%>
              <td align="center"><%= f.select :user_id, @especialistas.collect{|a| [a.nombre_completo, a.id]}, {:include_blank => true, :selected => @especialista}%></td>
          <%end%>
        </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
      <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" >DATOS PERSONALES DEL SOLICITANTE</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Apellido Paterno</td>
          <td align="center">Apellido Materno</td>
          <td align="center">Nombre(s)</td>
          <td align="center">Sexo</td>
        </tr>
        <tr>
          <td align="center"><%= f.text_field :paterno, :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
          <td align="center"><%= f.text_field :materno,  :onKeyPress => "return CharNum(event, 'letra');"%></td>
          <td align="center"><%= f.text_field :nombre,  :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
          <td align="center"><%= f.select(:sexo, { "Femenino" => "F", "Masculino" => "M"}) %></td>
        </tr>
      </table></td>
      </tr>

    <!-- barra media -->
    <%if current_user.has_role?(:admindireccion) || current_user.has_role?(:oficinasubdireccion)%>
    <tr class="Estilo3">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
         <tr align="center" class="pregunta">
          <td>Número de Exp. en el CEJA (Sólo si tiene)</td>
          <td>Término (Horas)</td>
          <td>Número de Oficio</td>
          <td>Delito</td>
        </tr>
        <tr align="center">
          <td> <%= f.text_field :num_expediente, :placeholder => "Ejemplo: 188/2016"%></td>
          <td> <%= f.text_field :termino%></td>
          <td> <%= f.text_field :num_oficio, :placeholder => "Si viene de un oficio"%></td>
          <td> <%= f.text_area :delito, :size => "40x5", :placeholder => "Si existe un delito"%></td>
        </tr>
        </table>
      </td>
    </tr>
    <%end%>

    <!-- procedencia -->
     <!-- barra media -->
    <tr class="Estilo3">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
          <tr align="center" bgcolor="#E8E8E8" class="subtitulo">
            <td colspan="4" >DETALLE DEL ASUNTO</td>
          </tr>
        <tr align="center" class="pregunta">
          <td>Procedencia</td>
          <td>Observaciones</td>
        </tr>
        <tr align="center">
          <td><%= f.select :procedencia_id, @procedencias.collect{|a| [a.descripcion, a.id]}%></td>
          <td> <%= f.text_area :observaciones, :size => "40x10"%></td>
        </tr>
        </table>
      </td>
    </tr>


    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->

    <tr>
    <td align="right">
      <table>
        <tr>
          <td>
            <input id="button4" onclick="to_uppercase();" class="buttonText" type="submit" title="Guardar y Regresar" value="Guardar y Regresar" />
          </td>
          <td>
            <a href="/extraordinaria" id="buttonc" class="buttonText"><img src="/images/formee/form-ic-error.png"/>&nbsp;&nbsp;Regresar sin Guardar</a>
          </td>
        </tr>
        <tr>
          <td colspan="2" >&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>


  </table>
<% end %>

