<!-- Validate Plugin -->
<%=javascript_include_tag "validations/jquery_validate.js"%>

<p>
   <%= link_to image_tag("iconos/reload.png", :border =>0) , {:action => "new_or_edit"}, :title => "Recargar"%>
</p>


<% form_for :extraordinaria, @extraordinaria, :url => { :action => "save", :id => @extraordinaria }, :html => {:id => "new_extraordinaria"} do |f| -%>
  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="1">
    <tr bgcolor="#CCCCCC" class="titulo">
      <td colspan="3" align="center" >ATENCION EXTRAORDINARIA</td>
    </tr>
    <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="5">DATOS GENERALES</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Fecha/hora</td>
          <td align="center">Especialistas</td>
          <td align="center">¿Notificar especialista vía correo?</td>
        </tr>
        <tr>
          <td align="center"><%=f.datetime_select :fechahora, :start_year => 2011, :ampm => true%></td>
          <!--
            <td align="center"><=f.text_field :fechahora%></td>
          -->

          <%if @especialista%>
              <td align="center"><%= f.select :user_id, @especialistas.collect{|a| [a.nombre_completo, a.id]}, :include_blank => true%></td>
          <%else%>
              <td align="center"><%= f.select :user_id, @especialistas.collect{|a| [a.nombre_completo, a.id]}, {:include_blank => true, :selected => @especialistas.first}%></td>
          <%end%>
          <td align="center"><%=f.check_box :notificacion%> </td>
        </tr>
      </table></td>
    </tr>
    <!-- segunda barra inferior -->
      <tr align="center">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
        <tr bgcolor="#E8E8E8" class="subtitulo">
          <td align="center" colspan="4" >DATOS PERSONALES DEL SOLICITANTE</td>
        </tr>
        <tr align=" justify" class="pregunta">
          <td align="center">Apellido Paterno</td>
          <td align="center">Apellido Materno</td>
          <td align="center">Nombre(s)</td>
          <td align="center">Sexo</td>
        </tr>
        <tr>
          <td align="center"><%= f.text_field :paterno, :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
          <td align="center"><%= f.text_field :materno,  :onKeyPress => "return CharNum(event, 'letra');"%></td>
          <td align="center"><%= f.text_field :nombre,  :onKeyPress => "return CharNum(event, 'letra');", :required => true%></td>
          <td align="center"><%= f.select(:sexo, { "Femenino" => "F", "Masculino" => "M"}) %></td>
        </tr>
      </table></td>
      </tr>

    <!-- barra media -->
    <tr class="Estilo3">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
          <tr align="center" bgcolor="#E8E8E8" class="subtitulo">
            <td colspan="4" >DATOS DE PROCEDENCIA</td>
          </tr>

          <tr align="center" class="pregunta">
            <td colspan="4">Procedencia</td>
          </tr>

          <tr align="center" align="center">
            <td colspan="4"> <%= f.select :procedencia_id, @procedencias.collect{|a| [a.descripcion, a.id]}%></td>
          </tr>


        <tr align="center" class="pregunta">
          <td>Número de Expediente</td>
          <td>Término (Horas)</td>
          <td>Número de Oficio</td>
        </tr>
        <tr align="center">
          <td> <%= f.text_field :num_expediente%></td>
          <td> <%= f.text_field :termino%></td>
          <td> <%= f.text_field :num_oficio%></td>
        </tr>
        </table>
      </td>
    </tr>

    <!-- procedencia -->
     <!-- barra media -->
    <tr class="Estilo3">
      <td align="center">
        <table width="100%" border="0" cellpadding="2" cellspacing="1" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid;">
          <tr align="center" bgcolor="#E8E8E8" class="subtitulo">
            <td colspan="4" >DETALLE DEL ASUNTO</td>
          </tr>
        <tr align="center" class="pregunta">
          <td>Delito</td>
          <td>Observaciones</td>
        </tr>
        <tr align="center">
          <td> <%= f.text_area :delito, :size => "40x5"%></td>
          <td> <%= f.text_area :observaciones, :size => "40x10"%></td>
        </tr>
        </table>
      </td>
    </tr>


    <!-- espacio -->
    <tr>
      <td colspan="3"><hr /></td>
    </tr>
    <!-- FOOTER -->
    <tr>
      <td align="right">
        <table>
          <tr>
            <td>
              <input title="guardar y regresar" alt=" Guardar y regresar a la sección anterior " type="image"  src="/images/botones/btn_guardar.png" width="150" height="40" style="margin-left:90px;" onclick="this.disabled=true;this.value='Enviando, Por favor espere ...';this.form.submit();"/>
            </td>
            <td>
              <%= link_to image_tag("botones/btn_regresar.png", :width => 170, :height=>"40", :border =>0, :style => "margin-left:90px;" ) ,  :controller => "extraordinaria"-%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<% end %>

