<%@tramite = @extraordinaria.tramite%>

<div class="titulocalendario">
  <p style="font-size: 18px;"><b>RESUMEN GENERAL</b></p>
  <p style="font-size: 15px;"><b>FOLIO DE TRÁMITE:
   <%if current_user.has_role?(:direccion) || current_user.has_role?(:subdireccion)%>
          <%=link_to @tramite.folio_integrado, {:action => "menu", :id => @tramite}, :style => "color: gray;"%>
   <%else%>
          <span style="color: gray;"><%=h @tramite.folio_integrado%></span>
   <%end%>
  </b> |
  <b>NÚMERO DE EXPEDIENTE: <span style="color:gray;"><%=h (@tramite.numero_expediente) ? (@tramite.numero_expediente) : "----"%></span></b></p>
</div>


<div id="divlista">

  <%=render :partial => "tramites/extraordinario"%>

  <br />


 <%if @comparecencia = @tramite.comparecencia%>
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
      <tr style="background-color:gray; color:white">
        <th colspan="2">
          DATOS DE LA COMPARECENCIA
        </th>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Procedencia:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.procedencia%></td>
      </tr>

      <tr class="d1">
        <td style="vertical-align: middle;"><b>Carácter con el que comparece:</b></td>
        <td style="vertical-align: middle;"><%=@comparecencia.caracter%></td>
      </tr>

      <tr class="d0">
        <td style="vertical-align: middle;"><b>Datos:</b></td>
        <td style="vertical-align: middle;"><%=h (@comparecencia.datos)? @comparecencia.datos : "No existe información"%></td>
      </tr>

      <!-- disponibilidad de horario -->
      <tr class="d1">
        <td style="vertical-align: middle;"><b>Día/hora de preferencia:</b></td>
          <%if (@comparecencia.disponibilidad_horario && @comparecencia.disponibilidad_horario == 'SI') %>
              <td style="vertical-align: middle;">DISPONIBILIDAD DE HORARIO</td>
        <%else%>
                <td style="vertical-align: middle;"><%=@comparecencia.dia_preferencia%> / <%=@comparecencia.hora_preferencia%> HRS.</td>
        <%end%>
      </tr>
      
    </table><br />

    <!-- detalle del asunto -->
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="sample" style="BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid">
     <tr style="background-color:gray; color:white">
       <th colspan="2">
           DETALLE DEL ASUNTO
       </th>
     </tr>

     <%tamanio = (@comparecencia.asunto) ? @comparecencia.asunto.size : 1564 %>
     <%tamanio = (tamanio / 92) + 4%>

      <tr class="d0">
        <th colspan="2"><div style="overflow:hidden"> <%=h @comparecencia.asunto%></div></th>
      </tr>
     </table>
     <br />
  <%end%>

<!-- participantes -->
<%= render :partial => "tramites/participantes"%>

<!-- ficha -->
<%= render :partial => "tramites/historial"%>

<!-- detalle de sesiones -->
<%= render :partial => "tramites/detalle_sesiones"%>

<!-- detalle de sesiones canceladas -->
<%= render :partial => "tramites/detalle_sesiones_canceladas"%>

<!-- detalle de convenios -->
<%=render :partial => "tramites/convenios"%>

<!-- detalle de conclusion -->
<%=render :partial => "tramites/detalle_conclusion"%>

</div>

<br />
  <%= link_to image_tag("botones/regresar_menu_ant.png", :border =>0) , :controller => "extraordinaria"%><br />