<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Inicio de Sesión del Sistema Kolaval - Centro Estatal de Justicia Alternativa de Chiapas</title>
  <%= stylesheet_link_tag "oficial"%>
  <%= stylesheet_link_tag "kolaval_login"%>
</head>

<style>
body {
/*background: url("/images/pjech/fondo_alternativa.jpg");*/
background-repeat: no-repeat;
/*background-repeat: repeat-x;*/
}

table
{
margin-left: auto;
margin-right: auto;
}

td
{
padding:2px;
}

.input {
    border: 1px solid #006;
    background: #ffc;
}


div.centered{
    display:block;

    /*set the div in the center of the screen*/
    position:absolute;
    /*top:80px;*/
    top: 1.5%;
    /*left:15%;*/
    
    width:96%;
    height: 96%;
  }

</style>

  <body onload="document.getElementById('login').focus()" style="background-color: white;">
     <div class="centered">
        <table width="95%" align="center" style=" margin: auto; height: 95%">
          <tr>
              <th align="center"> <%=image_tag("kolaval/logo-inicio-kolaval.jpg", :border => 0)%></th>
          </tr>

          <tr><th style="height:1%">&nbsp;</th></tr>

          <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>
          

          <tr>
            <th class="TituloInicioSesion">INICIAR SESIÓN</th>
          </tr>
         

           <!--linea -->
          <tr>
            <th><hr class="LineaHorizontalVerde" /></th>
          </tr>

           <tr><th style="padding: 1px;">&nbsp;</th></tr>

           <%if flash[:error]%>
              <tr><th style="height: 0.4%" class="error"><%=flash[:error]%></th></tr>
           <%end%>

          <!-- inicia form -->
          <% form_tag session_path do -%>
            <tr align="center">
              <td>
              <%= text_field_tag 'login', @login, :class => "TextBoxInicioSesion", :placeholder => "NOMBRE DE USUARIO" %>
              </td>
            </tr>

             <tr style="height: 1%"><td style="padding: 0.6px;">&nbsp;</td></tr>

             <tr align="center">
              <td><%= password_field_tag 'password', nil, :class => "TextBoxInicioSesion", :placeholder => "CONTRASEÑA"%></td>
            </tr>

             <tr style="height: 1%"><td style="padding: 0.6px;">&nbsp;</td></tr>

            <!-- boton de entrar-->
            <tr align="center">
              <td>
               <input type="submit"  class="BotonEntrar" value="ENTRAR"/>
              </td>
            </tr>
        <%end%>
      </table>
   </div>

  </body>


</html>




