<!doctype html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Kolaval</title>
<style type="text/css">
body {
	margin-top: 2px;
	/*background-color: #F0F0F0;*/
}

</style>
  <%= stylesheet_link_tag "oficial"%>
  <%= stylesheet_link_tag "kolaval_login"%>
  <%= stylesheet_link_tag "kolaval_main"%>
  <%= stylesheet_link_tag "login-box"%>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr align="center" >
      <td><img src="/images/pjech/logo_centro_estatal.png" /></td>
  </tr>
  <tr><th align="center"><%=SUBDIRECCION%></th></tr>

  <tr align="center" >
    <td>
      <%=yield%>
    </td>
  </tr>
</table>
</body>
</html>