<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Centro Estatal de Justicia Alternativa - Chiapas</title>
</head>

<style>
body {
background: url("/images/pjech/fondo_alternativa.jpg");
background-repeat: no-repeat;
background-repeat: repeat-x;
}
</style>


<body onload="document.getElementById('login').focus()">
      <% form_tag session_path do -%>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: center; color: #8B1C2B; font-family: Calibri; font-size: 16px;">
          
        <!-- <tr bgcolor="#8B1C2B"> -->

         <tr bgcolor="#FFFFFF">
            <td>
               <%=image_tag("pjech/barra_inciar.png", :border => 0)%>
            </td>

            <td height="0">
              <table width="440" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="37%" style="text-align: left">Usuario: </td>
                  <td width="37%" style="text-align: left">Contraseña: </td>
                  <td width="26%" rowspan="2" valign="bottom"><input title="inicio de sesión" alt="inicio de sesión" type="image"  src="/images/botones/btn_entrar.png"/></td>
                </tr>
                <tr align="left">
                  <td> <%= text_field_tag 'login', @login %></td>
                  <td><%= password_field_tag 'password', nil%></td>
                </tr>
                <tr align="center">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><%=link_to 'Regístrate', :action => "new", :controller => "users"%></td>
                </tr>
              </table>
            </td>
        </tr>
        <tr>
          <td><hr/></td>
        </tr>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
                  
                </td>
              </tr>
              <tr>
                  <td width="100%" align="center">
                    <%=image_tag("pjech/logo_rojo.png", :border => 0, :size => "118×154", :alt => "PJECH")%>
                  </td>
                  <!--
                  <td width="46%">
                      <table width="270" border="0" align="center" cellpadding="0" cellspacing="5">
                        <tr>
                             
                        </tr>
                        

                      </table>
                  </td>
                  -->
              </tr>
            </table>
          </td>

        </tr>
    </table>
<%end%>
  </body>
</html>


